<div class="form-horizontal">
  <div class="form-group row">
      <label for="refreshButton" class="col-sm-4 col-form-label text-md-right">{{'preferences.ReloadPreferences' | translate}} </label>
      <div class="col-sm-4">
          <button id="refreshButton" class="btn btn-default" (click)="reloadFromServer()">
              <i class="fas fa-sync-alt"></i>
          </button>
      </div>
      <div class="col-sm-4">
          <p class="text-muted fs-mini">{{'preferences.ReloadPreferencesHint' | translate}}</p>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <hr class="separator-hr" />
      </div>
  </div>

  <div class="form-group row">
      <label for="language" class="col-sm-4 col-form-label text-md-right">{{'preferences.Language' | translate}} </label>
      <div class="col-sm-4">
            <select2 (valueChanged)="updateLanguage($event)"
            [data]="languages" [value]="language" [options]="select2Options" [width]="200" [cssImport]=true></select2>
      </div>
      <div class="col-sm-4">
          <p class="text-muted fs-mini">{{'preferences.LanguageHint' | translate}}</p>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <hr class="separator-hr" />
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <hr class="last-separator-hr" />
      </div>
  </div>
  <div class="form-group row">
      <div class="col-sm-12">
          <div class="row">
              <div class="col-sm-12 col-reset-default text-center">
                  <button type="button" (click)="resetDefault()" class="btn btn-success mb-xs mr-1" role="button">
                      <i class='fas fa-circle-notch'></i> {{'preferences.ResetDefault' | translate}}
                  </button>
                  <button type="button" (click)="setAsDefault()" class="btn btn-primary mb-xs" role="button">
                      <i class='far fa-hdd'></i> {{'preferences.SetDefault' | translate}}
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
