<div id="welcome-editor">
		<div id="welcome-header"></div>
		<div class="row" id="welcome-editor">
			<div class="col text-left">
				<dropzone *ngIf="!imageSource1" class="imageDropzone" #videoUpload [config]="imageDropZoneconfig" [message]="'Click or drag logo here'"
				 (error)="onUploadError($event)" (success)="onUploadSuccess($event, 1)"></dropzone>
				<img class="welcome-header-logo ml-3" src="{{ imageSource1 }}" />
				<sup><button *ngIf="imageSource1" type="button" (click)="deleteImage(1)" class="btn btn-danger delete-image"><i class="fas fa-times fa-xs"></i></button></sup>
			</div>
			<div class="col text-right">
					<dropzone *ngIf="!imageSource2" class="imageDropzone" #videoUpload [config]="imageDropZoneconfig" [message]="'Click or drag image here'"
					 (error)="onUploadError($event)" (success)="onUploadSuccess($event, 2)"></dropzone>
					<img class="welcome-header-logo mr-3" src="{{ imageSource2 }}" />
					<sup><button *ngIf="imageSource2" type="button" (click)="deleteImage(2)" class="btn btn-danger delete-image"><i class="fas fa-times fa-xs"></i></button></sup>
				</div>
		</div>
	</div>