<div id="welcome-header-editor">
		<div id="welcome-header" [style.background-color]="pageThemeInfo.headerColour"></div>
		<div class="row">
			<div class="col"></div>
			<div class="col text-center">
				<dropzone *ngIf="!imageSource1" class="imageDropzone" #videoUpload [config]="imageDropZoneconfig" [message]="'Click or drag logo here'"
				 (error)="onUploadError($event)" (success)="onUploadSuccess($event, 1)"></dropzone>
				<img class="welcome-header-logo ml-3" src="{{ imageSource1 }}" />
				<sup><button *ngIf="imageSource1" type="button" (click)="deleteImage(1)" class="btn btn-danger delete-image"><i class="fas fa-times fa-xs"></i></button></sup>
			</div>
			<div class="col text-right">
					<button type="button" class="ml-4 mt-3 btn btn-inverse header-color-picker" (colorPickerChange)="headerColourChange($event)"  [(colorPicker)]="headerColour">
							<img src="assets/img/colour-picker.png" height="15px"/>
						</button>
					<dropzone *ngIf="!imageSource2" class="imageDropzone" #videoUpload [config]="imageDropZoneconfig" [message]="'Click or drag image here'"
					 (error)="onUploadError($event)" (success)="onUploadSuccess($event, 2)"></dropzone>
					 <sup><button *ngIf="imageSource2" type="button" (click)="deleteImage(2)" class="btn btn-danger delete-image"><i class="fas fa-times fa-xs"></i></button></sup>
					<img class="welcome-header-logo-right mr-3" src="{{ imageSource2 }}" />
					
				</div>
		</div>
	</div>