<div id="welcome-header-editor">
		<div id="welcome-header" [style.background-color]="pageThemeInfo.headerColour"></div>
		<div class="row" [style.max-height.px]="pageThemeInfo.headerMaxHeightScale1 > pageThemeInfo.headerMaxHeightScale2 ? pageThemeInfo.headerMaxHeightScale1 * 100 : pageThemeInfo.headerMaxHeightScale2 * 100">
			<div class="col d-none d-xl-block"></div>
			<div class="col text-center" >
				<dropzone *ngIf="!imageSource1" class="imageDropzone" #videoUpload [config]="imageDropZoneconfig" [message]="'Click or drag logo here'"
				 (error)="onUploadError($event)" (success)="onUploadSuccess($event, 1)"></dropzone>
				 <div *ngIf="imageSource1" class="maxHeight-slider"><mv-slider  [min]="0.2" [max]="0.9" [step]="0.02" [(value)]="pageThemeInfo.headerMaxHeightScale1" (change)="headerMaxHeightChange1($event)"></mv-slider></div>
				 <sup><button *ngIf="imageSource1" type="button" (click)="deleteImage(1)" class="btn btn-danger delete-image"><i class="fas fa-times fa-xs"></i></button></sup>
				 <img *ngIf="imageSource1" class="welcome-header-logo ml-3" src="{{ imageSource1 }}" [style.max-height.px]="pageThemeInfo.headerMaxHeightScale1 * 100" />

			</div>
			<div class="col d-none d-lg-block text-right">
					<button type="button" class="ml-4 mt-3 btn btn-inverse header-color-picker" (colorPickerChange)="headerColourChange($event)"  [(colorPicker)]="pageThemeInfo.headerColour">
							<img src="assets/img/colour-picker.png" height="15px"/>
						</button>
					<dropzone *ngIf="!imageSource2" class="imageDropzone" #videoUpload [config]="imageDropZoneconfig" [message]="'Click or drag image here'"
					 (error)="onUploadError($event)" (success)="onUploadSuccess($event, 2)"></dropzone>
					 <div *ngIf="imageSource2" class="maxHeight-slider right-slider-adjust"><mv-slider  [min]="0.2" [max]="0.9" [step]="0.02" [(value)]="pageThemeInfo.headerMaxHeightScale2" (change)="headerMaxHeightChange2($event)"></mv-slider></div>
					 <sup><button *ngIf="imageSource2" type="button" (click)="deleteImage(2)" class="btn btn-danger delete-image"><i class="fas fa-times fa-xs"></i></button></sup>
					<img *ngIf="imageSource2" class="welcome-header-logo-right mr-3" src="{{ imageSource2 }}" [style.max-height.px]="pageThemeInfo.headerMaxHeightScale2 * 100" />
					
				</div>
		</div>
	</div>