.likert-container {
    position: relative;
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    margin: auto;
    width: 90%;

    .likert-option {
        width: 140px;
        height: 6rem;
        text-align:center;
    }

    .selected {
        background: #c0d2d8;
        z-index: 2;
        color: black;
        font-weight: bold;
        border-radius: 5px;

    }
    .custom-control {
        padding-left: 0px;
    }

    .custom-control-inline {
        margin-right: 0px;
    }

    .likert-option-radio {
        display: block;
    }
    .custom-control-label
    {
        top: 2.5rem;
        height: 3.0rem;
        vertical-align: middle;
        display: inline-flex;
        align-items: center;
    }

   

    .custom-control-label::before {
        position: absolute;
        top: -1.25rem;
        left: calc(50% - 0.45rem);
    }

    .custom-control-label::after {
        position: absolute;
        top: -1.25rem;
        left: calc(50% - 0.45rem);

    }

    .custom-control-label label {
        max-width: 100px;
        top: 2.5rem;
        height: 4rem;

    }
}

.likert-container::before {
    height: 4px;
    background: #a5b3bb;
    content: "";
    position: absolute;
    left: 70px;
    right: 70px;
    top: 1.55rem;

}