<div class="special-page-editor" [style.background-color]="pageThemeInfo.pageBackgroundColour" *ngIf="loadedComponents">
	<div id="special-page-header">
		<ndc-dynamic *ngIf="headerComponent" [ndcDynamicComponent]="headerComponent" [ndcDynamicInputs]="headerInputs"></ndc-dynamic>
	</div>
	<div *ngIf="pageType == 'welcome'" id="special-page-surveyAccess">
		<ndc-dynamic *ngIf="surveyAccessComponent" [ndcDynamicComponent]="surveyAccessComponent" [ndcDynamicInputs]="surveyAccessInputs" [ndcDynamicOutputs]="surveyAccessOutputs"></ndc-dynamic>
	</div>
	<!--<app-question-viewer [pageThemeInfo]="pageThemeInfo" [allPages]="allPages" *ngIf="pageType == 'questionViewer'"></app-question-viewer>-->
	<div *ngIf="pageType != 'questionViewer'" id="special-page-content">
		<div *ngFor="let component of componentList; index as i">
			<div [style.background-color]="pageThemeInfo.sectionBackgroundColour[pageType][i]" [style.color]="bestSectionTextColour[i]">
				<ndc-dynamic [ndcDynamicComponent]="component" [ndcDynamicInputs]="getComponentInputs(i)"></ndc-dynamic>
			</div>
		</div>
	</div>
	<app-privacy-confirmation (termsAccepted)="acceptTerms()" [pageThemeInfo]="pageThemeInfo" [(pageHTML)]="termsFooterHTML" *ngIf="pageType == 'privacyPolicy'"></app-privacy-confirmation>
	<div id="special-page-footer"  *ngIf="pageType != 'privacyPolicy'">
		<ndc-dynamic *ngIf="footerComponent" [ndcDynamicComponent]="footerComponent" [ndcDynamicInputs]="footerInputs" ></ndc-dynamic>
		</div>
</div>