<div *ngIf="isLoaded | async">
    <div class="address-header">
       <span class="purpose">{{purpose}}</span> <span class="origin-address">{{ originAddress}}</span> - <span class="destination-address">{{destinationAddress}}</span>
    </div>
	<div *ngFor="let trip of route.trips.Trip; let idx = index" class="route-select-question-container">
		<label>
			<input type="radio" name="{{ radioName }}" [value]="idx" [(ngModel)]="selectedIndex" (ngModelChange)="modelChanged($event)" />
			<traisi-route-display [trip]="trip" class="route-display"></traisi-route-display>
		</label>
	</div>
</div>
