<div>
		<h1 class="page-title">Execute Survey - <strong>{{ survey.name }}</strong> - Live Survey</h1>
		<div class="clearfix">
				<ul class="nav nav-tabs float-left" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active fw-semi-bold" id="codes-tab" data-toggle="tab" href="#codes" role="tab"
						 aria-controls="codes" aria-expanded="true">Codes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-semi-bold" id="email-tab" data-toggle="tab" href="#email" role="tab"
							aria-controls="email" aria-expanded="true">E-mail</a>
					</li>
					<li class="nav-item">
							<a class="nav-link fw-semi-bold" id="schedule-tab" data-toggle="tab" href="#schedule" role="tab"
								aria-controls="schedule" aria-expanded="true">Schedule</a>
						</li>
				</ul>
			</div>
			<div class="tab-content mb-lg" id="myTabContent">
					<div role="tabpanel" class="tab-pane active in clearfix" id="codes" aria-labelledby="codes-tab" aria-expanded="true">
					</div>
					<div role="tabpanel" class="tab-pane" id="email" aria-labelledby="email-tab" aria-expanded="true">
					</div>
					<div role="tabpanel" class="tab-pane" id="schedule" aria-labelledby="schedule-tab" aria-expanded="true">
					</div>
			</div>
</div>