<div class="form-group form-group-adjust row">
	<label for="{{ 'singleselect-' + id }}" class="col-md-3 col-form-label text-md-right">{{ questionConfiguration.name}}</label>
	<div class="col-md-9">
		<ngx-select id="{{ 'singleselect-' + id }}" [defaultValue]="dropDownListSelectedId" [allowClear]="false" [items]="dropDownListItems" (select)="valueChanged($event)"
		placeholder="please select an option">
			<ng-template ngx-select-option-not-found>
				Nothing found
			</ng-template>
		</ngx-select>
	</div>
</div>