<div class="form-group form-group-adjust row">
	<div class="custom-control custom-checkbox">
		<div class="col-auto">
			<input
				[(ngModel)]="switchValue"
				class="custom-control-input"
				type="checkbox"
				checked
				id="{{ 'config-check-' + id }}"
			/>
			<label class="custom-control-label" for="{{ 'config-check-' + id }}">{{
				questionConfiguration.name
			}}</label>

			<small id="{{ 'config-description-' + id }}" class="form-text text-muted">
				{{ questionConfiguration.description }}
			</small>
		</div>
	</div>
</div>
