<smooth-dnd-container [dragHandleSelector]="'.grab-handle'" (drop)="onDrop($event)"
	[getChildPayload]="getPayload" [lockAxis]="'y'">
	<smooth-dnd-draggable *ngFor="let screeningQuestion of questionsList; index as i; trackBy:trackByIdx">
		<div class="form-group row response-option-container">
			<div class="input-group col-lg-6 offset-lg-3">
				<input type="text" class="form-control optionValue" name="question-{{i}}" id="label-{{i}}" [(ngModel)]="questionsList[i]" (change)="updateHTML()" />
				<div class="input-group-append">
					<button type="button" class="btn btn-danger" (click)="deleteQuestion(i)">
						<i class="fas fa-trash-alt"></i>
					</button>
					<button type="button" class="btn btn-gray grab-handle">
						<i class="fas fa-bars"></i>
					</button>
				</div>
			</div>
		</div>
	</smooth-dnd-draggable>
</smooth-dnd-container>
<div class="row justify-content-center mt-3 mb-3">
	<div class="text-center">
		<button class="btn btn-primary" (click)="addQuestion()">
			<i class="fas fa-plus-circle"></i> Add Question
		</button>
	</div>
</div>