#toasty.toasty-position-top-right {
  top: 20px;
  right: 20px;
}

#toasty .toast.toasty-theme-bootstrap {
  font-size: 1em;
}

#toasty .toast.toasty-theme-bootstrap .toast-text .toast-title {
  font-size: 1.04em;
}