<div class="js-sidebar-content">
	<header class="logo d-none d-md-block">
		<a [routerLink]=" [''] ">
			<img src="{{ config.logo }} " height="59">
		</a>
	</header>
	<div class="sidebar-status d-md-none dropdown" placement="bottom left">
		<a [routerLink]=" ['account'] " class="dropdown-toggle">
			<span class="thumb-sm avatar float-right">
				<img class="rounded-circle" src="assets/img/avatar.png" alt="...">
			</span>
			<!-- .circle is a pretty cool way to add a bit of beauty to raw data.
           should be used with bg-* and text-* classes for colors -->
			&nbsp;
			<strong>{{ userName }}</strong>&nbsp;
		</a>
	</div>
	<!-- main notification links are placed inside of .sidebar-nav -->
	<ul class="sidebar-nav">
		<li>
			<a [routerLink]=" ['dashboard'] ">
				<span class="icon">
					<i class="fa fa-dashboard"></i>
				</span>
				{{ 'sidebar.Dashboard' | translate }}
			</a>
		</li>
		<li>
			<a [routerLink]=" ['surveys'] ">
				<span class="icon">
					<i class="fa fa-cubes"></i>
				</span>
				Manage Surveys
			</a>
		</li>
		<li *ngIf="isGroupAdmin">
			<a [routerLink]=" ['groups'] ">
				<span class="icon">
					<i class="fa fa-sliders"></i>
				</span>
				Manage Groups
			</a>
		<li *ngIf="canManageUsers || isGroupAdmin">
			<a [routerLink]=" ['users'] ">
				<span class="icon">
					<i class="fa fa-users"></i>
				</span>
				Manage Users
			</a>
		</li>
		<li *ngIf="canViewRoles">
			<a [routerLink]=" ['users/roles'] ">
				<span class="icon">
					<i class="fa fa-gg-circle"></i>
				</span>
				Manage Roles
			</a>
		</li>
		<li>
			<a [routerLink]=" ['survey-viewer'] ">
				<span class="icon">
					<i class="fa fa-eye"></i>
				</span>
				Survey Viewer
			</a>
		</li>
		<li>
			<a [routerLink]=" ['chat'] ">
				<span class="icon">
					<i class="fa fa-commenting"></i>
				</span>
				Chat
			</a>
		</li>
		<li *ngIf="configFn.isScreen('xs') || configFn.isScreen('sm')">
			<a (click)="logout()">
				<span class="icon">
					<i class="fa fa-sign-out"></i>
				</span>
				Logout
			</a>
		</li>
	</ul>

	<!--
  <h5 class="sidebar-nav-title">Labels <a class="action-link" href="#"><i class="glyphicon glyphicon-plus"></i></a></h5>

  <ul class="sidebar-labels">
    <li>
      <a href="#">

        <i class="fa fa-circle text-warning mr-xs"></i>
        <span class="label-name">My Recent</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-circle text-gray mr-xs"></i>
        <span class="label-name">Starred</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-circle text-danger mr-xs"></i>
        <span class="label-name">Background</span>
      </a>
    </li>
  </ul>
  <h5 class="sidebar-nav-title">Projects</h5>

  <div class="sidebar-alerts">
    <div class="alert fade show">
      <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
      <span class="text-white fw-semi-bold">Sales Report</span> <br>
      <div class="progress progress-xs mt-xs mb-0">
        <div class="progress-bar progress-bar-gray-light" role="progressbar" style="width: 16%" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <small>Calculating x-axis bias... 65%</small>
    </div>
    <div class="alert fade show">
      <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
      <span class="text-white fw-semi-bold">Personal Responsibility</span> <br>
      <div class="progress progress-xs mt-xs mb-0">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 23%" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <small>Provide required notes</small>
    </div>
  </div> -->
</div>