.time-question-container select
{
    display: inline-block;
}
.time-question-container select.hours
{
    width: 75px;
}

.time-question-container select.minutes
{
    width: 75px;
}

.time-question-container select.ampm
{
    width: 75px;
}

.time-question-container .input-group
{
    display: block;
}