<div class="input-group">
    <span class="input-group-prepend">
        <span class="input-group-text bg-transparent">
            <i class="fas fa-search"></i>
        </span>
    </span>
    <input id="searchInput" #searchInput type="search"   [(ngModel)]="input" (ngModelChange)="onValueChange($event)" [attr.placeholder]="placeholder" class="form-control left-icon right-icon">
    <span *ngIf="searchInput.value" class="input-group-append">
        <button class="btn btn-danger" title="Clear" (click)="clear()">
            <i class="fas fa-times-circle clear-input right-icon"></i>
        </button>
    </span>
</div>
