@import '../../../scss/helpers';

.vertical-middle {
	top: 30%;
}

dropzone {
	height: 100px !important;
	.dz-message {
		overflow: hidden !important;
	}
}

.hidden {
	visibility: hidden;
}

.separator-hr {
	margin: 0px 0px 8px 0px;
	border-top: 1px dashed gray;
}

.datatable-header {
	font-weight: $font-weight-semi-bold;
	text-transform: uppercase;
	border-bottom-width: 1px;
}

datatable-scroller {
	width: 100% !important;
}

.remove-padding {
	padding-top: 0px !important;
}
