<div class="date-question-container">

    <div class="input-group input-group-lg">


        <input type="text" placeholder="Datepicker" class="form-control" (bsValueChange)="onValueChange($event)"
            #dateInput="bsDatepicker" [bsConfig]="bsConfig" [ngModel]="dateData" bsDatepicker [maxDate]="configuration.maxDate"
            [minDate]="configuration.minDate" >

        <div class="input-group-append">

            <button class="btn btn-primary" (click)="dateInput.toggle()" [attr.aria-expanded]="dateInput.isOpen">Date
                Picker</button>
        </div>
    </div>
</div>