#privacy-confirmation-container {
	margin-top: 10px;
	padding: 10px 20px 10px 10px;
}

#privacy-confirmation-spacer {
	height: 100px;
}

.accept-privacy-button {
	border-radius: 10px;
	min-width: 80px;
	text-align: center;
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
}

