<div id="privacy-confirmation-spacer"></div>
<div id="privacy-confirmation-container"[style.background-color]="pageThemeInfo.termsAcceptColour" class="fixed-bottom" >
	<div class="row">
		<div class="col-md-9 col-12" [style.color]="footerTextColour">
				<quill-editor class="quill-page-editor ql-previewmode" [modules]="quillModules" theme="bubble" [readOnly]="true" placeholder="" [(ngModel)]="pageHTMLJson.termsHtml"></quill-editor> 
		</div>
		<div class="col-12 col-md-3 justify-content-center d-flex align-items-center">
				<button type="button" class="accept-privacy-button btn btn-primary" (click)="acceptTerms()"> {{ stripHTML(acceptTermsHTML) }}
						
					</button>
		</div>
	</div>
</div>
