@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~ngx-toastr/toastr-bs4-alert";

body {
    font-family: Metropolis !important;
    font-size: 16px !important;
    background: #e2e6ef;
}

