<div [@fadeInOut]>
	<h1 class="page-title">
		{{ 'surveys.management.ManageSurveys' | translate }}
	</h1>

	<div class="card card-fluid">
		<div>
			<ul class="nav nav-tabs float-left" id="myTab" role="tablist">
				<li class="nav-item">
					<a
						class="nav-link active fw-semi-bold"
						(click)="switchGroup('unGrouped')"
						id="solo-tab"
						data-toggle="tab"
						href="#solo"
						role="tab"
						aria-controls="solo"
						aria-expanded="true"
					>
						{{ 'surveys.management.Solo' | translate }}
					</a>
				</li>
				<li class="nav-item">
					<a
						class="nav-link fw-semi-bold"
						(click)="switchGroup('shared')"
						id="shared-tab"
						data-toggle="tab"
						href="#shared"
						role="tab"
						aria-controls="shared"
						aria-expanded="true"
					>
						{{ 'surveys.management.Shared' | translate }}
					</a>
				</li>
				<li *ngFor="let group of allGroups" class="nav-item">
					<a
						class="nav-link fw-semi-bold"
						(click)="switchGroup(group.name)"
						id="{{ group.name + '-tab' }}"
						data-toggle="tab"
						href="#group"
						role="tab"
						aria-controls="group.name"
						aria-expanded="true"
					>
						{{ group.name }}
						<sup class="badge badge-pill badge-primary">G</sup>
					</a>
				</li>
			</ul>

			<div class="tab-content card-body" id="myTabContent">
				<div role="tabpanel" class="tab-pane active in clearfix" id="solo" aria-labelledby="solo-tab" aria-expanded="true">
					<div class="form-group">
						<div class="input-group input-group-alt">
							<div class="form-group search-box">
								<search-input
									(searchChange)="onSearchChanged($event)"
									placeholder="{{ 'surveys.management.Search' | translate }}"
								></search-input>
							</div>
						</div>
					</div>
					<ngx-datatable
						[@fadeInOut]
						#soloTable
						*ngIf="!groupBeingViewed && !sharedBeingViewed"
						class="bootstrap sm table table-striped table-hover table-responsive"
						[rows]="soloSurveyRows"
						[columns]="soloSurveyColumns"
						[loadingIndicator]="loadingIndicator"
						[scrollbarH]="true"
						[rowHeight]="45"
						[headerHeight]="35"
						[footerHeight]="35"
						[columnMode]="'flex'"
						(activate)="rowExpand($event)"
						[rowClass]="rowCursor"
					>
						<ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
							<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
								<div class="surveyDetails">
									<div class="row justify-content-between pl-3 pr-3">
										<button class="btn btn-primary col rounded-0" (click)="editSurvey(row)">
											<span>
												<i class="fas fa-cog" aria-hidden="true"></i>
											</span>
											Settings
										</button>
										<button class="btn btn-primary col rounded-0" [routerLink]="['/app/survey-builder', row.id]">
											<span>
												<i class="fas fa-edit" aria-hidden="true"></i>
											</span>
											Design
										</button>
										<button class="btn btn-primary col rounded-0" [routerLink]="['/app/survey-execute', row.id]">
											<span>
												<i class="fas fa-envelope" aria-hidden="true"></i>
											</span>
											Execute
										</button>
										<button class="btn btn-primary col rounded-0">
											<span>
												<i class="fas fa-chart-bar" aria-hidden="true"></i>
											</span>
											Analyze
										</button>
										<button class="btn btn-primary col rounded-0" (click)="showSurveyShareDialog(row)">
											<span>
												<i class="fas fa-share" aria-hidden="true"></i>
											</span>
											Share
										</button>
										<button class="btn btn-primary col rounded-0" (click)="previewSurvey(row)">
											<span>
												<i class="fas fa-eye" aria-hidden="true"></i>
											</span>
											Preview
										</button>
									</div>
								</div>
							</ng-template>
						</ngx-datatable-row-detail>
					</ngx-datatable>
				</div>
				<div role="tabpanel" class="tab-pane" id="shared" aria-labelledby="shared-tab" aria-expanded="true">
					<div class="row ">
						<div class="col-sm-4">
							<div class="form-group search-box">
								<search-input
									(searchChange)="onSearchChanged($event)"
									placeholder="{{ 'surveys.management.Search' | translate }}"
								></search-input>
							</div>
						</div>
					</div>
					<ngx-datatable
						[@fadeInOut]
						#sharedTable
						*ngIf="!groupBeingViewed && sharedBeingViewed"
						class="bootstrap sm table table-striped table-hover table-responsive"
						[rows]="sharedSurveyRows"
						[columns]="sharedSurveyColumns"
						[loadingIndicator]="loadingIndicator"
						[scrollbarH]="true"
						[rowHeight]="45"
						[headerHeight]="35"
						[footerHeight]="35"
						[columnMode]="'flex'"
						(activate)="rowExpand($event)"
						[rowClass]="rowCursor"
					>
						<ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
							<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
								<div class="surveyDetails">
									<div class="row justify-content-end">
										<button *ngIf="canEdit(row)" class="btn btn-primary col rounded-0" (click)="editSurvey(row)">
											<div>
												<i class="fas fa-cog fa-4" aria-hidden="true"></i>
											</div>
											Settings
										</button>
										<button
											*ngIf="canEdit(row)"
											class="btn btn-primary col rounded-0"
											[routerLink]="['/app/survey-builder', row.id]"
										>
											<div class="surveyActionLabel">
												<strong>Design</strong>
											</div>
											<div>
												<i class="fas fa-edit" aria-hidden="true"></i>
											</div>
										</button>
										<button
											*ngIf="canEdit(row)"
											class="btn btn-primary col rounded-0"
											[routerLink]="['/app/survey-execute', row.id]"
										>
											<div class="surveyActionLabel">
												<strong>Execute</strong>
											</div>
											<div>
												<i class="fas fa-envelope" aria-hidden="true"></i>
											</div>
										</button>
										<button *ngIf="canAnalyze(row)" class="btn btn-primary col rounded-0">
											<div class="surveyActionLabel">
												<strong>Analyze</strong>
											</div>
											<div>
												<i class="fas fa-chart-bar" aria-hidden="true"></i>
											</div>
										</button>
										<button *ngIf="canShare(row)" class="btn btn-primary col rounded-0">
											<div class="surveyActionLabel">
												<strong>Share</strong>
											</div>
											<div>
												<i class="fas fa-share" aria-hidden="true"></i>
											</div>
										</button>
									</div>
								</div>
							</ng-template>
						</ngx-datatable-row-detail>
					</ngx-datatable>
				</div>
				<div role="tabpanel" class="tab-pane" id="group" aria-labelledby="group-tab" aria-expanded="true">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group search-box">
								<search-input
									(searchChange)="onSearchChanged($event)"
									placeholder="{{ 'surveys.management.Search' | translate }}"
								></search-input>
							</div>
						</div>
					</div>
					<ngx-datatable
						[@fadeInOut]
						#groupTable
						*ngIf="groupBeingViewed && !sharedBeingViewed"
						class="bootstrap sm table table-striped table-hover table-responsive"
						[rows]="groupSurveyRows"
						[columns]="groupSurveyColumns"
						[loadingIndicator]="loadingIndicator"
						[scrollbarH]="true"
						[rowHeight]="45"
						[headerHeight]="35"
						[footerHeight]="35"
						[columnMode]="'flex'"
						(activate)="rowExpand($event)"
						[rowClass]="rowCursor"
					>
						<ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
							<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
								<div class="surveyDetails">
									<div class="row justify-content-between pl-3 pr-3">
										<div *ngIf="canEdit(row)" class="btn btn-primary col rounded-0" (click)="editSurvey(row)">
											<span>
												<i class="fas fa-cog fa-4" aria-hidden="true"></i>
											</span>
											Settings
										</div>
										<button
											*ngIf="canEdit(row)"
											class="btn btn-primary col rounded-0"
											[routerLink]="['/app/survey-builder', row.id]"
										>
											<span>
												<i class="fas fa-edit" aria-hidden="true"></i>
											</span>
											Design
										</button>
										<button *ngIf="canEdit(row)" class="btn btn-primary col rounded-0">
											<span>
												<i class="fas fa-envelope" aria-hidden="true"></i>
											</span>
											Execute
										</button>
										<button *ngIf="canAnalyze(row)" class="btn btn-primary col rounded-0">
											<span>
												<i class="fas fa-chart-bar" aria-hidden="true"></i>
											</span>
											Analyze
										</button>
										<button *ngIf="canShare(row)" class="btn btn-primary col rounded-0">
											<span>
												<i class="fas fa-share" aria-hidden="true"></i>
											</span>
											Share
										</button>
										<button *ngIf="noAccess(row)" class="btn btn-primary col rounded-0">
											<span>
												<i class="fas fa-check-circle" aria-hidden="true"></i>
											</span>
											Request
										</button>
									</div>
								</div>
							</ng-template>
						</ngx-datatable-row-detail>
					</ngx-datatable>
				</div>
			</div>
		</div>
	</div>

	<ng-template #expandTemplate let-row="row" let-expanded="expanded">
		<div>
			<a title="Expand/Collapse Row">
				<i [hidden]="expanded" class="fa fa-caret-right" aria-hidden="true"></i>
				<i [hidden]="!expanded" class="fa fa-caret-down" aria-hidden="true"></i>
			</a>
		</div>
	</ng-template>

	<ng-template #textTemplate let-row="row" let-value="value" let-i="index">
		<div class="text-truncate">{{ value }}</div>
	</ng-template>

	<ng-template #dateTemplate let-row="row" let-value="value" let-i="index">
		<div>{{ value | date }}</div>
	</ng-template>

	<ng-template #surveyTagTemplate let-row="row" let-value="value" let-i="index">
		<span class="user-role badge badge-secondary" *ngIf="row.isOpen">
			Open Survey
		</span>
		<span class="user-role badge badge-primary" *ngIf="row.isActive">
			Active
		</span>
	</ng-template>

	<ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
		<div>
			<a class="badge badge-primary" href="javascript:;" (click)="previewSurvey($event, row)">
				<i class="far fa-eye" aria-hidden="true"></i>
				{{ 'surveys.management.View' | translate }}
			</a>
		</div>
	</ng-template>

	<div class="row justify-content-center">
		<div>
			<button class="btn btn-primary mr-3" (click)="newSurvey()">
				<i class="fas fa-plus-circle"></i>
				{{ 'surveys.management.NewSurvey' | translate }}
			</button>
			<button class="btn btn-secondary" (click)="importSurvey()">
				<i class="fas fa-file-import"></i>
				{{ 'surveys.management.ImportSurvey' | translate }}
			</button>
		</div>
	</div>

	<div
		class="modal fade"
		bsModal
		#editorModal="bs-modal"
		(onHidden)="onEditorModalHidden()"
		[config]="{ backdrop: 'static' }"
		(onShow)="onEditorModalShow()"
		tabindex="-1"
	>
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title pull-left" *ngIf="surveyEditMode">
						<i class="fab fa-wpforms mr-2"></i>
						Edit Survey
					</h4>
					<h4 class="modal-title pull-left" *ngIf="!surveyEditMode && !importing">
						<i class="fab fa-wpforms mr-2"></i>
						{{ 'surveys.management.NewSurvey' | translate }}
					</h4>
					<h4 class="modal-title pull-left" *ngIf="!surveyEditMode && importing">
						<i class="fab fa-wpforms mr-2"></i>
						{{ 'surveys.management.ImportSurvey' | translate }}
					</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEditorModal()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<app-surveys-editor [importing]="importing" #surveyEditor></app-surveys-editor>
				</div>
			</div>
		</div>
	</div>

	<div
		class="modal fade"
		bsModal
		#shareModal="bs-modal"
		(onHidden)="onShareModalHidden()"
		[config]="{ backdrop: 'static' }"
		(onShow)="onShareModalShow()"
		tabindex="-1"
	>
		<div class="modal-dialog modal-lg">
			<div class="modal-content share-dialog">
				<div class="modal-header">
					<div>
						<h4 class="modal-title pull-left">
							<i class="fas fa-cubes mr-2"></i>
							Share Survey
						</h4>
						<br />
						<strong *ngIf="sharedSurvey">{{ sharedSurvey.name }}</strong>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeShareModal()">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<button [disabled]="downloadIndicator" class="btn btn-primary w-100" (click)="exportSurvey()">
						<i *ngIf="downloadIndicator" class="fas fa-circle-notch fa-spin mr-2"></i>
						Export
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
