@import 'src/shared/assets/scss/helpers';
.surveyDetails {
  width: calc(100% - 0px);
	padding: 0px;
	overflow: hidden;
}

.surveyAction {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right:10px;
	position: relative;
	cursor: pointer;

	i {
		font-size:20px;
	}
}

.surveyActionLabel {
	font-size:11px;
}

.cursor-pointer {
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
					user-select: none; /* Non-prefixed version, currently
																supported by Chrome and Opera */
}

.survey-management-table datatable-body-row, .survey-management-table datatable-body-cell
{
  height: auto !important;
  overflow: visible !important;
  min-height: 45px !important;
}

.build-icon
{
  font-size:22px;
  text-align: center;
}

.share-dialog {
	max-width: 300px;
	margin: auto;
}

#solo {
	.datatable-body {
		overflow: hidden;
	}
}