//@import 'src/shared/assets/scss/helpers';
@import "../../../assets/scss/application.scss";

@keyframes placholderAnim {
	0% {
		background-position: -468px 0
	}
	100% {
		background-position: 468px 0
	}
}

.animated-background {
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placholderAnim;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background-size: 468px 64px;
	height: 46px;
	position: relative;
}


@include media-breakpoint-only(xs) {

}

@include media-breakpoint-only(sm) {

}

@include media-breakpoint-only(md) {

}

@include media-breakpoint-only(lg) {

}

@include media-breakpoint-only(xl) {

}
