<div *ngIf="isFinishedLoading">
	<app-header1 *ngIf="model.header1" [pageThemeInfo]="pageThemeInfo" [pageObject]="model.header1"></app-header1>
	<app-header2 *ngIf="model.header2" [pageThemeInfo]="pageThemeInfo" [pageObject]="model.header2"></app-header2>

	<div class="shortcode-display-container">
		<h1>{{ 'ShortcodeDisplay.YourShortcode' | translate}}</h1>
		<div class="shortcode-info">
			{{ 'ShortcodeDisplay.ShortcodeInformation' | translate }}
		</div>
		<div class="shortcode-display text-info">
			{{ model.shortcode }}
		</div>

		<div class="start-survey">
			<button type="submit" class="btn btn-primary" (click)="onStartSurvey()">
				{{ 'ShortcodeDisplay.StartSurvey' | translate }}
			</button>
		</div>
	</div>
	<app-footer1
		*ngIf="model.footer1"
		class="footer fixed-bottom groupcode-footer groupcode-footer1"
		[pageThemeInfo]="pageThemeInfo"
		[pageHTML]="model.footer1.html"
	></app-footer1>
</div>
