<div [@fadeInOut]>
    <h1 class="page-title">
        {{ 'surveys.analyze.SampleAnalysis' | translate }}
    </h1>
    <div class="card card-fluid">
        <!--Sample Distribution Analysis-->
        <div class="row">
            <div class="card-body" style="margin-left: 1rem;">
                <div style="height: 0.5rem;"></div>
                <div class="row">
                    <div class="col-md-4 text-primary" style="text-align: left; height: 3.7rem;">Impact of
                        COVID-19 on
                        transit demand in the <br> GTHA</div>
                    <div class="col-md-2" style="text-align: center;">{{daysInField}} <br> Days in Field</div>
                    <div class="col-md-2" style="text-align: center;">{{avgResponsePerDay}}<br> Avg Response/Day
                    </div>
                    <div class="col-md-2" style="text-align: center;">{{completed}} <br> Complete</div>
                    <div class="col-md-2" style="text-align: center;">{{incomplete}}<br> Incomplete
                    </div>
                </div>
                <div class="progress" style="height:1.5rem;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br />
                <div style="height: 1.5rem; color: blue; margin-left: 1rem;">
                    <!-- Questions dropdown list -->
                    Select Question : <select [(ngModel)]="selectedQuestion" style="height: 1.5rem;"
                        (change)="filterByQuestion()">
                        <option *ngFor="let item of questions;" value="{{item.id}}">{{item.name}}</option>
                    </select>
                    <!-- Regions dropdown list-->
                     <!-- Will enable this code for Region Based Filtering -->
                    <!--  Select Region : <select [(ngModel)]="selectedRegion" (change)="filterByCity()"
                        style="height: 1.5rem;">
                        <option value="">All Cities</option>
                        <option *ngFor="let item of actualResponses;">{{item.city}}</option>
                    </select> -->
                </div>
                <br />
                <div>
                    <!-- Question type/options results count displayed in the table -->
                    <div>
                        <h6 style="margin-left: 1.2rem; height: 2.0rem;">Question Based Responses</h6>
                    </div>
                    <!-- Radio/Checkbox Question Type Table -->
                    <table *ngIf="x" width="750" cellpadding="5" border="1" style="margin-left: 1rem;">
                        <tr>
                            <th>Question Option Code</th>
                            <th>Question Option Label</th>
                            <th>Count</th>
                            <th>Percentage</th>
                        </tr>
                        <tr *ngFor="let item of questionResults">
                            <td>{{item.questionOption}}</td>
                            <td>{{item.label}}</td>
                            <td style="text-align: right;">{{item.count}}</td>
                            <td style="text-align: right;">{{item.percentage}}</td>
                        </tr>
                    </table>
                    <!-- Matrix Question Type Table -->
                    <table *ngIf="y" width="750" cellpadding="5" border="1" style="margin-left: 1rem;">
                        <tr>
                            <th>Question</th>
                            <th>Responses</th>
                        </tr>
                        <tr *ngFor="let item of questionResults">
                            <td>{{matrixResults.label}}</td>                          
                            <td style="text-align: right;">{{matrixResults.count}}</td>
                        </tr>
                    </table> 
                </div>
                <!-- Will enable this code for Region Based Filtering -->
                <!-- <div style="height: 2.5rem; margin-left: 1.2rem;"></div>
                <h6 style="margin-left: 1.2rem; height: 2.0rem;">Region Based Responses</h6>
                <div *ngFor="let item of responses;" class="row" style="clear:right;">
                    <div class="col-2">{{item.city}}</div>
                    <div class="col-6" style="height:2.5rem; width:400px;">
                        <div class="progress" style="height:1.5rem;">
                             <div class="{{item.colorClass}}" [style.width]="item.percentage"></div> 
                            <div class="progress-bar bg-success" [style.width]="item.percentage"></div>
                            <div class="progress-bar bg-danger" [style.width]="item.pending"></div>
                        </div>
                    </div>
                    <div class="col-4">{{item.compSurveyByCity}} (Complete) / {{item.incompSurveyByCity}} (Incomplete)
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>