<div [@fadeInOut]>
    <h1 class="page-title">
        {{ 'surveys.analyze.SampleAnalysis' | translate }}
    </h1>
    <div class="card card-fluid">
        <!--Sample Distribution Analysis-->
        <div class="row">
            <div class="card-body" style="margin-left: 1rem;">
                <div style="height: 0.5rem;"></div> 
                <div class="row">
                    <div class="col-md-4 text-primary" style="text-align: left; height: 3.7rem;">Impact of
                        COVID-19 on
                        transit demand in the <br> GTHA</div>
                    <div class="col-md-2" style="text-align: center;">{{daysInField}} <br> Days in Field</div>
                    <div class="col-md-2" style="text-align: center;">{{avgResponsePerDay}}<br> Avg Response/Day
                    </div>
                    <div class="col-md-2" style="text-align: center;">{{completed}} <br> Complete</div>
                    <div class="col-md-2" style="text-align: center;">{{incomplete}}<br> Incomplete
                    </div>
                </div>
                <div class="progress" style="height:1.5rem;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <br/>
                <div style="height: 1.5rem; color: blue; margin-left: 1rem;">
                   Region: <select  [(ngModel)]="selectedRegion" (change)="doFilter()" style="height: 1.5rem;" >
                        <option *ngFor="let item of actualResponses;">{{item.city}}</option>
                    </select>
                </div>
                
                <div style="height: 1.5rem;"></div>
                <div *ngFor="let item of responses;" class="row" style="clear:right;">
                    <div class="col-2">{{item.city}}</div>
                    <div class="col-6" style="height:2.5rem; width:400px;">
                        <div class="progress" style="height:1.5rem;">
                            <!-- <div class="{{item.colorClass}}" [style.width]="item.percentage"></div> -->
                            <div class="progress-bar bg-success" [style.width]="item.percentage"></div> 
                            <div class="progress-bar bg-danger" [style.width]="item.pending"></div>
                        </div>
                    </div>
                    <!-- <div class="col-4">{{item.count}}/3500</div> -->
                    <div class="col-4">{{item.compSurveyByCity}} (Complete) / {{item.incompSurveyByCity}} (Incomplete)</div>
                </div>
            </div>
        </div>
    </div>
</div>