<footer id="welcome-footer" [style.background-color]="pageThemeInfo.footerColour">
	<div class="row text-nowrap">
		<div class="col-1 text-left align-middle">
			<img class="ml-1 footer-logo" [src]="traisiLogo()" />
		</div>
		<div class="col-10 text-center" [style.color]="footerTextColour">
			<quill-editor [class.ql-previewmode]="previewMode.value" class="quill-page-editor" [modules]="quillMinimalModules" (onEditorCreated)="quillEditorCreated($event)"
			 (onContentChanged)="updateFooterContent($event)" theme="bubble" [readOnly]="previewMode.value" placeholder="Copyright"
			 [(ngModel)]="pageHTMLJson.html"></quill-editor>
		</div>
		<div class="col-1"></div>
	</div>
	<div class="footer-color-picker-wrapper">
		<button *ngIf="!previewMode.value" type="button" class="ml-4 mt-1 btn btn-inverse footer-color-picker" [cpPosition]="'top'"
		 [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'rgba'" (colorPickerChange)="footerColourChange($event)" [(colorPicker)]="pageThemeInfo.footerColour">
			<img src="assets/img/colour-picker.png" height="15px" />
		</button>
	</div>
</footer>