@import "~angular-calendar/css/angular-calendar.css";

.travel-diary-question {
    overflow-y: auto;
    .add-event-overlay {
        position: absolute;
        bottom: 60px;
        right: 50px;
        z-index: 10;
    }
}