// @import 'src/shared/assets/scss/helpers';
@import '../../../../shared/assets/scss/traisi-import.scss';

.container-fuild {
	background: #e2e6ef !important;
}

.single-question .question-widget {
	overflow: hidden;
}

.traisi-survey-viewer-container {
	position: absolute;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	align-items: stretch;
	justify-content: flex-start;
	align-content: stretch;
}

.ql-blank {
	display: none;
}

.mobile-toast-title {
	display: none;
}

.mobile-toast.toast-info {
	background: $traisi-dark-background;
}

.mobile-toast {
	background-color: $traisi-dark-background;
	border: none;
	opacity: 0.5;
	padding: 0.75rem !important;

	.toast-close-button span {
		opacity: 1;
		color: white;
	}
}

.toast-container {
	opacity: 0.95;
	margin-top: 7.5px;
}

.mobile-toast-message {
	color: white;
	text-align: center;
}

.survey-viewer-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.survey-body {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	display: flex;
	flex-direction: column;
}

.survey-body-container {
	position: relative;
}
