.quill-page-editor {
	.ql-tooltip {
		z-index: 1 !important;
	}
	.ql-container {
		height: auto;
	}
	height: auto !important;
	padding: 0px !important;
	background-color: unset;
}

.special-page-editor {
	max-width: 1500px;
}