
.event-display-container {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 30%,
		rgba(0, 212, 255, 0) 100%
	);
}

.event-message-group, .no-mode-message {
	font-size: 14px;
	margin-bottom: 0px;
	color: #b5b5b5;
	font-weight: 600;
	line-height: 20px;
	white-space: break-spaces;
	color: #676767;
}


:host.event-home-all-day {
	background-image: linear-gradient(
		135deg,
		#ffffff 32.76%,
		#f2f8fc 32.76%,
		#f2f8fc 50%,
		#ffffff 50%,
		#ffffff 82.76%,
		#f2f8fc 82.76%,
		#f2f8fc 100%
	);
	background-size: 82.02px 82.02px; 
}

:host.invalid-event {
	background-image: linear-gradient(
		135deg,
		#ffffff 32.76%,
		#f2f8fc 32.76%,
		#f2f8fc 50%,
		#ffffff 50%,
		#ffffff 82.76%,
		#f2f8fc 82.76%,
		#f2f8fc 100%
	);
	background-size: 82.02px 82.02px; 
}

.invalid-icon {
	font-size: 14px;
}

.event-address {
	font-size: 14px;
}

:host {
	display:block;
}

.linear-event-display.invalid {
	border: dashed 2px #ff8b13 !important;
}

.linear-event-display:not(.invalid) {
	border: solid 2px #1e90ff !important;
}

.linear-event-display {
	margin: 0px;
	padding: 16px;
	border-radius: 5px;
	margin-bottom: 16px;
	cursor: pointer;
}

.invalid-event traisi-travel-diary-event-display {
	border-color: #de4c4c;
}

.cal-event {
	border-right: solid 1px #ddd !important;
	border-top: solid 1px #ddd !important;
	border-bottom: solid 1px #ddd !important;
	border-left-width: 4px !important;
	background: white !important;
	background-color: rgb(209, 232, 255);
	padding: 20px;
	display: flex;

	-webkit-box-shadow: 10px 10px 24px -21px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 24px -21px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 24px -21px rgba(0, 0, 0, 0.75);
	border-radius: 5px;
}

.cal-event-title {
	font-size: 18px;
}
mwl-calendar-event-title {
	display: flex;
}

.cal-week-view .cal-time-events .cal-event {
	width: 94%;
	position: relative;
	left: 10px;
}

.cal-hour .cal-time {
	font-size: 12px;
	background: white;
}

.cal-time-label-column .cal-hour-segment {
	border: none !important;
}

.cal-time-label-column .cal-hour-segment {
	border: none;
}

.cal-event-container {
	width: calc(100% - 40px);
}

.customt-event-title {
	.event-title-group {
		margin-bottom: 5px;
	}
	i {
		color: #de4c4c;
	}
	margin: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.event-purpose {
		text-transform: uppercase;
		// flex-grow: 1;
		color: #333;
		font-size: 16px;
		font-weight: bold;
	}
	.event-name {
		//flex-grow: 1;
		font-size: 22px;
		font-weight: bold;
		color: #333;
	}
	.event-address {
		// flex-grow: 1;
		color: #333;
		font-size: 18px;
	}
	.event-mode {
		font-size: 18px;
		color: #99a;
	}
}

.cal-event.invalid-event {
	border: dashed 4px #ff8b13 !important;
}

