<div class="survey-builder-header">
	<h1>Design Survey - <strong>{{ survey.name }}</strong></h1>

	<div class="survey-builder-header-preview">
		<a class="badge badge-primary" href="javascript:;" (click)="previewSurvey($event)">
			<!--(click)="previewSurvey($event,row)"-->
			<i class="far fa-eye" aria-hidden="true"></i> {{'surveys.management.View' | translate}}</a>
	</div>

</div>
<div role="navigation" id="builderSidebar" class="sidebar order-correct">
	<traisi-question-type-chooser #questionChooser [disabled]="currentPage != 'surveyPage'" (addQuestionType)="addQuestionTypeToList($event)"
	 (loadedQuestionTypes)="mapQuestionTypeDefinitions()"></traisi-question-type-chooser>
</div>
<div class="clearfix">
	<ul class="nav nav-tabs float-left" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active fw-semi-bold" (click)="switchPage('welcome')" id="welcome-tab" data-toggle="tab" href="#welcome"
			 role="tab" aria-controls="welcome" aria-expanded="true">Welcome</a>
		</li>
		<li class="nav-item">
			<a class="nav-link fw-semi-bold" (click)="switchPage('termsAndConditions')" id="tAndC-tab" data-toggle="tab" href="#tAndC"
			 role="tab" aria-controls="tAndC" aria-expanded="true">Privacy Policy</a>
		</li>
		<li class="nav-item">
			<a class="nav-link fw-semi-bold" (click)="switchPage('questionViewer')" id="questionViewer-tab" data-toggle="tab" href="#questionViewer"
			 role="tab" aria-controls="questionViewer" aria-expanded="true">Question Viewer</a>
		</li>
		<smooth-dnd-container id="pagesList" [groupName]="'pages-header'" [lockAxis]="'x'" [orientation]="'horizontal'" [dragBeginDelay]="500"
		 [dragClass]="'raised-tab'" [getChildPayload]="getPagePayload" (dragEnd)="onDragEnd($event)" (drop)="onDrop($event)" (dragEnter)="onDragEnter()"
		 (dragLeave)="onDragLeave()">
			<smooth-dnd-draggable *ngFor="let page of allPages">
				<li class="nav-item pagetab">
					<a class="nav-link fw-semi-bold" id="{{ page.id + '-tab' }}" (click)="switchSurveyPage(page.id)" data-toggle="tab" href="#pages"
					 role="tab" aria-controls="page.label" aria-expanded="true">
						{{ page.label.value }}
						<sup class="badge badge-pill badge-primary">
							P
						</sup>
					</a>
				</li>
			</smooth-dnd-draggable>
		</smooth-dnd-container>
		<li class="nav-item">
			<a class="nav-link fw-semi-bold" (click)="switchPage('thank-you')" id="thankYou-tab" data-toggle="tab" href="#thankYou" role="tab"
			 aria-controls="thankYou" aria-expanded="true">Thank You</a>
		</li>
		<li class="nav-item">
			<a class="btn btn-primary new-page-tab nav-link" (click)="createPageModal.show()">
				<i class="fas fa-plus-circle"></i> New Page
			</a>
		</li>
	</ul>
</div>
<div class="tab-content mb-lg" id="pageTabContent">
	<div role="tabpanel" class="tab-pane active in clearfix" id="welcome" aria-labelledby="welcome-tab" aria-expanded="true">
		<app-special-page-builder #welcomeEditor *ngIf="loadedSpecialPages" [previewMode]="welcomePagePreview" [pageType]="'welcome'"
		 (forceSave)="saveWelcomePage(false)" [(pageThemeInfo)]="pageThemeInfo" [(pageHTML)]="welcomePage.value"></app-special-page-builder>
		<div class="row">
			<div class="col-md-12">
				<hr class="separator-hr" />
			</div>
		</div>
		<div class="row justify-content-center mt-3 mb-2 special-page-save">
			<div class="col d-none d-sm-block"></div>
			<div class="col text-center">
				<button [hidden]="welcomePagePreview.value" class="btn btn-secondary" (click)="saveWelcomePage(true)">
					Save Page
				</button>
			</div>
			<div class="col pull-right text-right">
				<ngx-toggle class="pull-right mr-3" onColor="success" offColor="primary" onText="Preview" offText="Edit" [(value)]="welcomePagePreview.value"
				 (valueChange)="toggleSidebarForPreview()"></ngx-toggle>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="tAndC" aria-labelledby="tAndC-tab" aria-expanded="true">
		<app-special-page-builder #privacyPolicyEditor *ngIf="loadedSpecialPages" [previewMode]="privacyPagePreview" [pageType]="'privacyPolicy'"
		 (forceSave)="saveTAndCPage(false)" [(pageThemeInfo)]="pageThemeInfo" [(pageHTML)]="termsAndConditionsPage.value"></app-special-page-builder>
		<div class="row">
			<div class="col-md-12">
				<hr class="separator-hr" />
			</div>
		</div>
		<div class="row justify-content-center mt-3 mb-2 special-page-save">
			<div class="col"></div>
			<div class="col text-center">
				<button [hidden]="welcomePagePreview.value" class="btn btn-secondary" (click)="saveTAndCPage(true)">
					Save Page
				</button>
			</div>
			<div class="col pull-right text-right">
				<ngx-toggle class="pull-right mr-3" onColor="success" offColor="primary" onText="Preview" offText="Edit" [(value)]="privacyPagePreview.value"
				 (valueChange)="toggleSidebarForPreview()"></ngx-toggle>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="questionViewer" aria-labelledby="questionViewer-tab" aria-expanded="true">
		<app-special-page-builder #questionViewerEditor [allPages]="allPages" *ngIf="loadedSpecialPages" [previewMode]="questionViewerPreview"
		 [pageType]="'questionViewer'" (forceSave)="saveQuestionViewerPage(false)" [(pageThemeInfo)]="pageThemeInfo" [(pageHTML)]="pageThemeInfo.viewerTemplate"></app-special-page-builder>
		<div class="row">
			<div class="col-md-12">
				<hr class="separator-hr" />
			</div>
		</div>
		<div class="row justify-content-center mt-3 mb-2 special-page-save">
			<div class="col"></div>
			<div class="col text-center">
				<button [hidden]="questionViewerPreview.value" class="btn btn-secondary" (click)="saveQuestionViewerPage(true)">
					Save Theme
				</button>
			</div>
			<div class="col pull-right text-right">
				<ngx-toggle class="pull-right mr-3" onColor="success" offColor="primary" onText="Preview" offText="Edit" [(value)]="questionViewerPreview.value"
				 (valueChange)="toggleSidebarForPreview()"></ngx-toggle>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="pages" aria-labelledby="pages-tab" aria-expanded="true">
		<app-nested-drag-and-drop-list [surveyId]="surveyId" [currentLanguage]="currentLanguage" #surveyPageDragAndDrop></app-nested-drag-and-drop-list>
		<br />
		<div class="row">
			<div class="col-md-12">
				<div class="pull-right">
					<button class="btn btn-primary" (click)="editCurrentPage()">
						Configure Page
					</button>
				</div>
			</div>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="thankYou" aria-labelledby="thankYou-tab" aria-expanded="true">
		<app-special-page-builder #thankYouEditor *ngIf="loadedSpecialPages" [previewMode]="thankYouPagePreview" [pageType]="'thankYou'"
		 (forceSave)="saveThankYouPage(false)" [(pageThemeInfo)]="pageThemeInfo" [(pageHTML)]="thankYouPage.value"></app-special-page-builder>
		<div class="row">
			<div class="col-md-12">
				<hr class="separator-hr" />
			</div>
		</div>
		<div class="row justify-content-center mt-3 mb-2 special-page-save">
			<div class="col"></div>
			<div class="col text-center">
				<button [hidden]="welcomePagePreview.value" class="btn btn-secondary" (click)="saveThankYouPage(true)">
					Save Page
				</button>
			</div>
			<div class="col pull-right text-right">
				<ngx-toggle class="pull-right mr-3" onColor="success" offColor="primary" onText="Preview" offText="Edit" [(value)]="thankYouPagePreview.value"
				 (valueChange)="toggleSidebarForPreview()"></ngx-toggle>
			</div>
		</div>
	</div>
</div>

<div bsModal #createPageModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Create Page Modal"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" ngDraggable [handle]="modalHeader">
			<div class="modal-header" #modalHeader>
				<h4 class="modal-title pull-left"><i class="far fa-file-alt"></i> New Survey Page</h4>
				<button type="button" class="close pull-right" title="Close" (click)="createPageModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal form-label-left" role="form" (ngSubmit)="createPage(newPageTitle)">
					<div class="form-group row">
						<label for="normal-field" class="col-md-4  col-form-label text-md-right">Page Title</label>
						<div class="col-md-7 ">
							<input type="text" id="normal-field" class="form-control" placeholder="Page Title" [(ngModel)]="newPageTitle" name="pageTitle">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<hr class="edit-last-separator-hr" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12">
							<div class="pull-right">
								<button type="submit" class="btn btn-primary action-button" title="Create New Page">Create Page</button>
								<button type="button" class="btn btn-danger" (click)="createPageModal.hide()" title="Cancel">Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div bsModal id="editPageModal" #editPageModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Edit Page Modal"
 aria-hidden="true">
	<div class="modal-dialog" *ngIf="currentSurveyPageEdit">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left"><i class="far fa-file-alt"></i>Edit Survey Page</h4>
				<button type="button" class="close pull-right" title="Close" (click)="editPageModal.hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal form-label-left" role="form" (ngSubmit)="savePage()">
					<div class="form-group row">
						<label for="normal-field" class="col-md-4  col-form-label text-md-right">Page Title</label>
						<div class="col-md-7 ">
							<input type="text" id="normal-field" class="form-control" placeholder="Page Title" [(ngModel)]="currentSurveyPageEdit.label.value"
							 name="pageTitle">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<hr class="edit-separator-hr" />
						</div>
					</div>
					<div class="form-group row">
						<label for="normal-field" class="col-md-4  col-form-label text-md-right">Icon</label>
						<div class="col-md-5">
							<input type="text" id="normal-field" class="form-control" placeholder="Page FA 5 Icon" [(ngModel)]="currentSurveyPageEdit.icon"
							 name="pageIcon">
						</div>
						<div class="mt-2"><i [ngClass]="currentSurveyPageEdit.icon"></i></div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<hr class="edit-last-separator-hr" />
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12">
							<div class="pull-left">
								<button type="button" class="btn btn-danger" (click)="deletePage(currentSurveyPage.id)">
									Delete Page
								</button>
							</div>
							<div class="pull-right">
								<button type="submit" class="btn btn-primary action-button" title="Save Page Changes">Save Changes</button>
								<button type="button" class="btn btn-danger" (click)="editPageModal.hide()" title="Cancel">Cancel</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>