<div class="form-group form-group-adjust row">
	<label for="{{ 'date-' + id }}" class="col-md-3 col-form-label text-md-right">{{ questionConfiguration.name}}</label>
	<div class="col-md-4">
		<div class="input-group">
			<span class="input-group-prepend">
				<span class="input-group-text">
					<i class="fa fa-calendar"></i>
				</span>
			</span>
			<input type="text" placeholder="Datepicker" class="form-control" bsDatepicker name="{{ 'date-' + id }}" id="{{ 'date-' + id }}"
			 #dpStart="bsDatepicker" [bsConfig]="bsConfig" [(ngModel)]="datePickerValue">
		</div>
	</div>
</div>