<div>
	<traisi-survey-logic-query-builder [rootLevel]="true" [(ngModel)]="model" [config]="config" [classNames]="classNames" #queryBuilder>
		<ng-container *queryInput="let rule; type: 'option'">
			<ng-select
				[items]="options$ | async"
				bindLabel="optionLabel.value"
                autofocus
                placeholder="Select ..."
				bindValue="id"
				[(ngModel)]="selectedPersonId"
			></ng-select>
        </ng-container>
	</traisi-survey-logic-query-builder>
	<div class="row">
	<button class="btn btn-primary mr-3"><i class="fas fa-plus-circle"></i> Add Logic </button>
</div>
</div>
