<div id="pages-progress-bar" class="d-none d-md-block">
		<div class="row">
			<div class="col text-center page-wrapper" [class.white-progress-line]="useWhiteProgressLine" *ngFor="let page of viewerState.surveyPages; index as i"><div
				 class="page d-inline-block" [class.active]="viewerState.activePageIndex == i" [class.complete]="completedPages[i]"><i [ngClass]="page.icon"></i></div>
				 <div class="page-progress-label" [class.visible]="viewerState.activePageIndex == i" [style.color]="pageTextColour">{{ page.label }}</div>
			</div>
			<div class="col text-center page-wrapper" [class.white-progress-line]="useWhiteProgressLine"><div class="page d-inline-block"><i class="fas fa-check"></i></div></div>
		</div>
	</div>