//@import "src/shared/assets/scss/helpers";
@import "../../../assets/scss/application.scss";

.header-display-container {
  text-align: center;
  margin: 30px;
  margin: auto;
  margin-bottom: 15px;
}

.pages-divider {
  height: 3px;
  position: absolute;
  left: 15px;
  right: 15px;
  /* bottom: 50%; */
  /* bottom: 30px; */
  top: 30px;
  background: #c5c2de;
}

.header-display-body {
  width: 100%;
  display: inline-block;
}

.header-display-item {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
}

.page-item .page-icon {
  background-color: gray;
  border-radius: 40px;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  vertical-align: center;
  align-items: center;
  color: white;
}

.page-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-item.active .page-icon {
  background-color: #3498db;
}
.page-item .page-name {
  font-size: 14px;
  font-weight: bold;
}

.page-item.active .page-name {
  display: block;
}

.page-item.inactive .page-name {
  display: none;
}

@include media-breakpoint-only(xs) {
  .header-display-body .header-display-item {
    font-size: 18px;
  }
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

#pages-progress-bar {
  position: relative;
  height: 40px;
  @media only screen and (max-height: 768px) {
    visibility: collapse;
    height: 0px;
  }
  // margin-top: 20px;
  // margin-bottom: 20px;
}

.page-div {
  // margin-top: -12px;
  border: 2px solid darkblue;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 10px 15px;
  font-size: 20px;
  background-color: white;
  z-index: 1;
  cursor: pointer;
}

.page-div.complete {
  background-color: $green;
  color: white;
}

.page-div.active {
  background-color: $blue;
  color: white;
}

.page-progress-label {
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
  visibility: hidden;
  @media only screen and (max-height: 768px) {
    display: none;
    height: 0px;
  }
}

.page-div:hover + .page-progress-label {
  visibility: visible;
}

.page-wrapper {
  z-index: 1;
}

.page-wrapper:not(:last-child) {
  /*
	.page::after {
		position: absolute;
		display: inline-block;
		content: '';
		border-top: 1px solid black;
		width: 50%;
		top: calc(50% - 15px);
		left: calc(50% + 27px);
	} */
}

.page-wrapper:not(:first-child) {
  /*
	.page::before {
		position: absolute;
		display: inline-block;
		content: '';
		border-top: 1px solid black;
		width: 50%;
		top: calc(50% - 15px);
		right: calc(50% + 27px);
	} */
}

/*
.white-progress-line {
	.page::after {
		border-color: white !important;
	}
	.page::before {
		border-color: white !important;
	}
} */
