.welcome-container {
	text-align: center;
	margin: 20px;
}

.terms-and-conditions-text-container
{
	display: inline-block;
	width: 600px;
	margin-top:20px;
	margin-bottom: 20px;
	background-color: white;
	padding: 20px;
	border: solid 1px #AAA;
}
