@import 'src/shared/assets/scss/helpers';
@import "../../../assets/scss/application.scss";
.welcome-container {
	text-align: center;
	margin: 20px;
}

.terms-and-conditions-text-container
{
	display: inline-block;
	width: 600px;
	margin-top:20px;
	margin-bottom: 20px;
	background-color: white;
	padding: 20px;
	border: solid 1px #AAA;
}


@include media-breakpoint-only(xs) {

	.welcome-container h1
	{
		font-size: 2rem;
	}

	.terms-and-conditions-text-container
	{
		width: 100%;
	}
}

@include media-breakpoint-only(sm) {
	.welcome-container h1
	{
		font-size: 2rem;
	}
	.terms-and-conditions-text-container
	{
		width: 100%;
	}
}

@include media-breakpoint-only(md) {
	.terms-and-conditions-text-container
	{
		width: 100%;
	}
}

@include media-breakpoint-only(lg) {

}

@include media-breakpoint-only(xl) {

}
