<div class="question-viewer-outer-wrapper">
	<div class="survey-progress-container">
		<traisi-survey-progress></traisi-survey-progress>
	</div>

	<div>
		<div id="top-scroll-anchor"></div>
		<div id="question-viewer-wrapper" class="flex-column d-flex" [hidden]="!loadedComponents">
			<ndc-dynamic
				*ngIf="headerComponent"
				[ndcDynamicComponent]="headerComponent"
				[ndcDynamicInputs]="headerInputs"
			>
			</ndc-dynamic>
			<traisi-survey-header-display
				[pageTextColour]="pageTextColour"
				[useWhiteProgressLine]="useLightNavigationLines"
				#header
			></traisi-survey-header-display>
			<div
				class="survey-body-container flex-grow-1 d-flex flex-column"
				id="survey-body-container"
				#surveyBodyContainer
				[scrollTop]="scrollTop"
			>
				<div
					class="survey-body flex-grow-1 d-flex flex-column"
					*ngIf="navigator.navigationState$ | async as state"
				>
					<div
						class="survey-section-header h5"
						*ngIf="state.activeSectionId >= 0"
						[style.background-color]="viewerTheme.sectionBackgroundColour"
						[style.color]="sectionTitleColour"
						[class.household-tabs]="state.activeSectionId >= 0 && state.activeSection.isHousehold"
						[ngClass]="{ visible: viewerState.isSectionActive }"
						[innerHTML]="processedSectionLabel(state.activeSection.label) | safeHtml"
					>
						<span class="repeat-header" *ngIf="state.activeSection.isRepeat">
							- Repeat {{ viewerState.activeSectionRepeatContainer.repeatIndex + 1 }}
						</span>
					</div>

					<div class="questions-container flex-grow-1" #questionsContainer>
						<div class="question-section" #questionSection>
							<ng-container
								*ngFor="let question of state.activeQuestionInstances; trackBy: trackById.bind(this); let i = index"
							>
								<traisi-question-container
									class="d-flex flex-column card card-fluid"
									[surveyViewer]="ref"
									[activeQuestionIndex]="i"
									[questionInstance]="question"
									[respondent]="viewerState.groupMembers[state.activeRespondentIndex]"
									[question]="question.model"
									[attr.data-questionid]="question.model.questionId"
									[attr.data-question-name]="question.model.name"
									[attr.data-multiview]="state.isMultiView"
									[surveyViewQuestion]="question.model"
									[surveyId]="surveyId"
									[repeatNumber]="0"
									[sectionRepeatNumber]="0"
									[questionTypeMap]="questionTypeMap"
									[questionSectionElement]="questionSectionElement"
									[questionNameMap]="questionNameMap"
									#questions
								>
								</traisi-question-container>
							</ng-container>
						</div>
					</div>

					<div
						id="question-viewer-nav"
						class="text-center"
						[class.household-tabs]="viewerState.isSectionActive && viewerState.activeSection.isHousehold"
					>
						<div class="row justify-content-center btn-group align-center">
							<button
								[ngClass]="navButtonClass"
								(click)="navigatePrevious()"
								[disabled]="!(navigator.previousEnabled$ | async)"
								class="btn btn-secondary pl-4 pr-4 survey-nav-button"
								type="button"
							>
								<i class="fas fa-arrow-alt-circle-left mr-1"></i>
								{{ 'Viewer.Previous' | translate }}
							</button>

							<button
								*ngIf="!viewerState.isNavComplete && !viewerState.isNavFinished"
								[ngClass]="navButtonClass"
								(click)="navigateNext()"
								[disabled]="!(navigator.nextEnabled$ | async)"
								class="btn btn-primary pl-4 pr-4 survey-nav-button"
								type="button">

								<div *ngIf="!viewerState.isNavComplete">
									{{ 'Viewer.Next' | translate }}
									<i class="fas fa-arrow-alt-circle-right ml-1"></i>

									<span *ngIf="false">Has Error</span>
								</div>
							</button>
							<button
								*ngIf="viewerState.isNavFinished"
								[ngClass]="navButtonClass"
								[disabled]="!viewerState.isNavComplete"
								(click)="navigateCompleteSurvey()"
								class="btn btn-primary pl-4 pr-4 survey-nav-button"
								type="button"
							>
								<div>
									{{ 'Viewer.CompleteSurvey' | translate }}
									<i class="fas fa-arrow-alt-circle-right ml-1"></i>
								</div>
							</button>
						</div>
					</div>
					<ndc-dynamic
						*ngIf="footerComponent"
						[ndcDynamicComponent]="footerComponent"
						[ndcDynamicInputs]="footerInputs"
					>
					</ndc-dynamic>

					<div class="admin-container">
						<traisi-admin-toolbar *ngIf="isAdmin"></traisi-admin-toolbar>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
