//@import 'src/shared/assets/scss/helpers';
@import "../../../../shared/assets/scss/traisi-import.scss";

@media #{$sm-down} {
  .survey-section-header {
    // color: white;
    padding: 0px;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
  }
}
