@import '../../../scss/helpers';
@import '../../../scss/select2-variables';
@import '../../../../node_modules/select2/src/scss/core';
@import '../../../../node_modules/select2-bootstrap-theme/src/select2-bootstrap';
@import '../../../../node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss';

.abc-checkbox label {
	&::before,
	&::after {
		top: 20%;
	}
}

.build-icon {
	font-size: 22px;
	text-align: center;
}

.separator-hr {
	margin: 0px 0px 8px 0px;
	border-top-style: dashed;
}

.edit-separator-hr {
	margin: 10px 0px 10px 0px;
	border-top-style: dashed;
}

.last-separator-hr {
	margin-top: 5px;
}

.edit-last-separator-hr {
	margin-top: 15px;
}

.password-separator-hr {
	margin: 5px;
	border-style: none;
}

.form-group {
	margin-top: 0;
	margin-bottom: 0;
}

input.form-control {
	border-left-width: 5px;
}

.password-well {
	margin-bottom: 0;
}

.hint-sm {
	display: block;
}

.checkbox.user-enabled {
	display: inline-block;
}

.unblock-user {
	margin-left: 34px;
}

@media (min-width: 992px) {
	.user-enabled {
		margin-left: 40px;
	}
}
