<div id="welcome-header-editor" #headerBounds [contextMenu]="imageMenu">
	<div id="welcome-header" [style.background-color]="pageThemeInfo.headerColour" [style.height.px]="pageThemeInfo.headerBackgroundHeight">
	</div>
	<div *ngIf="!previewMode.value" class="position-absolute delete-menu-container"><button type="button" class="btn btn-danger delete-menu-button" (click)="onImageMenu($event, null)"><i class="fas fa-gear"></i></button></div>	
	<div *ngIf="!previewMode.value" class="headerBackground-slider d-none d-md-block" [class.headerBackground-slider-white-handle]="whiteDragHandle()">
		<mv-slider (click)="$event.stopPropagation()" [orientation]="'vertical'"  [min]="50" [max]="100" [step]="1" [(value)]="pageThemeInfo.headerBackgroundHeight"  (change)="headerBackgroundHeightChange($event)" ></mv-slider>
	</div>
	<div class="row">
		<div class="col-12 text-center" [style.height.px]="pageThemeInfo.headerMaxHeightScale * 100 > pageThemeInfo.headerBackgroundHeight ? pageThemeInfo.headerMaxHeightScale * 100 : pageThemeInfo.headerBackgroundHeight">
			<button (colorPickerOpen)="disableContextMenu()" (colorPickerClose)="enableContextMenu()" (click)="$event.stopPropagation()" *ngIf="!previewMode.value" type="button" class="ml-4 mt-3 btn btn-inverse header-color-picker"  [cpPosition]="'left'" [cpAlphaChannel]="'disabled'" [cpOutputFormat]="'rgba'" (colorPickerChange)="headerColourChange($event)"  [(colorPicker)]="pageThemeInfo.headerColour">
				<img src="assets/img/colour-picker.png" height="15px"/>
			</button>
			<dropzone (click)="$event.stopPropagation()" *ngIf="!imageSource && !previewMode.value" class="imageDropzone" #videoUpload [config]="imageDropZoneconfig" [message]="'Click or drag logo here'"
			 (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
			 <div *ngIf="imageSource && !previewMode.value" class="maxHeight-slider"><mv-slider (click)="$event.stopPropagation()" [min]="0.2" [max]="0.9" [step]="0.02" [(value)]="pageThemeInfo.headerMaxHeightScale" (change)="headerMaxHeightChange($event)"></mv-slider></div>
			 <!--<sup *ngIf="!previewMode.value"><button *ngIf="imageSource" type="button" (click)="deleteImage()" class="btn btn-danger delete-image"><i class="fas fa-times fa-xs"></i></button></sup>-->
			 <img ngDraggable #dragImage="ngDraggable" [bounds]="headerBounds"  (endOffset)="onImageMoveEnd($event)" [position]="imageTransform" [inBounds]="true" draggable="false" *ngIf="imageSource" class="welcome-header-logo" [style.max-height.px]="pageThemeInfo.headerMaxHeightScale * 100" src="{{ imageSource }}" />
		</div>
	</div>
</div>

<context-menu #imageMenu [useBootstrap4]="true" [disabled]="previewMode.value || disableMenu">
  <ng-template *ngIf="imageSource" contextMenuItem (execute)="deleteImage()">
    Delete Image
	</ng-template>
	<ng-template *ngIf="imageSource" contextMenuItem divider="true">
	</ng-template>
	<ng-template contextMenuItem (execute)="deleteHeader()">
			Delete Header
		</ng-template>
</context-menu>