@import 'src/shared/assets/scss/helpers';

#welcome-header {
	position: absolute;
	height: 66px;
	z-index: 0;
	width: 100%;
	@include media-breakpoint-down(sm) {
		max-height: 50px !important;
	}
}

#welcome-header-editor {
	position: relative;
	min-height: 66px !important;
	.col-12 {
		white-space: nowrap !important;
	}

	@include media-breakpoint-down(sm) {
		height: 50px;
		min-height: 50px !important;
	}

	img {
		user-select: none;
		-webkit-user-drag: none;
	}
}

.welcome-header-logo {
	@include media-breakpoint-down(sm) {
		margin-top: -5px;
	}
		width: auto;
		max-width: 80vw;
}

.imageDropzone {
	height: auto !important;
	.dz-message {
		overflow: hidden !important;
		border: none !important;
		background-color: $gray-300 !important;
		color: black !important;
	}
}

.delete-image {
	position: absolute;
	left: -10px;
	transform: scale(0.7);
}

.header-color-picker {
	position: absolute;
	right: 25px;
	z-index: 50;
	transform: scale(0.7);
}

.maxHeight-slider {
	
	position: absolute;
	width: 100%;
	.slider.slider-horizontal {
		width: 110px !important;
	}

	.slider.slider-horizontal .slider-track {
		height: 5px !important;
	}

	.slider-handle {
		width: 10px;
		height: 10px;
		top: 3px;
	}
}

