@import 'src/shared/assets/scss/helpers';

#welcome-header {
	position: absolute;
	height: 66px;
	z-index: 0;
		width: 100%;
}

#welcome-header-editor {
	min-height: 66px !important;
	.col-12 {
		white-space: nowrap !important;
	}
}

.welcome-header-logo {
		padding-top: 25px;
		max-height: 100px;
		width: auto;
		max-width: 70vw;
}

.imageDropzone {
	height: auto !important;
	.dz-message {
		overflow: hidden !important;
		border: none !important;
		background-color: transparent !important;
		color: black !important;
	}
}

.delete-image {
	margin-top: -20px;
	transform: scale(0.7);
}

.header-color-picker {
	position: absolute;
	right: 25px;
	z-index: 50;
}