<div class="form-group form-group-adjust row">
	<label for="{{ 'multiselect-' + id }}" class="col-md-3 col-form-label text-md-right">{{ questionConfiguration.name }}</label>
	<div class="col-sm-9">
		<select class="selectpicker" id="{{ 'multiselect-' + id }}" #selectElement multiple>
			<option value="{{ option.text }}" *ngFor="let option of options">{{ option.text }}</option>
		</select>
		<!--<select2  [value]="selected" [data]="getSelect2GroupedList()" [options]="select2Options" (valueChanged)="changed($event)"></select2> -->
	</div>
</div>
