<div id="question-viewer-nav" class="text-center viewer-nav">
	<div class="row justify-content-center btn-group align-center">
		<button
			(click)="navigatePrevious()"
			[disabled]="!(navigator.previousEnabled$ | async)"
			class="btn btn-secondary pl-4 pr-4 survey-nav-button survey-nav-button-previous"
			type="button"
		>
			<i class="fas fa-arrow-alt-circle-left mr-1"></i>
			{{ 'Viewer.Previous' | translate }}
		</button>

		<button
			[popper]="validationPopperContent"
			[popperHideOnScroll]="true"
			[popperTrigger]="'none'"
			[popperHideOnClickOutside]="true"
			[popperHideOnMouseLeave]="false"
			(click)="navigateNext()"
			[disabled]="!(navigator.nextEnabled$ | async)"
			class="btn btn-primary pl-4 pr-4 survey-nav-button survey-nav-button-next"
			type="button"
			#navigateNextButton
		>
			<div>
				{{ 'Viewer.Next' | translate }}
				<i class="fas fa-arrow-alt-circle-right ml-1"></i>

				<span *ngIf="false">Has Error</span>
			</div>
		</button>
		<popper-content #validationPopperContent>
			<div class="validation-popper-title">You have not answered the following questions:</div>
			<ng-container *ngFor="let question of invalidQuestions | async">
				<div class="invalid-question-label">
					<a [routerLink]="" fragment="{{ question.model.questionId }}">{{ question.model.name }}</a>
				</div>
				<ul class="invalid-question-messages">
					<li class="invalid-question-message" *ngFor="let error of question.validationErrors">
						<span [innerHTML]="error.message"></span>
					</li>
				</ul>
			</ng-container>
		</popper-content>
		<button
			*ngIf="false"
			(click)="navigateCompleteSurvey()"
			class="btn btn-primary pl-4 pr-4 survey-nav-button"
			type="button"
		>
			<div>
				{{ 'Viewer.CompleteSurvey' | translate }}
				<i class="fas fa-arrow-alt-circle-right ml-1"></i>
			</div>
		</button>
	</div>
</div>
