popper-content {
	line-height: initial;
	background-color: white;
	text-align: left;

	.invalid-question-label {
		font-weight: normal;
		margin-top: 10px;
		font-size: 16px;
	}

	.validation-popper-title {
		font-size: 18px;
		font-weight: bold;
	}

	.invalid-question-message {
		font-size: 14px;
	}

	.invalid-question-message {
		margin-top: 10px;
	}

	ul {
		padding-inline-start: 10px;
	}
}

popper-content > div.ngxp__container {
	background-color: white;
	-webkit-box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 0.26) !important;
	-moz-box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 0.26) !important;
	box-shadow: 0px 0px 22px -3px rgba(0, 0, 0, 0.26) !important;
	border-radius: 5px !important;
	border: solid 1px #ccc !important;
	padding: 25px;
}

.survey-nav-button:disabled {
	cursor: initial;
}

.survey-nav-button {
	width: 140px;
}

.btn-group > .btn.survey-nav-button-next {
	border-radius: 7px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 7px !important;
	border-bottom-right-radius: 7px !important;
}

.btn.survey-nav-button-next:active {
	border-radius: 7px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 7px !important;
	border-bottom-right-radius: 7px !important;
}
