<div id="question-viewer-nav" class="text-center viewer-nav">
	<div class="row justify-content-center btn-group align-center">
		<button
			(click)="navigatePrevious()"
			[disabled]="!(navigator.previousEnabled$ | async)"
			class="btn btn-secondary pl-4 pr-4 survey-nav-button  survey-nav-button-previous"
			type="button"
		>
			<i class="fas fa-arrow-alt-circle-left mr-1"></i>
			{{ 'Viewer.Previous' | translate }}
		</button>

		<button
			[popper]="validationPopperContent"
			[popperTrigger]="'click'"
			[popperHideOnScroll]="true"
			[popperHideOnClickOutside]="true"
			(click)="navigateNext()"
			[disabled]="!(navigator.nextEnabled$ | async)"
			class="btn btn-primary pl-4 pr-4 survey-nav-button survey-nav-button-next"
			type="button"
		>
			<div>
				{{ 'Viewer.Next' | translate }}
				<i class="fas fa-arrow-alt-circle-right ml-1"></i>

				<span *ngIf="false">Has Error</span>
			</div>
		</button>
		<popper-content #validationPopperContent>
			<div class="validation-popper-title">You have not answered the following questions:</div>
			<div class="invalid-question-label" *ngFor="let question of invalidQuestions | async">
				<a [routerLink]="" fragment="{{question.model.questionId}}">{{ question.model.name }}</a>
			</div>
		</popper-content>
		<button
			*ngIf="false"
			(click)="navigateCompleteSurvey()"
			class="btn btn-primary pl-4 pr-4 survey-nav-button"
			type="button"
		>
			<div>
				{{ 'Viewer.CompleteSurvey' | translate }}
				<i class="fas fa-arrow-alt-circle-right ml-1"></i>
			</div>
		</button>
	</div>
</div>
