$screen: 'only screen' !default;

@function lower-bound($range) {
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range, 1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}


$xs-range: (0px, 320px);
$sm-range: (320px, 380px);
$md-range: (381px, 768px);
$lg-range: (768px, 992px);
$xl-range: 993px;

$sm-down: '#{$screen} and (max-width: #{upper-bound($sm-range)})';
$md-down: '#{$screen} and (max-width: #{upper-bound($md-range)})';
$lg-down: '#{$screen} and (max-width: #{upper-bound($lg-range)})';

$md-up: '#{$screen} and (min-width: #{lower-bound($md-range)})';
$lg-up: '#{$screen} and (min-width: #{lower-bound($lg-range)})';

$sm-only: '#{$screen} and (max-width: #{upper-bound($sm-range)})';
$md-only: '#{$screen} and (min-width: #{lower-bound($md-range)}) and (max-width: #{upper-bound($md-range)})';
$lg-only: '#{$screen} and (min-width: #{lower-bound($lg-range)}) and (max-width: #{upper-bound($lg-range)})';
$xl-only: '#{$screen} and (min-width: #{$xl-range})';