<div>
	<h1 class="page-title">Execute Survey - <strong>{{ survey.name }}</strong></h1>
	<div class="row">
		<button class="survey-select col-3" [routerLink]="['/app/survey-execute', surveyId, 'test']">
			<h2>Test Survey</h2>
			<i class="fa fa-search text-primary"></i>
			<div class="select-description">Send a survey to yourself and/or to someone else to test your survey. Test survey responses will be saved separately from the live survey responses.</div>
		</button>
		<button class="survey-select col-3" [routerLink]="['/app/survey-execute', surveyId, 'live']">
			<h2>Live Survey</h2>
			<i class="fa fa-play-circle-o text-primary"></i>
			<div class="select-description">Blah... Live survey responses will be saved separately from the test survey responses.</div> 
		</button>
	</div>
</div>