<div class="">
  <strong>Date Selection:</strong>
  <input type="date" placeholder="Datepicker" class="" style="margin-left: 0.5rem;" />
</div>
<br />
<div>
  <h5>Trip Information: </h5>
  <table width="750" border="1">
    <tr>
      <th>Trip No #</th>    
      <th>Departure Date</th> 
      <th>Mode</th>
      <th>Purpose</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of tripData; let i = index; ">
      <td>Trip_{{i + 1}}</td>
      <td>{{item["Departure Date"]}}</td> 
      <td>{{item.Mode}}</td>
      <td>{{item.Purpose}}</td>
      <td>
        <a href="javascript:void(0);" (click)="onConfirmClick()">Confirm</a> <br />
        <a href="javascript:void(0);">Modify</a>
    </tr>
  </table>
</div>
<br />
<div style="height:500px;" id="map"></div>