<div *ngIf="editing">
	<form (ngSubmit)="saveConfiguration()" #f="ngForm" novalidate class="form-horizontal">
		<div class="clearfix">
			<ul class="nav nav-tabs float-left" id="myTab" role="tablist">
				<li class="nav-item">
					<a
						class="nav-link active fw-semi-bold"
						id="basic-tab"
						data-toggle="tab"
						href="#basic"
						role="tab"
						aria-controls="basic"
						aria-expanded="true"
						>Basic</a
					>
				</li>
				<li class="nav-item" *ngIf="configurations.length > 0">
					<a
						class="nav-link fw-semi-bold"
						id="advanced-tab"
						data-toggle="tab"
						href="#advanced"
						role="tab"
						aria-controls="advanced"
						aria-expanded="true"
						(click)="advancedConfig()"
						>Advanced</a
					>
				</li>
				<li class="nav-item" *ngIf="allowConditionals()">
					<a
						class="nav-link fw-semi-bold"
						id="conditionals-tab"
						data-toggle="tab"
						href="#conditionals"
						role="tab"
						aria-controls="conditionals"
						aria-expanded="true"
						>Conditionals</a
					>
				</li>
			</ul>
		</div>
		<div class="tab-content mb-lg" id="pageTabContent">
			<div
				role="tabpanel"
				class="tab-pane active in clearfix"
				id="basic"
				aria-labelledby="basic-tab"
				aria-expanded="true"
			>
				<div *ngIf="questionBeingEdited.questionPart">
					<div class="form-group form-group-adjust row">
						<label for="questionName" class="col-md-2 col-form-label text-md-right">Question Name</label>
						<div class="col-md-8">
							<input
								type="text"
								name="questionName"
								[(ngModel)]="questionBeingEdited.questionPart.name"
								class="form-control mt-2"
								id="questionName"
								placeholder="Question Name"
							/>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<hr class="edit-separator-hr" />
						</div>
					</div>
				</div>
				<div class="form-group form-group-adjust row configuration-input">
					<label for="questionText" class="col-md-2 col-form-label text-md-right">{{
						questionBeingEdited.questionPart ? 'Question
						Title' : 'Section Name'
					}}</label>
					<div class="col-md-10">
						<input
							*ngIf="!questionBeingEdited.questionPart"
							type="text"
							name="questionTextInput"
							class="form-control"
							id="questionTextInput"
							placeholder="Section Name"
							[(ngModel)]="questionBeingEdited.label.value"
						/>
						<quill-editor
							*ngIf="questionBeingEdited.questionPart"
							(onEditorCreated)="questiontextEditorCreated($event)"
							(onContentChanged)="updateCursorOnType()"
							(onSelectionChanged)="recordCursor($event)"
							class="form-control quill-input"
							id="questionText"
							theme="snow"
							name="questionText"
							[(ngModel)]="questionBeingEdited.label.value"
						>
							<div quill-editor-toolbar>
								<span class="ql-formats">
									<button class="ql-bold" [title]="'Bold'"></button>
									<button class="ql-italic" [title]="'Italic'"></button>
									<button class="ql-underline" [title]="'Underline'"></button>
								</span>
								<span class="ql-formats">
									<select class="ql-align" [title]="'Aligment'">
										<option selected></option>
										<option value="center"></option>
										<option value="right"></option>
										<option value="justify"></option>
									</select>
									<span class="ql-format-separator"></span>
									<select [title]="'Text Color'" class="ql-color" defaultValue="rgb(0, 0, 0)">
										<option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
										<option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
										<option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
										<option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
										<option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
										<option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
										<option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
										<option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
										<option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
										<option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
										<option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
										<option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
										<option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
										<option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
										<option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
										<option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
										<option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
										<option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
										<option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
										<option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
										<option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
										<option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
										<option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
										<option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
										<option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
										<option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
										<option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
										<option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
										<option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
										<option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
										<option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
										<option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
										<option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
										<option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
									</select>
									<span class="ql-format-separator"></span>
								</span>
								<span class="ql-ngx-tree ql-formats" *ngIf="questionsBefore.length > 0">
									<!--<ngx-dropdown-treeview-select #pipeTreeSelect [items]="questionsBefore"
										[config]="treedropdownSingleConfig" (valueChange)="pipeQuestion()">
									</ngx-dropdown-treeview-select> -->
								</span>
							</div>
						</quill-editor>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<hr class="edit-separator-hr" />
					</div>
				</div>

				<div class="form-group form-group-adjust row configuration-input">
					<label for="questionText" class="col-md-2 col-form-label text-md-right">{{
						questionBeingEdited.questionPart ? 'Question
						Description' : 'Section Name'
					}}</label>
					<div class="col-md-10">
						<input
							*ngIf="!questionBeingEdited.questionPart"
							type="text"
							name="questionTextInput"
							class="form-control"
							id="questionTextInput"
							placeholder="Section Name"
							[(ngModel)]="questionBeingEdited.descriptionLabel.value"
						/>
						<quill-editor
							*ngIf="questionBeingEdited.questionPart"
							class="form-control quill-input"
							id="questionDescriptionText"
							theme="snow"
							name="questionDescriptionText"
							[(ngModel)]="questionBeingEdited.descriptionLabel.value"
						>
							<div quill-editor-toolbar>
								<span class="ql-formats">
									<button class="ql-bold" [title]="'Bold'"></button>
									<button class="ql-italic" [title]="'Italic'"></button>
									<button class="ql-underline" [title]="'Underline'"></button>
								</span>
								<span class="ql-formats">
									<select class="ql-align" [title]="'Aligment'">
										<option selected></option>
										<option value="center"></option>
										<option value="right"></option>
										<option value="justify"></option>
									</select>
									<span class="ql-format-separator"></span>
									<select [title]="'Text Color'" class="ql-color" defaultValue="rgb(0, 0, 0)">
										<option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
										<option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
										<option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
										<option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
										<option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
										<option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
										<option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
										<option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
										<option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
										<option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
										<option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
										<option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
										<option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
										<option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
										<option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
										<option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
										<option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
										<option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
										<option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
										<option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
										<option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
										<option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
										<option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
										<option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
										<option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
										<option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
										<option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
										<option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
										<option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
										<option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
										<option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
										<option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
										<option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
										<option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
									</select>
									<span class="ql-format-separator"></span>
								</span>
								<span class="ql-ngx-tree ql-formats" *ngIf="questionsBefore.length > 0">
									<!--<ngx-dropdown-treeview-select #pipeTreeSelect [items]="questionsBefore"
										[config]="treedropdownSingleConfig" (valueChange)="pipeQuestion()">
									</ngx-dropdown-treeview-select> -->
								</span>
							</div>
						</quill-editor>
					</div>
				</div>

				<div class="form-group form-group-adjust row" *ngIf="questionBeingEdited.catiDependent">
					<label for="catiQuestionText" class="col-md-2 col-form-label text-md-right">{{
						questionBeingEdited.questionPart ? 'CATI
						Text' : 'CATI Section Name'
					}}</label>
					<div class="col-md-10">
						<input
							*ngIf="!questionBeingEdited.questionPart"
							type="text"
							name="catiQuestionTextInput"
							class="form-control"
							id="catiQuestionTextInput"
							placeholder="CATI Section Name"
							[(ngModel)]="questionBeingEdited.catiDependent.label.value"
						/>
						<quill-editor
							*ngIf="questionBeingEdited.questionPart"
							(onEditorCreated)="catiQuestiontextEditorCreated($event)"
							(onContentChanged)="updateCatiCursorOnType()"
							(onSelectionChanged)="recordCatiCursor($event)"
							class="form-control"
							id="catiQuestionText"
							theme="snow"
							name="catiQuestionText"
							[(ngModel)]="questionBeingEdited.catiDependent.label.value"
						>
							<div quill-editor-toolbar>
								<span class="ql-formats">
									<button class="ql-bold" [title]="'Bold'"></button>
									<button class="ql-italic" [title]="'Italic'"></button>
									<button class="ql-underline" [title]="'Underline'"></button>
								</span>
								<span class="ql-formats">
									<select class="ql-align" [title]="'Aligment'">
										<option selected></option>
										<option value="center"></option>
										<option value="right"></option>
										<option value="justify"></option>
									</select>
									<span class="ql-format-separator"></span>
									<select [title]="'Text Color'" class="ql-color" defaultValue="rgb(0, 0, 0)">
										<option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
										<option value="rgb(230, 0, 0)" label="rgb(230, 0, 0)"></option>
										<option value="rgb(255, 153, 0)" label="rgb(255, 153, 0)"></option>
										<option value="rgb(255, 255, 0)" label="rgb(255, 255, 0)"></option>
										<option value="rgb(0, 138, 0)" label="rgb(0, 138, 0)"></option>
										<option value="rgb(0, 102, 204)" label="rgb(0, 102, 204)"></option>
										<option value="rgb(153, 51, 255)" label="rgb(153, 51, 255)"></option>
										<option value="rgb(250, 204, 204)" label="rgb(250, 204, 204)"></option>
										<option value="rgb(255, 235, 204)" label="rgb(255, 235, 204)"></option>
										<option value="rgb(255, 255, 204)" label="rgb(255, 255, 204)"></option>
										<option value="rgb(204, 232, 204)" label="rgb(204, 232, 204)"></option>
										<option value="rgb(204, 224, 245)" label="rgb(204, 224, 245)"></option>
										<option value="rgb(235, 214, 255)" label="rgb(235, 214, 255)"></option>
										<option value="rgb(187, 187, 187)" label="rgb(187, 187, 187)"></option>
										<option value="rgb(240, 102, 102)" label="rgb(240, 102, 102)"></option>
										<option value="rgb(255, 194, 102)" label="rgb(255, 194, 102)"></option>
										<option value="rgb(255, 255, 102)" label="rgb(255, 255, 102)"></option>
										<option value="rgb(102, 185, 102)" label="rgb(102, 185, 102)"></option>
										<option value="rgb(102, 163, 224)" label="rgb(102, 163, 224)"></option>
										<option value="rgb(194, 133, 255)" label="rgb(194, 133, 255)"></option>
										<option value="rgb(136, 136, 136)" label="rgb(136, 136, 136)"></option>
										<option value="rgb(161, 0, 0)" label="rgb(161, 0, 0)"></option>
										<option value="rgb(178, 107, 0)" label="rgb(178, 107, 0)"></option>
										<option value="rgb(178, 178, 0)" label="rgb(178, 178, 0)"></option>
										<option value="rgb(0, 97, 0)" label="rgb(0, 97, 0)"></option>
										<option value="rgb(0, 71, 178)" label="rgb(0, 71, 178)"></option>
										<option value="rgb(107, 36, 178)" label="rgb(107, 36, 178)"></option>
										<option value="rgb(68, 68, 68)" label="rgb(68, 68, 68)"></option>
										<option value="rgb(92, 0, 0)" label="rgb(92, 0, 0)"></option>
										<option value="rgb(102, 61, 0)" label="rgb(102, 61, 0)"></option>
										<option value="rgb(102, 102, 0)" label="rgb(102, 102, 0)"></option>
										<option value="rgb(0, 55, 0)" label="rgb(0, 55, 0)"></option>
										<option value="rgb(0, 41, 102)" label="rgb(0, 41, 102)"></option>
										<option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
									</select>
									<span class="ql-format-separator"></span>
								</span>
								<span class="ql-ngx-tree ql-formats" *ngIf="questionsBefore.length > 0">
									<!-- <ngx-dropdown-treeview-select #catiPipeTreeSelect [items]="questionsBefore"
										[config]="treedropdownSingleConfig" (valueChange)="pipeCatiQuestion()">
									</ngx-dropdown-treeview-select>-->
									<!--<button type="button" (click)="pipeQuestion()" id="pipe-button" class="pipe-button">PIPE</button>-->
								</span>
							</div>
						</quill-editor>
					</div>
				</div>
				<div class="row" *ngIf="questionBeingEdited.catiDependent">
					<div class="col-md-12">
						<hr class="edit-separator-hr" />
					</div>
				</div>

				<div class="" *ngIf="questionBeingEdited.questionPart">
					<div class="col-12 align-self-center">
						<div class="form-group form-group-adjust row">
							<label class="col-md-2 col-form-label text-md-right">Optional</label>
							<div class="col-md-10 align-self-center">
								<div
									class="custom-control custom-control-inline custom-control-nolabel custom-checkbox"
								>
									<input
										type="checkbox"
										class="custom-control-input"
										value=""
										id="isOptionalCheck"
										[(ngModel)]="questionBeingEdited.isOptional"
										name="isOptional"
									/>
									<label class="custom-control-label" for="isOptionalCheck">Basic checkbox</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="form-group form-group-adjust row"
					[hidden]="questionBeingEdited.questionPart || !householdExistsBefore"
				>
					<div class="col-12">
						<div class="form-group form-group-adjust row">
							<label class="col-md-2 col-form-label text-md-right">Household</label>
							<div class="col-md-10" [hidden]="questionBeingEdited.repeatSourceQuestionName != null">
								<label class="form-check-label switch" for="isHouseholdCheck">
									<input
										class="form-check-input"
										type="checkbox"
										value=""
										id="isHouseholdCheck"
										[(ngModel)]="questionBeingEdited.isHousehold"
										name="isHousehold"
										#isHouseholdCheck
									/>
									<i></i>
								</label>
							</div>
							<div class="col-md-10 mt-2" [hidden]="questionBeingEdited.repeatSourceQuestionName == null">
								<div class="form-check-label">
									Household Disabled for Sections that Repeat
								</div>
							</div>
						</div>
					</div>
				</div>
				<div
					class="row"
					*ngIf="
						questionBeingEdited.questionPart || (!questionBeingEdited.questionPart && householdExistsBefore)
					"
				>
					<div class="col-md-12">
						<hr class="edit-separator-hr" />
					</div>
				</div>
				<div class="form-group form-group-adjust row">
					<div class="col-12">
						<div class="form-group form-group-adjust row">
							<label class="col-md-2 col-form-label text-md-right">Repeat</label>
							<div
								class="col-md-10"
								[hidden]="
									questionBeingEdited.id == 0 ||
									repeatSourcesBefore.length == 0 ||
									questionBeingEdited.isHousehold
								"
							>
								<label class="pull-left form-check-label switch" for="isRepeatCheck">
									<input
										class="form-check-input"
										type="checkbox"
										value=""
										id="isRepeatCheck"
										#isRepeat
										name="isRepeat"
										(change)="repeatQuestion(isRepeat.checked)"
										[checked]="questionBeingEdited.repeatSourceQuestionName != null"
									/>
									<i></i>
								</label>
								<!-- <ngx-dropdown-treeview-select class="pull-left ml-3" [hidden]="!isRepeat.checked"
									#repeatTreeSelect [items]="repeatSourcesBefore" [config]="treedropdownSingleConfig"
									(valueChange)="repeatQuestion(true)">
								</ngx-dropdown-treeview-select> -->
							</div>
							<div class="col-md-10 mt-2">
								<span [hidden]="questionBeingEdited.id != 0" class="form-check-label"
									>Setting Repeat Available After Save</span
								>
								<span
									[hidden]="questionBeingEdited.id == 0 || repeatSourcesBefore.length > 0"
									class="form-check-label"
									>No Repeat Sources Available</span
								>
								<span class="form-check-label" [hidden]="!questionBeingEdited.isHousehold"
									>Repeating Disabled for Household Questions</span
								>
							</div>
						</div>
					</div>
				</div>
				<div
					class="form-group form-group-adjust row"
					*ngIf="questionBeingEdited.questionPart === undefined || questionBeingEdited.questionPart === null"
				>
					<div class="col-12">
						<div class="form-group form-group-adjust row">
							<label class="col-md-2 col-form-label text-md-right">Display Multiple Questions</label>
							<div class="col-md-10 mt-2">
								<div class="custom-control custom-checkbox">
									<input
										[(ngModel)]="questionBeingEdited.isMultiView"
										type="checkbox"
										class="custom-control-input"
										name="isMultiView"
										id="display-multiple-checkbox"
									/>
									<label class="custom-control-label" for="display-multiple-checkbox"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane" id="advanced" aria-labelledby="advanced-tab" aria-expanded="true">
				<ng-container *ngFor="let config of configurations; let i = index">
					<ng-template #dynamic></ng-template>
					<div *ngIf="i < configurations.length - 1" class="row">
						
					</div>
				</ng-container>
			</div>
			<div
				role="tabpanel"
				class="tab-pane"
				id="conditionals"
				aria-labelledby="conditionals-tab"
				aria-expanded="true"
			>
				<traisi-survey-logic-query-builder
					[showValidationMessage]="false"
					[showValidationQuestion]="false"
					(onLogicChanged)="onConditionalLogicChanged($event)"
					[allowMultipleLogic]="false"
					[source]="conditionalSource"
					#queryBuilder
				></traisi-survey-logic-query-builder>

				<!-- <app-question-conditionals
					#conditionals
					*ngIf="conditionalsLoaded && questionBeingEdited.id != 0"
					[questionOptions]="questionOptions"
					[conditionals]="conditionalOperators"
					[sourceQuestionConditionals]="sourceQuestionConditionals"
					[sourceQuestionOptionConditionals]="sourceQuestionOptionConditionals"
					[questionOptionsAfter]="questionOptionsAfter"
					[thisQuestion]="thisQuestion"
					[questionType]="questionType"
					[sourceQuestionList]="sourceQuestionList"
					[questionBeingEdited]="questionBeingEdited"
				></app-question-conditionals> -->

				<div *ngIf="questionBeingEdited.id == 0">
					Conditionals are available for a question only after being added to the survey.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr class="edit-last-separator-hr" />
			</div>
		</div>
		<div class="modal-footer">
			<button
				*ngIf="!newQuestion"
				type="button"
				class="btn btn-danger pull-left"
				data-dismiss="modal"
				(click)="delete()"
				[disabled]="isSaving"
			>
				<i class="fas fa-times"></i>Delete
			</button>
			<button
				type="button"
				class="btn btn-secondary action-button"
				data-dismiss="modal"
				(click)="cancel()"
				[disabled]="isSaving"
			>
				<i class="fas fa-times"></i>Cancel
			</button>
			<button type="submit" class="btn btn-primary" [disabled]="isSaving">
				<i *ngIf="!isSaving" class="fa fa-save"></i>
				<i *ngIf="isSaving" class="fa fa-circle-o-notch fa-spin"></i>
				{{ isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate) }}
			</button>
		</div>

		<div class="clearfix"></div>
	</form>
</div>
