<div class="js-sidebar-content d-md-none">
	<header class="logo d-none d-md-block">
		<a [routerLink]=" [''] ">
			<img src="{{ config.logo }} " height="59">
		</a>
	</header>
	<div class="sidebar-status d-md-none dropdown" placement="bottom left">
		<a [routerLink]=" ['account'] " class="dropdown-toggle">
			<span class="thumb-sm avatar float-right">
				<img class="rounded-circle" src="assets/img/avatar.png" alt="...">
			</span>
			<!-- .circle is a pretty cool way to add a bit of beauty to raw data.
           should be used with bg-* and text-* classes for colors -->
			&nbsp;
			<strong>{{ userName }}</strong>&nbsp;
		</a>
	</div>
	<!-- main notification links are placed inside of .sidebar-nav -->
	<ul class="sidebar-nav">
		<li>
			<a [routerLink]=" ['dashboard'] ">
				<span class="icon">
					<i class="fas fa-tachometer-alt"></i>
				</span>
				{{ 'sidebar.Dashboard' | translate }}
			</a>
		</li>
		<li>
			<a [routerLink]=" ['surveys'] ">
				<span class="icon">
					<i class="fas fa-cubes"></i>
				</span>
				{{ 'sidebar.ManageSurveys' | translate }}
			</a>
		</li>
		<li *ngIf="isGroupAdmin && !canManageUsers">
			<a [routerLink]=" ['groups'] ">
				<span class="icon">
					<i class="fas fa-sliders-h"></i>
				</span>
				{{ 'sidebar.ManageGroups' | translate }}
			</a>
		</li>
		<li *ngIf="canManageUsers || isGroupAdmin">
			<a [routerLink]=" ['users'] ">
				<span class="icon">
					<i class="fas fa-users"></i>
				</span>
				{{ 'sidebar.ManageUsers' | translate }}
			</a>
		</li>
		<li *ngIf="canViewRoles">
			<a [routerLink]=" ['users/roles'] ">
				<span class="icon">
					<i class="fab fa-gg-circle"></i>
				</span>
				{{ 'sidebar.ManageRoles' | translate }}
			</a>
		</li>
		<li *ngIf="configFn.isScreen('xs') || configFn.isScreen('sm')">
			<a (click)="logout()">
				<span class="icon">
					<i class="fas fa-sign-out-alt"></i>
				</span>
				{{ 'sidebar.Logout' | translate }}
			</a>
		</li>
	</ul>

</div>
