<footer id="welcome-footer" [style.background-color]="pageThemeInfo.footerColour">
	<div class="row text-nowrap">
		<div class="col-1 text-left align-middle">
			<img class="ml-1 footer-logo" [src]="traisiLogoUrl" />
		</div>
		<div class="col-10 text-center" [style.color]="footerTextColour">
			<quill-editor class="quill-page-editor ql-previewmode" [modules]="quillMinimalModules" (onEditorCreated)="quillEditorCreated($event)"
			theme="bubble" [readOnly]="true" placeholder=""
			 [(ngModel)]="pageHTMLJson.html"></quill-editor>
		</div>
		<div class="col-1"></div>
	</div>
</footer>