@import 'src/shared/assets/scss/helpers';
@import "../../../assets/scss/application.scss";

.card-header
{
	display:flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.question-index
{
	padding: 5px;
	margin-right: 10px;
}

.header-label div
{
	display: inline-block !important;
}

.validation-icon.pristine
{
	display: none;
}



.validation-icon.valid
{
	color: $info;
}

.validation-icon.invalid
{
	color: $info;
}
