<section [@fadeInOut] class="widget flex-grow-1  mb-0 mb-md-3 question-widget mx-md-3 card" [ngClass]="displayClass">
	<div class="card-header question-container">
		<div class="question-header container-fluid">
			<div class="row flex-nowrap header-row">
				<div class="question-number-container col">
					<div class="question-number badge badge-danger mt-3"
						[ngClass]="{ 'question-section': question.parentSection !== undefined }">
						<span *ngIf="question.repeatNumber === undefined && question.parentSection === undefined">
							Q{{ surveyViewQuestion.viewOrder + 1 }}
						</span>
						<span *ngIf="question.repeatNumber === undefined && question.parentSection !== undefined">
							Q{{ surveyViewQuestion.viewOrder + 1 }}.{{ surveyViewQuestion.inSectionIndex + 1 }}
						</span>
						<span *ngIf="question.repeatNumber !== undefined && question.parentSection !== undefined">
							Q{{ surveyViewQuestion.viewOrder + 1 }}.{{ surveyViewQuestion.inSectionIndex + 1 }} -
							{{ repeatNumber + 1 }}
						</span>
						<span *ngIf="question.repeatNumber !== undefined && question.parentSection === undefined">
							Q{{ surveyViewQuestion.viewOrder + 1 }} - {{ repeatNumber + 1 }}
						</span>
					</div>
					<div class="question-complete animated tada slow"
						*ngIf="responseValidationState === validationStates.VALID">
						<i class="fas fa-check-circle"></i>
					</div>
					<div class="question-incomplete animated tada slow"
						*ngIf="responseValidationState === validationStates.INVALID">
						<i class="fas fa-times-circle"></i>
					</div>
				</div>
				<div class="question-header-text col" [innerHTML]="titleLabel | async | safeHtml">
				</div>
			</div>
		</div>

		<!--
			<span class="question-validation">

				<i class="fas fa-check-circle validation-icon" [ngClass]="{'pristine':responseValidationState == validationStates.PRISTINE,

					'invalid':responseValidationState == validationStates.INVALID,

								'valid': responseValidationState == validationStates.VALID}"></i>


			</span>

			<span class="question-index badge badge-pill badge-secondary" *ngIf="question.repeatNumber === undefined">

				Q{{ questionIndex+1 }}

			</span>

			<span class="question-index badge badge-pill badge-secondary" *ngIf="question.repeatNumber !== undefined">

				Q{{ questionIndex+1 }} - {{question.repeatNumber + 1}}

			</span>
		-->

		<span class="badge badge-info" *ngIf="question.isOptional">Optional</span>
	</div>
	<!-- <div class="question-header-divider mt-3 mb-0 mb-md-3"></div>-->
	<div class="widget-body card-body">
		<div class="question-container-inner">
			<ng-container *ngTemplateOutlet="!isLoaded ? loadingTemplate : questionTemplate"> </ng-container>
		</div>
		<ng-template #loadingTemplate>
			<!-- <traisi-question-placeholder></traisi-question-placeholder> -->
		</ng-template>

		<ng-template #questionTemplate>
			<ng-container #container></ng-container>
		</ng-template>
	</div>
</section>
