@import 'src/shared/assets/scss/helpers';
@import '../../../assets/scss/application.scss';

.question-header {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: row;
}

.question-widget {

	//position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	display: flex;
	flex-direction: column;

	// border: solid 1px #64689a;
}





.question-index {
	padding: 5px;
	margin-right: 10px;
}

.header-label div {
	display: inline-block !important;
}

.validation-icon.pristine {
	display: none;
}

.validation-icon.valid {
	color: $info;
}

.validation-icon.invalid {
	color: $info;
}

.validation-icon {
	font-size: 24px;
}

.widget-body {
	flex-grow: 1;
	position: relative;
}

.view-compact {
	position: relative;
}

.view-full {
	position: absolute;
}

.header-label {
	flex-grow: 1;
}


.question-header {
	position: relative;



	::ng-deep .piped-value {
		border: solid 1px #a4dbf1;
		font-weight: 500 !important;
    color: black;
    background: #daeff7;
    padding: 2px 4px;
    border-radius: 5px;
	}

	::ng-deep .piped-value:hover {

		background: #e2eef3;

	}

	.question-header .row {
		align-items: center;
	}

	.question-number-container {
		max-width: 90px;
		position: relative;
	}

	.question-number-container-section {
		max-width: 80px;
		position: relative;
	}

	.question-number {
		vertical-align: middle !important;
		text-align: center !important;
		font-weight: bold !important;
		font-size: 16px;
		padding: 10px;
		max-height: 32px;
	}
	.question-complete {
		position: absolute;
		left: 0px;
		top: 0px;
		font-size: 24px;
		i {
			background-color: lightgreen;
			border-radius: 50%;
		}

  	animation-iteration-count: 5;
	}

	.question-incomplete {
		position: absolute;
		left: 0px;
		top: 0px;
		font-size: 24px;
		i {
			background-color: red;
			border-radius: 50%;
		}

  	animation-iteration-count: 5;
	}
	.question-header-text {
		max-width: calc(100% - 50px);
		font-weight: 400;


	}
}

.question-header-divider {
	margin: 20px;
	height: 5px;
	border-top: 1px solid rgb(200, 200, 200);
}

.question-section {
	background-color: #01688b !important
}
