@import 'src/shared/assets/scss/helpers';
@import '../../../assets/scss/application.scss';

.question-header {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: row;
}

.question-widget {
	margin-left: 15px;
	margin-right: 15px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	display: flex;
	flex-direction: column;
}

.question-index {
	padding: 5px;
	margin-right: 10px;
}

.header-label div {
	display: inline-block !important;
}

.validation-icon.pristine {
	display: none;
}

.validation-icon.valid {
	color: $info;
}

.validation-icon.invalid {
	color: $info;
}

.widget-body {
	flex-grow: 1;
	position: relative;
}
