<section class="widget  border-primary mb-3 question-widget" [ngClass]="displayClass">
	<header class="question-header">
		<span class="question-validation">
			<i class="fas fa-check-circle validation-icon" [ngClass]="{'pristine':responseValidationState == validationStates.PRISTINE,
				'invalid':responseValidationState == validationStates.INVALID,
							'valid': responseValidationState == validationStates.VALID}"></i>

		</span>
		<span class="question-index badge badge-pill badge-secondary" *ngIf="question.repeatNumber === undefined">
			Q{{ questionIndex+1 }}
		</span>
		<span class="question-index badge badge-pill badge-secondary" *ngIf="question.repeatNumber !== undefined">
			Q{{ questionIndex+1 }} - {{question.repeatNumber + 1}}
		</span>
		<span [innerHTML]="titleLabel | async | safeHtml" class="header-label"></span>

	</header>

	<div class="widget-body">
		<div class="question-container-inner">
			<ng-container *ngTemplateOutlet="!isLoaded ? loadingTemplate : questionTemplate">

			</ng-container>
		</div>
		<ng-template #loadingTemplate>
			<traisi-question-placeholder></traisi-question-placeholder>
		</ng-template>

		<ng-template #questionTemplate>
			<ng-container #container></ng-container>
		</ng-template>
	</div>
</section>
