<form #f="ngForm" name="form">

  <div class="col-md-7 col-12 form-group">

    <input (blur)="inputBlur()" [textMask]="numberMask" [(ngModel)]="model" type="text"
      [ngClass]="{'is-invalid':numberInput.invalid && (numberInput.dirty || numberInput.touched)  && (!numberInput.pristine)}"
      class="form-control form-control-lg" #numberInput="ngModel" name="numberInput" id="numberInput"
      (ngModelChange)="modelChanged($event)" required />
    <div *ngIf="numberInput.invalid && (numberInput.dirty || numberInput.touched) && (!numberInput.pristine)"
      class="invalid-feedback">

      <div *ngIf="numberInput.errors?.required">
        A value is required.
      </div>
      <div *ngIf="numberInput.errors?.range">
        The value entered is not within the allowed range.
      </div>

    </div>
  </div>




</form>