<div class="form-group form-group-adjust row">
	<label for="{{ 'checkbox-' + id }}" class="col-md-3 col-form-label text-md-right">{{ questionConfiguration.name}}</label>
	<div class="col-md-9">
		<ng-container *ngFor="let option of options; let idx = index">
			<div class="form-check abc-radio abc-radio-primary">
				<input type="radio" id="{{option}}" class="form-check-input" name="{{ 'checkbox-' + id }}" (change)="onSelectionChange(option)" [checked]="selectedEntry == option"/>
				<label class="form-check-label" for="{{option}}">{{ option }}</label>
			</div>
		</ng-container>				
	</div>
</div>

