<!-- main notification links are placed inside of .sidebar-nav -->
<div class="builder-qtypes list-group list-group-bordered mb-3">
	<smooth-dnd-container
		*ngIf="!disabled"
		id="qTypesList"
		[behaviour]="'copy'"
		(dragStart)="onDragStart($event)"
		(dragEnd)="onDragEnd($event)"
		[groupName]="'builder-questions'"
		[getGhostParent]="getGhostParent"
		[getChildPayload]="getQuestionPayload"
	>
		<smooth-dnd-draggable>
			<li class="chooser list-group-item list-group-item list-group-item-action" (click)="addSectionToList()">
				<div class="list-group-item-figure">
					<span class="icon" [tooltip]="'Section'" placement="right" container="body" containerClass="tooltip-builder">
						<i class="chooser-icon fas fa-archive"></i>
					</span>
				</div>
				<div class="list-group-item-body">Section</div>
			</li>
		</smooth-dnd-draggable>

		<ng-container *ngFor="let item of questionTypeDefinitions" class="list-group-item list-group-item-action active">
			<smooth-dnd-draggable
				[hidden]="item.typeName == 'household' && householdAdded"
				class="list-group-item list-group-item-action active"
			>
				<li class="chooser list-group-item list-group-item list-group-item-action" (click)="addQuestionTypeToList(item)">
					<div class="list-group-item-figure">
						<span
							class="icon"
							[tooltip]="getQuestionTypeName(item)"
							placement="right"
							container="body"
							containerClass="tooltip-builder"
						>
							<i class="chooser-icon" [ngClass]="item.icon"></i>
						</span>
					</div>
					<div class="list-group-item-body">{{ getQuestionTypeName(item) }}</div>
				</li>
			</smooth-dnd-draggable>
		</ng-container>
	</smooth-dnd-container>
	<div *ngIf="disabled">
		<!-- an example of nested submenu. basic bootstrap collapse component -->
		<div class="list-group-header">Headers</div>
		<ul id="layout-headers">
			<smooth-dnd-container
				id="pageBuilderList"
				[behaviour]="'copy'"
				[getGhostParent]="getGhostParent"
				[groupName]="'special-header'"
				[getChildPayload]="getPageHeaderPayload"
			>
				<smooth-dnd-draggable>
					<li class="chooser list-group-item list-group-item list-group-item-action">
						<div class="list-group-item-figure">
							<span
								class="icon"
								placement="right"
								tooltip="Centred Logo Header"
								container="body"
								containerClass="tooltip-builder"
							>
								<i class="chooser-icon fas fa-th-large"></i>
							</span>
						</div>
						<div class="list-group-item-body">1 Logo</div>
					</li>
				</smooth-dnd-draggable>

				<smooth-dnd-draggable>
					<li class="chooser list-group-item list-group-item list-group-item-action">
						<div class="list-group-item-figure">
							<span
								class="icon"
								placement="right"
								tooltip="Two Logo Header"
								container="body"
								containerClass="tooltip-builder"
							>
								<i class="chooser-icon fas fa-th-large"></i>
							</span>
						</div>
						<div class="list-group-item-body">2 Logo</div>
					</li>
				</smooth-dnd-draggable>
			</smooth-dnd-container>
		</ul>
	</div>
	<div *ngIf="disabled">
		<div class="list-group-header">Headers</div>
		<!-- an example of nested submenu. basic bootstrap collapse component
			<a class="collapsed" data-target="#layout-surveyAccess" data-toggle="collapse">
				<span class="icon">
					<i class="fas fa-th-large"></i>
				</span>
				Survey Starts
				<i class="toggle fas fa-angle-down"></i>
			</a>-->
		<ul id="layout-surveyAccess">
			<smooth-dnd-container
				id="pageBuilderList"
				[behaviour]="'copy'"
				[groupName]="'special-surveyAccess'"
				[getGhostParent]="getGhostParent"
				[getChildPayload]="getPageSurveyAccessPayload"
			>
				<smooth-dnd-draggable>
					<li class="chooser list-group-item list-group-item list-group-item-action">
						<div class="list-group-item-figure">
							<span
								class="icon"
								placement="right"
								tooltip="Two Column Media Survey Start Section"
								container="body"
								containerClass="tooltip-builder"
							>
								<i class="chooser-icon fas fa-th-large"></i>
							</span>
						</div>
						<div class="list-group-item-body">Media Start</div>
					</li>
				</smooth-dnd-draggable>
			</smooth-dnd-container>
		</ul>
	</div>
	<div *ngIf="disabled">
		<!-- an example of nested submenu. basic bootstrap collapse component -->
		<div class="list-group-header">Other Content</div>
		<ul id="layout-content">
			<smooth-dnd-container
				id="pageBuilderList"
				[behaviour]="'copy'"
				[groupName]="'special-content'"
				[getGhostParent]="getGhostParent"
				[getChildPayload]="getPageContentPayload"
			>
				<smooth-dnd-draggable>
					<li class="chooser list-group-item list-group-item list-group-item-action">
						<div class="list-group-item-figure">
							<span
								class="icon"
								placement="right"
								tooltip="Generic Text Area"
								container="body"
								containerClass="tooltip-builder"
							>
								<i class="chooser-icon fas fa-th-large"></i>
							</span>
						</div>
						<div class="list-group-item-body">Text Area</div>
					</li>
				</smooth-dnd-draggable>
			</smooth-dnd-container>
		</ul>
	</div>
	<div *ngIf="disabled">
		<!-- an example of nested submenu. basic bootstrap collapse component -->

		<div class="list-group-header">Footers</div>
		<ul id="layout-footers">
			<smooth-dnd-container
				*ngIf="disabled"
				id="pageBuilderList"
				[behaviour]="'copy'"
				[groupName]="'special-footer'"
				[getGhostParent]="getGhostParent"
				[getChildPayload]="getPageFooterPayload"
			>
				<smooth-dnd-draggable>
					<li class="chooser list-group-item list-group-item list-group-item-action">
						<div class="list-group-item-figure">
							<span
								class="icon"
								placement="right"
								tooltip="Centred Copyright Footer"
								container="body"
								containerClass="tooltip-builder"
							>
								<i class="chooser-icon fas fa-th-large"></i>
							</span>
						</div>
						<div class="list-group-item-body">Simple Copyright</div>
					</li>
				</smooth-dnd-draggable>
			</smooth-dnd-container>
		</ul>
	</div>
</div>
