<div class="js-builder-sidebar-content">
	<header class="logo d-none d-md-block">
		<a [routerLink]=" [''] ">
			<img src="{{ config.logo }} " height="59">
		</a>
	</header>
	<!-- main notification links are placed inside of .sidebar-nav -->
	<div class="builder-qtypes">
			<ul class="sidebar-nav">
			<smooth-dnd-container *ngIf="!disabled" id="qTypesList" [behaviour]="'copy'" (dragStart)="onDragStart($event)" (dragEnd)="onDragEnd($event)" [groupName]="'builder-questions'" [getChildPayload]="getQuestionPayload">
				<smooth-dnd-draggable>
					<li class="chooser section-tool-item">
						<a (click)="addSectionToList()">
							<span class="icon" [tooltip]="'Section'" placement="right" container="body" containerClass="tooltip-builder">
								<i class="chooser-icon fas fa-archive"></i>
							</span>
								Section
						</a>
					</li>
				</smooth-dnd-draggable>
				<smooth-dnd-draggable *ngFor="let item of questionTypeDefinitions">
					<li class="chooser">
						<a (click)="addQuestionTypeToList(item)">
							<span class="icon" [tooltip]="getQuestionTypeName(item)" placement="right" container="body" containerClass="tooltip-builder">
								<i class="chooser-icon" [ngClass]="item.icon"></i>
							</span>
								{{ getQuestionTypeName(item) }}
						</a>
					</li>
				</smooth-dnd-draggable>
			</smooth-dnd-container>
		</ul>
	</div>
</div>