@import 'src/shared/assets/scss/helpers';

.page-questions-empty {
	height: 50px;
}
.page-questions {
	border-radius: 5px;
	padding: 2px;
	margin: 3px;
	border: 1px solid $gray-200;
}

.question-number {
	position: absolute;
	left: 3px;
	vertical-align: middle !important;
	text-align: center !important;
	font-weight: bold !important;
	font-size: 16px;
	padding: 10px;
	margin-top: 7px;
	margin-left: 2px;
}

.page-question {
	padding:10px;
	margin:2px 0px 2px 0px;
	min-height: 43px;
	width:100%;

	.question-text {
		margin-left: 60px;
		margin-right: 50px;
		text-align: left;
		white-space: nowrap;

		@media (hover: hover) {
			overflow-x: hidden;
		}
		@media (hover: none) {
			overflow-x: auto;
		}
	}
	.question-text:hover {
		overflow-x: auto;
	}
	.icon {
		margin-left: 50px;
		margin-right: 10px;
		float: left;
		margin-top:-1px;
	}
	.question-move-icon {
		flex:unset;
		margin-right: 10px;
		float: right;
		margin-top:-1px;
		cursor: move;
	}
	.config-icon {
		flex: unset;
		margin-right: 10px;
		float: right;
		margin-top:-1px;
	}
}

.page-part {
	padding:10px;
	margin:2px 0px 0px 0px;
	min-height: 43px;
	width:100%;

	.question-text {
		margin-left: 60px;
		margin-right: 50px;
		text-align: left;
		white-space: nowrap;
		@media (hover: hover) {
			overflow-x: hidden;
		}
		@media (hover: none) {
			overflow-x: auto;
		}
	}
	.question-text:hover {
		overflow-x: auto;
	}
	.icon {
		margin-left: 50px;
		margin-right: 10px;
		float: left;
		margin-top:-1px;
	}

	.question-move-icon {
		flex:unset;
		margin-right: 10px;
		float: right;
		margin-top:-1px;
		cursor: move;
	}
	.config-icon {
		flex:unset;
		margin-right: 10px;
		float: right;
		margin-top:-1px;
	}
}

.question-options {
	
}

.question-part-container {
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
	overflow:hidden;
	
	
	.page-question {
		.icon {
			margin-left: 60px !important;
		}
	}
}

.drag-over {
	background-color: #eaedff !important;
}

.question-part-container-placeholder {
	text-align: center;
	padding-top:7px;
	font-size:24px;
	font-weight:bold;
	opacity: 0.5;
}

.config-background {
	background-color: $gray-100;
}

.config-title-icon {
	margin-top: -3px;
	margin-right: 5px;
}

.page-question-icon {
	width: 15px;
}

.color-unset {
	color: unset;
}
