@import 'src/shared/assets/scss/helpers';

.page-questions-empty {
	// height: 50px;
}
.page-questions {
	border-radius: 5px;
	padding: 2px;
	margin: 10px;
	// border: 1px solid $gray-200;
}

.question-number {
	position: absolute;
	// left: 3px;
	vertical-align: middle !important;
	text-align: center !important;
	font-weight: bold !important;
	font-size: 16px;
	padding: 10px;
	margin-top: 7px;
	margin-left: 5px;
}

.page-question {
	padding:2px;
	margin:2px 0px 2px 0px;
	min-height: 65px;
	width:100%;
	height: auto;

	.question-text-page {
		font-size: 1.15em;
	}

	.question-text {
		margin-left: 60px;
		margin-right: 50px;
		text-align: left;
		
		//white-space: nowrap;

		@media (hover: hover) {
			overflow-x: hidden;
		}
		@media (hover: none) {
			overflow-x: auto;
		}

		.name-text {
			font-size: 1.15em;
			padding: 5px;
			.badge {
				font-size: 100%;
			}
		}
		.label-text {
			padding: 5px;
		}
	}
	.question-text:hover {
		overflow-x: auto;
	}
	.icon {
		margin-left: 50px;
		margin-right: 10px;
		float: left;
		margin-top:-1px;
	}
	.question-move-icon {
		flex:unset;
		margin-right: 10px;
		float: right;
		margin-top:-1px;
		cursor: move;
	}
	.config-icon {
		flex: unset;
		margin-right: 10px;
		float: right;
		margin-top:-1px;
	}
}

.page-part {
	padding:10px;
	margin:2px 0px 0px 0px;
	min-height: 43px;
	width:100%;

	.section-name-text {
		font-size: 1.25em;
	}

	.question-text {
		margin-left: 60px;
		margin-right: 50px;
		text-align: left;
		white-space: nowrap;
		@media (hover: hover) {
			overflow-x: hidden;
		}
		@media (hover: none) {
			overflow-x: auto;
		}
	}
	.question-text:hover {
		overflow-x: auto;
	}
	.icon {
		margin-left: 50px;
		margin-right: 10px;
		float: left;
		margin-top:-1px;
	}

	.question-move-icon {
		flex:unset;
		margin-right: 10px;
		float: right;
		margin-top:-1px;
		cursor: move;
	}
	.config-icon {
		flex:unset;
		margin-right: 10px;
		float: right;
		margin-top:-1px;
	}
}

.details {
	background-color: white;
}

.question-wrapper {
	border-radius: 10px;
    padding: 5px;
    margin: 10px;
    border: solid 1px #DDD;

	background-color: white;
}

.question-wrapper:hover {
	background-color: #e2e5ef;
}

.question-part-container.section-container {
	border-width: 0px 1px 1px 1px;
    background-color: #f8fbff;
    border-color: #dee2ea;
    border-style: dashed;
    border-radius: 00px 0px 10px 10px;
}

.question-part-container {
	margin-left:5px;
	margin-right:5px;
	margin-bottom:10px;
	overflow:hidden;
	background-color: white;

	.page-question {
		.icon {
			margin-left: 60px !important;
		}
	}
}

.drag-over {
	background-color: #eaedff !important;
}

.question-part-container-placeholder {
	text-align: center;
	padding-top:7px;
	font-size:24px;
	font-weight:bold;
	opacity: 0.5;
}

.config-title-icon {
	margin-top: -3px;
	margin-right: 5px;
}

.page-question-icon {
	width: 15px;
}

.color-unset {
	color: unset;
}
