<div
	bsModal
	#inputModal="bs-modal"
	class="modal fade"
	[config]="{ ignoreBackdropClick: true }"
	(onShown)="modalShown($event)"
>
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left" *ngIf="dialogMode === dialogModeNew">Trip Details</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div [class.missingMap]="model && !model.address">
					<ng-template #mapTemplate>
						<ng-container #container></ng-container>
					</ng-template>
				</div>
				<div class="form-group row">
					<div class="col-12">
						<label for="members" class="col-form-label">Family members who attended this activity</label>
						<ng-select
							appearance="outline"
							#memberSelect
							[items]="respondents | async"
							name="members"
							(change)="onMembersChanged($event)"
							[(ngModel)]="model.meta.otherFamilyMembers"
							[multiple]="true"
							bindLabel="name"
							bindValue="id"
							[selectOnTab]="true"
							labelForId="members"
							placeholder="Select Household Members"
							required
						>
						</ng-select> 
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" (click)="hide()">Cancel</button>
				<button
					type="button"
					[class.disabled]="!isValid"
					class="btn btn-primary"
					[disabled]="!isValid"
					(click)="dialogSave()"
				>
					Save
				</button>
			</div>
		</div>
	</div>
</div>
