@import 'src/shared/assets/scss/helpers';
@import "../../../assets/scss/application.scss";


.group-member-names-section
{

}

.questions-container {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: stretch;
	justify-content: stretch;
	justify-items: stretch;
}

.question-section
{
	flex-grow: 1;
}

.group-member-names-section {
	transform-origin: top left;
	transform: rotate(90deg);
	white-space: nowrap;
	width: 40px;
	display: inline-block;
}

.group-member-name
{
	height: 40px;
}

.survey-viewer-container
{
	// overflow: hidden;
    /* height: 100%; */
    display: block;
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
	max-height: 100%;
}

.survey-body-container {
	margin: 0;
	text-align: center;
	overflow-y: auto;
	width: 100%;
	flex-grow: 1;
}

.survey-body {
	text-align: left;
	display: block;
}


.survey-title-container
{
	text-align: center;
	margin:10px;
}

.survey-footer-container
{
	background: $light;
}

.footer-inner
{
	text-align: center;
	font-size: 14px;
	margin:10px;
}

.traisi-survey-viewer-container
{
	display: flex;
	flex-direction: column;
	max-height:100%;
}

.navigation-button
{
	display: inline-block;
	margin:20px;
	button{
		width: 100px;
	}

}

.survey-navigation-container
{
	display: flex;
    align-items: center;
    align-content: center;
	justify-content: center;

}


@import "survey-viewer-component.sm.scss";

