@import "../../../assets/scss/application.scss";


@media #{$sm-down} {


	.survey-body {
		margin: 5px;
	}
	.survey-body-container {
		margin-top: 0;
		text-align: center;
		overflow-y: auto;
		width: 100%;
		min-height: 200px;

	}

	.survey-title-container
	{
		text-align: center;
		margin:0px;
	}


}
