<div class="traisi-survey-viewer-container">
	<div class="survey-title-container">
		<h1>{{ titleText }}</h1>
	</div>

	<traisi-survey-header-display #header></traisi-survey-header-display>

	<div class="survey-body-container">
		<div class="survey-body">
			<div class="survey-section-header" [hidden]="isSection"></div>
			<div class="questions-container">
				<div class="question-section" *ngIf="isLoaded">
					<div *ngFor="let question of viewerState.surveyQuestions; let i = index">

						<div *ngIf="!viewerState.isSectionActive || (viewerState.isSectionActive && !viewerState.activeSection.isHousehold)">


							<traisi-question-container [surveyViewer]="ref" [respondent]="viewerState.primaryRespondent" [question]="question"
							 [surveyViewQuestion]=[activeQuestion] [surveyId]="surveyId" [questionIndex]="i" *ngIf="viewerState.activeQuestionIndex == i"
							 #questions></traisi-question-container>
						</div>


						<div *ngIf="viewerState.activeQuestionIndex == i">
							<div *ngFor="let groupQuestion of viewerState.activeGroupQuestions; let m = index" >

								<div [hidden]="m != viewerState.activeGroupMemberIndex">
									<traisi-question-container [surveyViewer]="ref" [question]="question" [surveyId]="surveyId" [questionIndex]="i"
									 [surveyViewQuestion]="groupQuestion" [respondent]="groupQuestion.parentMember" #questions></traisi-question-container>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="group-member-names-container" [hidden]="!viewerState.isSectionActive || (viewerState.isSectionActive && !viewerState.activeSection.isHousehold)">
					<div class="group-member-names-section">
						<span *ngFor="let groupQuestion of viewerState.activeGroupQuestions; let m = index" class="group-member-name"
						 (click)="showGroupMember(m)" [ngClass]="{
								'group-member-active': m == viewerState.activeGroupMemberIndex,
								'group-member-complete': groupQuestion.validationState == validationStates.VALID && m != viewerState.activeGroupMemberIndex}">
							{{ groupQuestion.parentMember.name }}</span>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="survey-navigation-container">
		<div class="survey-previous-button navigation-button">
			<button type="button" class="btn btn-primary" (click)="navigatePrevious()" [disabled]="!navigatePreviousEnabled">
				{{ 'Viewer.Previous' | translate }}
			</button></div>
		<div class="survey-next-button navigation-button">
			<button type="button" class="btn btn-primary" (click)="navigateNext()" [disabled]="!navigateNextEnabled">
				{{ 'Viewer.Next' | translate }}
			</button></div>
	</div>
	<div class="survey-footer-container">
		<div class="footer-inner">
			Ministry of Transportation
		</div>
	</div>
</div>
