// @import 'src/shared/assets/scss/helpers';
@import "../../../../shared/assets/scss/traisi-import.scss";

traisi-survey-header-display {
  position: relative;
}

#welcome-header-editor {
  z-index: 1000;
}

.question-section.display-full {
  position: relative;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  traisi-question-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.survey-section-header {
  // color: white;
  padding: 8px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.questions-container {
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  justify-content: stretch;
  justify-items: stretch;
  // position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.question-section {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.question-widget {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.group-member-names-section {
  transform-origin: left;
  transform: rotate(90deg);
  white-space: nowrap;
  display: inline-block;
}

.group-member-names-container {
  width: 30px;
}

.repeat-header {
  font-size: 14px;
  color: #777;
}

.group-member-name {
  display: inline;
  margin-right: 5px;
  -webkit-transform: none;
  transform: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #dfdfdf;
  color: #777;
}

.group-member-name.group-member-active {
  background-color: #01688b;
  color: white;
}

.group-member-name.group-member-complete {
  background-color: #64bd63;
  color: white;
}

.survey-viewer-container {
  // overflow: hidden;
  /* height: 100%; */
  display: block;
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 0px;
  max-height: 100%;
}

.survey-body-container {
  margin: 0;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.survey-body {
  text-align: left;
  display: block;
  background-color: #f6f7f9;
}

.survey-title-container {
  text-align: center;
  margin: 10px;
}

.survey-footer-container {
  // background: $light;
}

.footer-inner {
  text-align: center;
  font-size: 14px;
  margin: 10px;
}

.traisi-survey-viewer-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.navigation-button {
  display: inline-block;
  margin: 20px;
  button {
    width: 100px;
  }
}

.survey-navigation-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

#question-viewer-wrapper {
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

#question-viewer-nav {
  font-size: 18px;

  @include media-breakpoint-up(md) {
    padding: 10px;
    // margin-right: 15px;
    button {
      width: 140px;
    }
  }
}

@media #{$md-down} {
  #question-viewer-nav {
    margin-bottom: 5px;
  }
}

.household-tabs {
  @include media-breakpoint-up(md) {
    margin-right: 45px !important;
  }
}

.survey-nav-button:disabled {
  cursor: initial;
}

@import "survey-viewer-component.sm.scss";
