
<div id="top-scroll-anchor"></div>
<div id="question-viewer-wrapper" class="flex-column d-flex" *ngIf="loadedComponents">

	<ndc-dynamic *ngIf="headerComponent" [ndcDynamicComponent]="headerComponent" [ndcDynamicInputs]="headerInputs">
	</ndc-dynamic>
	<traisi-survey-header-display [pageTextColour]="pageTextColour" [useWhiteProgressLine]="useLightNavigationLines"
		#header></traisi-survey-header-display>
	<div class="survey-body-container flex-grow-1 d-flex flex-column" id="survey-body-container" #surveyBodyContainer
		[scrollTop]="scrollTop">
		<div class="survey-body flex-grow-1 d-flex flex-column" *ngIf="navigator.navigationState$ | async as state">
			<div class="survey-section-header mx-md-3" *ngIf="state.activeSectionId >= 0"
				[style.background-color]="viewerTheme.sectionBackgroundColour" [style.color]="sectionTitleColour"
				[class.household-tabs]="state.activeSectionId >= 0 && state.activeSection.isHousehold"
				[ngClass]="{ 'mt-3 mt-md-0': viewerState.isSectionActive }"
				[innerHTML]="processedSectionLabel(state.activeSection.label) | safeHtml">
				<span class="repeat-header" *ngIf="state.activeSection.isRepeat">
					- Repeat {{ viewerState.activeSectionRepeatContainer.repeatIndex + 1 }}
				</span>
			</div>

			<div class="questions-container flex-grow-1" style="overflow: scroll" #questionsContainer>
				<div class="question-section d-flex flex-column" [ngClass]="{
					'd-flex flex-column':
						!state.isMultiView,
					'multi-display':
					state.isMultiView}">

					<ng-container
						*ngFor="let question of state.activeQuestionInstances; trackBy: trackById; let i = index">

						<traisi-question-container class="flex-grow-1 d-flex flex-column" [surveyViewer]="ref"
							[activeQuestionIndex]="i" [questionInstance]="question"
							[respondent]="viewerState.activeRespondent" [question]="question.model"
							[attr.data-questionid]="question.model.questionId"
							[attr.data-question-name]="question.model.name" [attr.data-multiview]="state.isMultiView"
							[surveyViewQuestion]="question.model" [surveyId]="surveyId" [repeatNumber]="0"
							[sectionRepeatNumber]="0" [questionTypeMap]="questionTypeMap"
							[questionNameMap]="questionNameMap" #questions>
						</traisi-question-container>

					</ng-container>

				</div>

			</div>

			<div id="question-viewer-nav" class="pl-md-3"
				[class.household-tabs]="viewerState.isSectionActive && viewerState.activeSection.isHousehold">
				<div class="row justify-content-center">
					<span class="w-50 mx-auto text-right mt-2 mb-2">
						<button [ngClass]="navButtonClass" (click)="navigatePrevious()"
							[disabled]="!(navigator.previousEnabled$ | async)" class="btn  pl-4 pr-4  survey-nav-button"
							type="button">
							<i class="fas fa-arrow-alt-circle-left mr-1"></i>
							{{ 'Viewer.Previous' | translate }}
						</button>
					</span>

					<span class="w-50 mx-auto text-left  mt-2 mb-2">
						<button *ngIf="!viewerState.isNavComplete && !viewerState.isNavFinished"
							[ngClass]="navButtonClass" (click)="navigateNext()"
							[disabled]="!(navigator.nextEnabled$ | async)"
							class="btn btn-primary pl-4 pr-4  survey-nav-button" type="button">
							<!-- <div class="progress" *ngIf="false">
							<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
								aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
						</div>-->
							<div *ngIf="!isNextProcessing && !viewerState.isNavComplete">
								{{ 'Viewer.Next' | translate }}
								<i class="fas  fa-arrow-alt-circle-right ml-1"></i>
							</div>
						</button>
						<button *ngIf="viewerState.isNavFinished" [ngClass]="navButtonClass"
							[disabled]="!viewerState.isNavComplete" (click)="navigateCompleteSurvey()"
							class="btn btn-primary  pl-4 pr-4  survey-nav-button" type="button">
							<div>
								{{ 'Viewer.CompleteSurvey' | translate }}
								<i class="fas fa-arrow-alt-circle-right ml-1"></i>
							</div>
						</button>
					</span>

				</div>
			</div>
			<ndc-dynamic *ngIf="footerComponent" [ndcDynamicComponent]="footerComponent"
				[ndcDynamicInputs]="footerInputs">
			</ndc-dynamic>

			<div class="admin-container">
				<traisi-admin-toolbar *ngIf="isAdmin"></traisi-admin-toolbar>
			</div>
		</div>
