<div *ngIf="isFinishedLoading">
	<app-header1 *ngIf="model.header1" [pageThemeInfo]="pageThemeInfo" [pageObject]="model.header1"></app-header1>
	<app-header2 *ngIf="model.header2" [pageThemeInfo]="pageThemeInfo" [pageObject]="model.header2"></app-header2>
	<div class="group-code-content-container">
		<form #groupcodeForm="ngForm" (ngSubmit)="onGroupcodeSubmit()" [formGroup]="groupcodeFormGroup">
			<div class="input-group input-group-lg"><input class="form-control" type="text" [(ngModel)]="groupcodeInput"></div>
			<div class="groupcode-submit">
				<button type="submit" (click)="onGroupcodeSubmit()" class="btn btn-primary">GROUPCODE START TEMP</button>
			</div>
		</form>
	</div>
	<app-footer1
		*ngIf="model.footer1"
		class="footer fixed-bottom groupcode-footer groupdcode-footer1"
		[pageThemeInfo]="pageThemeInfo"
		[pageHTML]="model.footer1"
	></app-footer1>
</div>
