@import '~@ng-select/ng-select/themes/default.theme.css';

.schedule-list-item {
	margin-top: 10px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}


.schedue-confirmed-message {
	text-align: center;
	font-weight: bold;
}