<div class="trip-list">
	<div class="schedule-list-item" *ngFor="let scheduleItem of scheduleItems; index as i" >
		<traisi-travel-diary-scheduler-item [class.active]="i === scheduleItems.length-1 && !isScheduleConfirmed"
        [class.inactive]="i !== scheduleItems.length-1 || isScheduleConfirmed"
			[model]="scheduleItem"
			[scheduleIndex]="i" (click)="editSchedulerItem(i)"
		></traisi-travel-diary-scheduler-item>
	</div>
</div>

<div class="schedule-confirmed-message"  *ngIf="isScheduleConfirmed">
    Travel diary input collection completed. <a [routerLink]="" (click)="unconfirmSchedule()">Click here </a> to edit again.
</div>


