<div class="survey-logic-container">
	<div *ngFor="let query of queryModels; let i = index" class="flex">
		<query-builder
			[ngModel]="queryModels[i]"
			[config]="config"
			[classNames]="classNames"
			(ngModelChange)="onModelChange($event, i)"
			#queryBuilder
			ngDefaultControl
		>
			<ng-container *queryInput="let rule; type: 'option'">
				<div class="col-auto">
					<ng-select
						[items]="optionsMap.get(rule.field) | async"
						bindLabel="optionLabel.value"
						[multiple]="false"
						[searchable]="true"
						class="option-select"
						placeholder="Select ..."
						bindValue="code"
						(change)="onOptionModelChange($event,i,rule)"
						[(ngModel)]="rule.value"
					></ng-select>
				</div>
			</ng-container>
		</query-builder>

		<div class="container">
			<div class="row align-items-center">
				<div class="col-sm">
					<div class="form-group">
						<label for="{{ i }}-message">Validation Message</label>
						<input
							type="text"
							class="form-control"
							id="{{ i }}-message"
							placeholder="Enter validation message"
							(ngModelChange)="onValidationMessageModelChange($event, i)"
							[ngModel]="queryModels[i].message"
						/>
					</div>
				</div>
				<div class="col-sm text-right">
					<button class="btn btn-primary mr-3" (click)="deleteLogic(i)">Delete</button>
				</div>
			</div>
		</div>
		<hr />
	</div>
	<div class="text-center add-logic-container">
		<button class="btn btn-primary mr-3" (click)="addLogic()"><i class="fas fa-plus-circle"></i> Add Logic</button>
	</div>
</div>
