<div class="matrix-question">
	<form #matrixForm="ngForm">
		<div class="matrix-table">
			<div class="matrix-row">
				<div class="matrix-space" [style.width]="rowHeaderWidth+'%'"></div>
				<div class="matrix-header" *ngFor="let header of columnLabels" [style.width]="entryWidth+'%'">{{ header }}</div>
			</div>

			<div class="matrix-row" *ngFor="let header of rowLabels;; let row = index">
				<span class="matrix-header  matrix-row-header"  [style.width]="rowHeaderWidth+'%'">{{ header }}</span>
				<span  [style.width]="entryWidth+'%'"
					*ngFor="let entry of columnLabels; let col = index"
					class="custom-control custom-radio matrix-entry"
				>
					<input
						required
						[value]="entry"
						type="radio"
						id="{{questionId }}-customRadio{{ row }}_{{ col }}"
						name="{{questionId }}-{{ header }}"
						class="custom-control-input"
						(change)="changed($event, questionId + '-' + row + '_' + col)"
						[(ngModel)]="model[header]"
					/>
					<label class="custom-control-label" for="{{questionId }}-customRadio{{ row }}_{{ col }}"></label>
				</span>
			</div>
		</div>

		<div style="padding-top: 25px;"></div>

		<button style="padding: 10px 25px;" type="button" (click)="clearAll($event)">Clear All</button>
	</form>
</div>
