.direction {
    font-size: 12px;
    margin-left: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.stop-circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    top: 5px;
    position: relative;
    border-radius: 19px;
    border: solid 3px black;
    margin-right: 10px;
}

.no-stop-circle {
    display: inline-block;
    height: 20px;
    width: 20px;
    top: 5px;
    position: relative;
    border-radius: 19px;
    border: solid 3px white;
    margin-right: 10px;
}

.start {
    margin-left: 30px;
    color: #1b40bb;
    font-weight: bold;
}