<div class="primary-respondent">
	<div class="form-group row">
		<label for="primaryName" class="col-sm-2 col-form-label">Enter your first name:</label>
		<div class="col-sm-9">
			<input type="text" (ngModelChange)="primaryModelChanged" class="form-control col-sm-8" placeholder="First Name" id="primaryName"
			 [(ngModel)]="primaryRespondent.respondent.name" (blur)="primaryBlur()">
		</div>
	</div>
</div>


<div *ngIf="respondents.length == 0" class="add-sub-respondent-message">
	<div class="alert alert-dismissible alert-light">

		Click the button below to add new household members.
	</div>
</div>
<ul class="list-group sub-respondent-list">
	<li *ngFor="let respondent of respondents" class="list-group-item">
		<div class="form-group row">
			<div class="col-sm-6">
				<input type="text" (ngModelChange)="modelChanged(respondent)" class="form-control" placeholder="Name" id="inputDefault"
				 [(ngModel)]="respondent.respondent.name">
			</div>
			<div class="col-sm-4">
				<select class="form-control" id="relationship-select" [(ngModel)]="respondent.respondent.relationship"
				 (ngModelChange)="modelChanged(respondent)">
					<option [ngValue]="null" selected>Select Relationship</option>
					<option [ngValue]="relationship" *ngFor="let relationship of relationships">{{relationship}}</option>

				</select>
			</div>

			<div class="col-sm-2">
				<div class="btn-group" role="group">
					<button [attr.disabled]="!respondent.isValid || respondent.isSaved? '' : null" type="button" class="btn btn-success"
					 (click)="saveRespondent(respondent)">
						<span [ngClass]="{'fas fa-user-plus': !respondent.isSaved && respondent.respondent.id === undefined,
					'fas fa-user-edit': !respondent.isSaved && respondent.respondent.id !== undefined,
					'fas fa-user-check': 'respondent.isSaved'}"></span>

					</button>
					<button type="button" class="btn btn-secondary" (click)="deleteRespondent(respondent)"><span class="fas fa-user-minus"></span></button>
				</div>

			</div>
		</div>
	</li>
</ul>
<div class="add-to-respondent-list">
	<button (click)="addNewRespondentToList()" class="btn btn-primary btn-sm"><i class="fas fa-plus-circle"></i> Add</button>
</div>