@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css';
@import '../assets/styles';
//@import "~bootstrap/scss/bootstrap";
.map-container {
	width: 100%;
	// height: 500px;
	overflow: hidden;
}

.locationDisplay {
	background: black;
	color: white;
	//font-size: 16px;
	font-weight: bold;
	padding: 5px 5px;
	text-align: center;
	z-index: 50;

	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.mapMarker {
	transform: translateY(-50%);
}

@media #{$sm-down} {
	.locationDisplay {
		font-size: 0.8rem !important;
	}
}

mgl-map {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;

	.marker-icon {
		position: absolute;
		z-index: 22;
		color: white;
		left: calc(50% - 9px);
		top: -10px;
		font-size: 16px;
	}
}

@media #{$xl-only} {
	mgl-map {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0px;
		width: 100%;
	}
}

/*
@include media-breakpoint-down(xs) {
    mgl-map {
        height: 250px;
        width: 100%;
    }
}

@include media-breakpoint-down(sm) {
    mgl-map {
        height: 300px;
        width: 100%;
    }
}

@include media-breakpoint-down(md) {
    mgl-map {
        height: 350px;
        width: 100%;
    }
}

@include media-breakpoint-down(lg) {
    mgl-map {
        height: 400px;
        width: 100%;
    }
} */
