@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";

mgl-map {
    height: 100%;
    width: 100%;
}

.map-container {
	width:100%;
	height:500px;
}