<div class="map-container">
    <mgl-map #mapbox [style]="'https://maps.tilehosting.com/styles/streets/style.json?key=5YOsrAa6pBZnCp812wTQ'"
        (click)="mapClick($event)">

        <mgl-control mglGeolocate #geoLocator position="top-left" [positionOptions]="{
		enableHighAccuracy: true
	}"
            [trackUserLocation]="false" [showUserLocation]="false"></mgl-control>
        <mgl-control mglNavigation position="top-left"></mgl-control>
        <mgl-control #geocoder mglGeocoder [placeholder]="locationSearch" [country]="'ca'" (result)="locationFound($event)"></mgl-control>
        
        <mgl-control position="bottom-left">
            <div class="mapboxgl-ctrl mapboxgl-ctrl-group">
                <button (click)="clearLocation()" class="mapboxgl-ctrl-icon clear-button" type="button">Clear Location</button></div>
        </mgl-control>
        <mgl-control position="bottom-right">
            <div class="mapboxgl-ctrl mapboxgl-ctrl-attrib">
                <a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a>
                <a href="http://www.openstreetmap.org/about/" target="_blank">© OpenStreetMap</a>
                <a class="mapbox-improve-map" href="https://www.mapbox.com/feedback" target="_blank">Improve this
                    map</a>
            </div>
        </mgl-control>
        <mgl-marker [lngLat]="markerPosition" [draggable]="true" (dragEnd)="onDragEnd($event)">

            <i [ngClass]="['marker-icon',markerIcon]" [hidden]="!locationLoaded || !locationSearch"></i>
            <img #mapMarker class="mapMarker" [hidden]="!locationLoaded || !locationSearch" />
        </mgl-marker>
    </mgl-map>
    <!--<div class="locationDisplay" *ngIf="loactionLoaded">
        <label>Location Selected: {{ locationSearch }}</label>
    </div>-->
</div>