@import '~mapbox-gl/dist/mapbox-gl.css';
@import '~@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder.css';
@import '../assets/styles';
//@import "~bootstrap/scss/bootstrap";

.mgx-map {
	display: none;
}

.address-input {
	float: right;
}

.mapbox-container {
	height: 500px;
	display: block;
	.mapboxgl-ctrl-geocoder {
		width: 90%;
		max-width: 90%;
	}

	.mapboxgl-ctrl-top-right {
		top: 0;
		right: 100px;
		left: 100px;
	}
}

.traisi-map-question.map-container {
	width: 100%;
	position: relative;
	// height: 500px;
	// height: 500px;
	overflow: hidden;
}

.traisi-map-question {
	i.map-marker {
		font-size: 34px;
		color: #2796f0;
	}

	span.map-marker-point {
		background: black;
		opacity: 0.2;
		border-radius: 50%;
		height: 20px;
		width: 22px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: 9px 0px 0px -11px;
		transform: rotateX(55deg);
		z-index: -1;
	}

	.locationDisplay {
		background: black;
		color: white;
		//font-size: 16px;
		font-weight: bold;
		padding: 5px 5px;
		text-align: center;
		z-index: 50;

		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.mapMarker {
		transform: translateY(-50%);
	}

	@media #{$sm-down} {
		.locationDisplay {
			font-size: 0.8rem !important;
		}
	}

	mgl-map {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		width: 100%;

		.clear-button {
			width: auto;
			height: auto;
			padding: 10px;
		}

		.marker-icon {
			position: absolute;
			z-index: 22;
			color: white;
			left: calc(50% - 9px);
			top: -10px;
			font-size: 16px;
		}

		.mapboxgl-ctrl-top-left {
			top: 60px !important;
		}

		.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
			// float: unset;
			// width: 100%;
			// max-width: unset;

			input {
				font-size: 14px;
				color: black;
			}
		}

		/*.mapboxgl-ctrl-top-right {
		width: 100%;
		padding: 0px 10px;

	} */
	}

	@media #{$xl-only} {
		mgl-map {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0px;
			width: 100%;
		}
	}
}

/* resizing for multi display */
.multi-display traisi-map-question .map-container {
	position: relative;
	height: 500px;
	display: block;
}

.multi-display .view-full {
	position: relative;
}
