@import 'src/shared/assets/scss/helpers';
.order-correct {
	// z-index:-1;
}

.new-page-tab {
  color: white !important;

  &:hover {
    background-color: #447cb5 !important;
    color: white !important;
  }
}

button.new-page {
	margin-right: 5px;
}

i.fas {
	margin-left: 5px;
	margin-right: 5px;
}

.tab-pane.active .row {
	margin-left: 0px;
	margin-right: 0px;
}

.modal-footer button {
	margin-left: 5px;
	margin-right: 5px;
}

ng-select.ng-select-single.page-select {
	font-size: 18px;
	height: 52px;
	padding-top: 0px;
	padding-bottom: 0px;
	.page-label i {
		text-align: center;
		width: 25px;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.ng-select-container {
		height: 50px;
	}

	ng-dropdown-panel {
		margin-top: -50px;
		border-top-color: #e6e6e6;
	}
	
}

.page-label {
	font-size: 18px;

	i {
		margin-right: 10px;
	}
}

#pagesList
{
	max-width: none !important;
	display: inline-block;
	vertical-align:bottom;

}

.page-editor {
	border: 1px solid $gray-200;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}

li.pagetab {
	list-style:none;
}

li.pagetab a{
	display: block;
	text-decoration: none;
}

li.pagetab > a{
	position: relative;
	color: unset;
	line-height: 28px;
}

.raised-tab {
	margin-top:-8px;
	background-color: $gray-100;
	border-top-right-radius: 5px;
	border-top-left-radius:5px;
	border-left:1px solid $gray-600;
	border-top:1px solid $gray-600;
	border-right:1px solid $gray-600;
}

.separator-hr {
	margin: 7px 5px;
	border-top-style: dashed;
}

.edit-separator-hr {
	margin: 10px 0px 10px 0px;
	border-top-style: dashed;
}

.last-separator-hr {
	margin-top: 5px;
}

.edit-last-separator-hr {
	margin-top: 15px;
}

.horiz-scroll {
	max-width: 30vw;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap !important;
}

.nowrap {
	white-space: nowrap !important;
}

.new-page-button {
	float:right;
	width: 100px;
	margin-top: 5px;
}

.icon-picker-button {
	width: auto;
	i {
		width: 50px;
	}
}

.save-button-container {
	margin-top: 30px;
}

.quill-page-editor {
	.ql-tooltip {
		z-index: 1 !important;
	}
	.ql-container {
		height: auto;
	}
	height: auto !important;
	padding: 0px !important;
	margin-bottom:10px;
}

.survey-builder-header
{
	display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-between;
}

.survey-builder-header.h1
{
	display: inline-block;
}

.nav {
	// max-height:50px;
}

.hide-using-height {
	max-height: 0px;
	min-height: 0px;
}

.eliminate-content-padding {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 1px;
}

.hide-overflow {
	overflow: hidden;
	white-space: nowrap;
}

.remove-padding {
	padding-top: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.remove-left-margin {
	left: 0px !important;
}

.ngx-toggle-wrapper {
	width: 92px !important;
}

.ngx-toggle-handle {
	padding-left: 0.375rem !important;
	padding-right: 0.375rem !important;
}

.disable-clicks {
	pointer-events: none;
}
