<div class="welcome-container">

	<h1> {{ survey.titleText }}</h1>

	<alert type="info" #adminAlert *ngIf="isAdmin">
		<strong>{{ 'Start.AdminAlertUserStatus' | translate }}</strong> {{ 'Start.AdminAlertText' | translate }}
	</alert>

	<span [innerHTML]="surveyName"></span>

	<form #f="ngForm" name="startSurveyForm"
		  (ngSubmit)="f.form.valid ? startSurvey() : showErrorAlert('Shortcode is required', 'Please enter a valid shortcode')">

		<input [(ngModel)]="shortcode" name="shortcode">

		<div class="clearfix survey-start-button ">
			<div class="text-center">
				<button type="submit" class="btn btn-primary " [disabled]="isLoading"><i *ngIf="isLoading"
																						 class='fa fa-circle-o-notch fa-spin'></i>
					{{ isLoading ? 'Start.LogginIn' : 'Start.StartSurvey' | translate}}
				</button>
			</div>
		</div>


	</form>

</div>
