@import "../../../assets/scss/_viewer.scss";



@include media-breakpoint-only(xs) {
	.welcome-container {
		text-align: center;
		width: 80%;
		margin: auto;
	}

	.survey-start-button {
		text-align: center;
	}
}
@include media-breakpoint-only(sm) { .welcome-container {
	text-align: center;
	width: 100%;
	margin: auto;
}

.survey-start-button {
	text-align: center;
} }
@include media-breakpoint-only(md) {.welcome-container {
	text-align: center;
	width: 100%;
	margin: auto;
}

.survey-start-button {
	text-align: center;
}  }
@include media-breakpoint-only(lg) { .welcome-container {
	text-align: center;
	width: 100%;
	margin: auto;
}

.survey-start-button {
	text-align: center;
} }
@include media-breakpoint-only(xl) { .welcome-container {
	text-align: center;
	width: 100%;
	margin: auto;
}

.survey-start-button {
	text-align: center;
} }
