<div class="js-builder-sidebar-content">
	<header class="logo d-none d-md-block">
		<a [routerLink]=" [''] ">
			<img src="{{ config.logo }} " height="59">
		</a>
	</header>
	<div class="sidebar-status d-md-none dropdown" placement="bottom left">
		<a [routerLink]=" ['account'] " class="dropdown-toggle">
			<span class="thumb-sm avatar float-right">
				<img class="rounded-circle" src="assets/img/avatar.png" alt="...">
			</span>
			<!-- .circle is a pretty cool way to add a bit of beauty to raw data.
           should be used with bg-* and text-* classes for colors -->
			&nbsp;
			<strong>{{ userName }}</strong>&nbsp;
		</a>
	</div>
	<!-- main notification links are placed inside of .sidebar-nav -->
	<div class="builder-qtypes">
			<ul class="sidebar-nav">
			<smooth-dnd-container *ngIf="!disabled" id="qTypesList" [behaviour]="'copy'" (dragStart)="onDragStart($event)" (dragEnd)="onDragEnd($event)" [groupName]="'builder-questions'" [getChildPayload]="getQuestionPayload">
				<smooth-dnd-draggable>
					<li class="chooser section-tool-item">
						<a (click)="addSectionToList()">
							<span class="icon" [tooltip]="'Section'" placement="right" container="body" containerClass="tooltip-builder">
								<i class="fa fa-archive"></i>
							</span>
								Section
						</a>
					</li>
				</smooth-dnd-draggable>
				<smooth-dnd-draggable *ngFor="let item of questionTypeDefinitions">
					<li class="chooser">
						<a (click)="addQuestionTypeToList(item)">
							<span class="icon" [tooltip]="item.typeName" placement="right" container="body" containerClass="tooltip-builder">
								<i class="fa" [ngClass]="item.icon"></i>
							</span>
								{{item.typeName}}
						</a>
					</li>
				</smooth-dnd-draggable>
			</smooth-dnd-container>
		</ul>
	</div>
</div>