<h1>Survey Builder for Survey {{ surveyId }}</h1>


	<div role="navigation" id="builderSidebar" class="sidebar order-correct">
		<traisi-question-type-chooser (addQuestionType)="addQuestionTypeToList($event)"></traisi-question-type-chooser>
	</div>

		<ngx-dnd-container [model]="testTargets" dropZone="restricted-target" [removeOnSpill]="false">
				<ng-template let-item="model">
						{{item.typeName}}
					</ng-template>
		</ngx-dnd-container>


<div [froalaEditor]="froalaOptions">Hello, Froala!</div>