@import '../../scss/helpers.scss';

.order-correct {
	z-index:-1;
}

.new-page-tab {
  color: white !important;

  &:hover {
    background-color: #447cb5 !important;
    color: white !important;
  }
}