<div>
	<h1 class="page-title">Manage Surveys</h1>

	<div class="row mb-lg">
		<div class="col-lg-12 col-12">
			<div class="clearfix">
				<ul class="nav nav-tabs float-left" id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active fw-semi-bold" (click)="switchGroup('unGrouped')" id="solo-tab" data-toggle="tab" href="#solo" role="tab"
						 aria-controls="solo" aria-expanded="true">Solo</a>
					</li>
					<li class="nav-item">
						<a class="nav-link fw-semi-bold" (click)="switchGroup('shared')" id="shared-tab" data-toggle="tab" href="#shared" role="tab"
							aria-controls="shared" aria-expanded="true">Shared</a>
					</li>
					<li *ngFor="let group of allGroups" class="nav-item">
						<a class="nav-link fw-semi-bold" (click)="switchGroup(group.name)" id="{{ group.name + '-tab' }}" data-toggle="tab" href="#group"
						 role="tab" aria-controls="group.name" aria-expanded="true">
							{{ group.name }}
							<sup class="badge badge-pill badge-primary">
								G
							</sup>
						</a>
					</li>
				</ul>
			</div>
			<div class="tab-content mb-lg" id="myTabContent">
				<div role="tabpanel" class="tab-pane active in clearfix" id="solo" aria-labelledby="solo-tab" aria-expanded="true">
					<div class="row ">
						<div class="col-sm-4">
							<div class="form-group search-box">
								<search-input (searchChange)="onSearchChanged($event)" placeholder="{{'surveys.management.Search' | translate}}"></search-input>
							</div>
						</div>
					</div>
					<ngx-datatable #soloTable *ngIf="!groupBeingViewed && !sharedBeingViewed" class="bootstrap sm table table-striped table-hover table-responsive"
					 [rows]="soloSurveyRows" [columns]="soloSurveyColumns" [loadingIndicator]="loadingIndicator" [scrollbarH]="true" [rowHeight]="45"
					 [headerHeight]="35" [footerHeight]="35" [columnMode]="'flex'">
						<ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
							<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
								<div class="surveyDetails">
									<div class="row justify-content-end">
											<div class="surveyAction" (click)="editSurvey(row)">
												<div class="surveyActionLabel"><strong>Settings</strong></div>
													<div>
														<i class="fa fa-cog fa-4" aria-hidden="true"></i>
													</div>
												</div>
												<div class="surveyAction" [routerLink]="['/app/survey-builder',row.id]">
													<div class="surveyActionLabel"><strong>Design</strong></div>
													<div>
														<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
													</div>
												</div>
												<div class="surveyAction" [routerLink]="['/app/survey-execute',row.id]">
													<div class="surveyActionLabel"><strong>Execute</strong></div>
													<div>
														<i class="fa fa-envelope" aria-hidden="true"></i>
													</div>
												</div>
												<div class="surveyAction">
													<div class="surveyActionLabel"><strong>Analyze</strong></div>
													<div>
														<i class="fa fa-bar-chart" aria-hidden="true"></i>
													</div>
												</div>
												<div class="surveyAction">
													<div class="surveyActionLabel"><strong>Share</strong></div>
													<div>
														<i class="fa fa-share" aria-hidden="true"></i>
													</div>
												</div>
									</div>
								</div>
							</ng-template>
						</ngx-datatable-row-detail>
					</ngx-datatable>
				</div>
				<div role="tabpanel" class="tab-pane" id="shared" aria-labelledby="shared-tab" aria-expanded="true">
						<div class="row ">
							<div class="col-sm-4">
								<div class="form-group search-box">
									<search-input (searchChange)="onSearchChanged($event)" placeholder="{{'surveys.management.Search' | translate}}"></search-input>
								</div>
							</div>
						</div>
						<ngx-datatable #sharedTable *ngIf="!groupBeingViewed && sharedBeingViewed" class="bootstrap sm table table-striped table-hover table-responsive"
						 [rows]="sharedSurveyRows" [columns]="sharedSurveyColumns" [loadingIndicator]="loadingIndicator" [scrollbarH]="true" [rowHeight]="45"
						 [headerHeight]="35" [footerHeight]="35" [columnMode]="'flex'">
							<ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
								<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
									<div class="surveyDetails">
										<div class="row justify-content-end">
												<div *ngIf="canEdit(row)" class="surveyAction" (click)="editSurvey(row)">
													<div class="surveyActionLabel"><strong>Settings</strong></div>
														<div>
															<i class="fa fa-cog fa-4" aria-hidden="true"></i>
														</div>
													</div>
													<div *ngIf="canEdit(row)" class="surveyAction" [routerLink]="['/app/survey-builder',row.id]">
														<div class="surveyActionLabel"><strong>Design</strong></div>
														<div>
															<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
														</div>
													</div>
													<div *ngIf="canEdit(row)" class="surveyAction" [routerLink]="['/app/survey-execute',row.id]">
														<div class="surveyActionLabel"><strong>Execute</strong></div>
														<div>
															<i class="fa fa-envelope" aria-hidden="true"></i>
														</div>
													</div>
													<div *ngIf="canAnalyze(row)" class="surveyAction">
														<div class="surveyActionLabel"><strong>Analyze</strong></div>
														<div>
															<i class="fa fa-bar-chart" aria-hidden="true"></i>
														</div>
													</div>
													<div *ngIf="canShare(row)" class="surveyAction">
														<div class="surveyActionLabel"><strong>Share</strong></div>
														<div>
															<i class="fa fa-share" aria-hidden="true"></i>
														</div>
													</div>
										</div>
									</div>
								</ng-template>
							</ngx-datatable-row-detail>
						</ngx-datatable>
					</div>
				<div role="tabpanel" class="tab-pane" id="group" aria-labelledby="group-tab" aria-expanded="true">
					<div class="row">
						<div class="col-sm-4">
							<div class="form-group search-box">
								<search-input (searchChange)="onSearchChanged($event)" placeholder="{{'surveys.management.Search' | translate}}"></search-input>
							</div>
						</div>
					</div>
					<ngx-datatable #groupTable *ngIf="groupBeingViewed && !sharedBeingViewed" class="bootstrap sm table table-striped table-hover table-responsive" [rows]="groupSurveyRows"
					 [columns]="groupSurveyColumns" [loadingIndicator]="loadingIndicator" [scrollbarH]="true" [rowHeight]="45" [headerHeight]="35"
					 [footerHeight]="35" [columnMode]="'flex'">
					 <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
							<ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
								<div class="surveyDetails">
									<div class="row justify-content-end">
										<div *ngIf="canEdit(row)" class="surveyAction" (click)="editSurvey(row)">
											<div class="surveyActionLabel"><strong>Settings</strong></div>
											<div>
												<i class="fa fa-cog fa-4" aria-hidden="true"></i>
											</div>
										</div>
										<div *ngIf="canEdit(row)" class="surveyAction" [routerLink]="['/app/survey-builder',row.id]">
											<div class="surveyActionLabel"><strong>Design</strong></div>
											<div>
												<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
											</div>
										</div>
										<div *ngIf="canEdit(row)" class="surveyAction">
											<div class="surveyActionLabel"><strong>Execute</strong></div>
											<div>
												<i class="fa fa-envelope" aria-hidden="true"></i>
											</div>
										</div>
										<div *ngIf="canAnalyze(row)" class="surveyAction">
											<div class="surveyActionLabel"><strong>Analyze</strong></div>
											<div>
												<i class="fa fa-bar-chart" aria-hidden="true"></i>
											</div>
										</div>
										<div *ngIf="canShare(row)" class="surveyAction">
											<div class="surveyActionLabel"><strong>Share</strong></div>
											<div>
												<i class="fa fa-share" aria-hidden="true"></i>
											</div>
										</div>
										<div *ngIf="noAccess(row)" class="surveyAction">
												<div class="surveyActionLabel"><strong>Request</strong></div>
												<div>
													<i class="fa fa-check-circle" aria-hidden="true"></i>
												</div>
											</div>
									</div>
								</div>
							</ng-template>
						</ngx-datatable-row-detail>
					</ngx-datatable>
				</div>
			</div>
		</div>
	</div>

	<ng-template #expandTemplate let-row="row" let-expanded="expanded">
		<div class="cursor-pointer" (click)="toggleExpandRow(row)">
			<a href="javascript:void(0)" title="Expand/Collapse Row">
				<i [hidden]="expanded" class="fa fa-caret-right" aria-hidden="true"></i>
				<i [hidden]="!expanded" class="fa fa-caret-down" aria-hidden="true"></i>
			</a>
		</div>
	</ng-template>

	<ng-template #textTemplate let-row="row" let-value="value" let-i="index" >
		<div class="cursor-pointer" (click)="toggleExpandRow(row)">{{ value }}</div>
	</ng-template>

	<ng-template #dateTemplate let-row="row" let-value="value" let-i="index" >
		<div class="cursor-pointer" (click)="toggleExpandRow(row)">{{ value | date }}</div>
	</ng-template>


	<ng-template #surveyTagTemplate let-row="row" let-value="value" let-i="index">
		<span class="user-role badge badge-secondary" *ngIf="row.isOpen">Open Survey</span>
		<span class="user-role badge badge-primary" *ngIf="row.isActive">Active</span>
	</ng-template>

	<ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
		<div>
			<a class="badge badge-primary" href="javascript:;">
				<i class="fa fa-eye-o" aria-hidden="true"></i> {{'surveys.management.View' | translate}}</a>
		</div>
	</ng-template>


	<div class="row justify-content-center">
		<div>
			<button class="btn btn-primary" (click)="newSurvey()">
				<i class="fa fa-plus-circle"></i> {{'surveys.management.NewSurvey' | translate}}
			</button>
		</div>
	</div>

	<div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}"
	 (onShow)="onEditorModalShow()" tabindex="-1">

		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title pull-left" *ngIf="surveyEditMode">
						<i class="fa fa-cubes"></i>Edit Survey</h4>
						<h4 class="modal-title pull-left" *ngIf="!surveyEditMode">
								<i class="fa fa-cubes"></i>New Survey</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEditorModal()">
						<span aria-hidden="true">&times;</span>
					</button>

				</div>
				<div class="modal-body">
					<app-surveys-editor #surveyEditor></app-surveys-editor>
				</div>
			</div>
		</div>

	</div>
</div>