<div>
  <h1 class="page-title">Manage Surveys</h1>

  <div class="row ">
    <div class="col-sm-8">
      <div class="form-group search-box">
        <search-input (searchChange)="onSearchChanged($event)" placeholder="{{'surveys.management.Search' | translate}}"></search-input>
      </div>
    </div>
  </div>
  <ngx-datatable class="bootstrap sm table table-striped table-hover table-responsive survey-management-table"

                 [scrollbarH]="false"
                 [headerHeight]="35"
                 [footerHeight]="35"
                 [columnMode]="'force'"

    [rows]="surveys"
    [columns]="columns">




  </ngx-datatable>

  <ng-template #buildTemplate let-row="row" let-value="value" let-i="index">
    <span class="build-icon"><a [routerLink]="['/app/survey-builder',row.id]" ><i class="fa fa-wrench clear-input right-icon"></i></a></span>
  </ng-template>


  <ng-template #dateTemplate let-row="row" let-value="value" let-i="index">
    <span>{{ value | date }}</span>
  </ng-template>


  <ng-template #surveyTagTemplate let-row="row" let-value="value" let-i="index">
    <span class="user-role badge badge-secondary" *ngIf="row.isOpen">Open Survey</span>
    <span class="user-role badge badge-primary" *ngIf="row.isActive">Active</span>
  </ng-template>

  <ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
    <div class="btn-group" dropdown>

      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle btn-sm "
              aria-controls="dropdown-basic">
        Actions<span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item">View Survey</a></li>
        <li role="menuitem"><a class="dropdown-item"  (click)="onDeleteSurveyClicked(value)">Delete Survey</a></li>
      </ul>
    </div>

  </ng-template>


  <div class="row justify-content-center">
    <div>
      <button class="btn btn-primary" (click)="newSurvey()">
        <i class="fa fa-plus-circle"></i> {{'surveys.management.NewSurvey' | translate}}
      </button>
    </div>
  </div>

  <div class="modal fade" bsModal #editorModal="bs-modal" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" (onShow)="onEditorModalShow()"
    tabindex="-1">
    <form (submit)="onNewSurveyFormSubmit()">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">
            <i class="fa fa-cubes"></i>New Survey</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeEditorModal()">
            <span aria-hidden="true">&times;</span>
          </button>

        </div>
        <div class="modal-body">


          <div class="form-group">
            <label for="surveyName">Survey Name</label>
            <input  [(ngModel)]="model.name" type="text" class="form-control" id="surveyName" aria-describedby="surveyName" placeholder="Survey Name" name="surveyName">
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="isActiveCheck" [(ngModel)]="model.isActive" name="isActive">
            <label class="form-check-label" for="isActiveCheck">
              Active
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="isOpenCheck" [(ngModel)]="model.isOpen" name="isOpen">
            <label class="form-check-label" for="isOpenCheck">
              Open Survey
            </label>
          </div>

          <div class="form-group">
            <label for="rejectionLink">Rejection Link</label>
            <input type="text" class="form-control" id="rejectionLink" aria-describedby="emailHelp" placeholder="Rejection link" name="rejectionLink">
          </div>

          <div class="form-group">
            <label for="successLink">Success Link</label>
            <input type="text" class="form-control" id="successLink" aria-describedby="emailHelp" placeholder="Success link" name="successLink">
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-5 col-lg-4 form-group">
            <label for="startAt">Start Date</label>
              <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker name="startAt" id="startAt"
              #dpStart="bsDatepicker" [bsConfig]="bsConfig" [(ngModel)]="model.startAt">
            </div>


          </div>

          <div class="row">
                <div class="col-xs-12 col-md-5 col-lg-4 form-group">
                <label for="endAt">End Date</label>
                  <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker name="endAt" id="endAt"
                         #dpEnd="bsDatepicker"  [bsConfig]="bsConfig" [(ngModel)]="model.endAt">
                </div>


              </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeEditorModal()">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
