@import "../../scss/helpers";

.datatable-header {
	font-weight: $font-weight-semi-bold;
	text-transform: uppercase;
	border-bottom-width: 1px;
}

datatable-scroller {
	width: 100% !important;
}

.survey-management-table datatable-body-row, .survey-management-table datatable-body-cell
{
  height: auto !important;
  overflow: visible !important;
  min-height: 45px !important;
}

.build-icon
{
  font-size:22px;
  text-align: center;
}
