@import 'src/shared/assets/scss/helpers';

#welcome-survey-access {
	margin-top: 20px;
	margin-bottom: 40px;
}

.intro-video {
	border: 18px solid black;
	border-radius: 20px;
	text-align:center;
	vertical-align: middle;
	min-height: 300px;
	background-color: black;

	video {
		width: 100%;
		height: auto;
	}
}

.begin-survey-button {
	border-radius: 10px;
	min-width: 50px;
	text-align: center;
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
}

.xs-center {
	@include media-breakpoint-down(xs) {
		text-align: center;
	}
}

.no-padding-quill {
	.ql-editor {
		padding: 0px !important;
	}
	.ql-tooltip {
		display: none !important;
	}
}

.blot-formatter__toolbar-button { display: none !important; }

.videoDropzone {
	height: auto !important;
	.dz-message {
		padding-top: 50%;
		overflow: hidden !important;
		border: none !important;
		background-color: transparent !important;
		color: white !important;
	}
}

.delete-video {
	position: absolute;
	right: 20px;
}