@import 'src/shared/assets/scss/helpers';

#welcome-survey-access {
	margin-top: 20px;
	margin-bottom: 40px;
}

.intro-video {
	border: 18px solid black;
	border-radius: 20px;
	text-align:center;
	min-height: 300px;
	background-color: black;
}

.begin-survey-button {
	border-radius: 10px;
	min-width: 50px;
	text-align: center;
}

.no-padding-quill {
	.ql-editor {
		padding: 0px !important;
	}
	.ql-tooltip {
		display: none !important;
	}
}

.blot-formatter__toolbar-button { display: none !important; }