<div id="welcome-survey-access" [style.background-color]="pageThemeInfo.pageBackgroundColour">
	<button *ngIf="!previewMode.value" type="button" class="ml-4 mt-1 btn btn-inverse page-background-color-picker" [cpPosition]="'left'" (colorPickerChange)="pageBackgroundColourChange($event)"
	 [(colorPicker)]="pageThemeInfo.pageBackgroundColour">
		<img src="assets/img/colour-picker.png" height="15px" />
	</button>
	<div class="row justify-content-center">
		<div class="col-xl-6 col-lg-11 col-md-11 col-11">
			<div class="intro-imagevideo text-center" [class.empty-container]="!videoSource && !imageSource && previewMode.value"  [style.border-color]="getBestBorderColor()" >
				<dropzone class="imageVideoDropzone" *ngIf="!videoSource && !imageSource && !previewMode.value" #videoUpload [config]="imageVideoDropZoneconfig"
				 [message]="'Click or drag image or video here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccessIndiv($event)"></dropzone>
				<video *ngIf="videoSource" controls>
					<source src="{{ videoSource }}" /></video>
				<img *ngIf="imageSource" src="{{ imageSource }}" />
				<button *ngIf="(videoSource || imageSource)  && !previewMode.value" type="button" (click)="deleteImageVideo()" class="btn btn-danger delete-imagevideo"><i
					 class="fas fa-times"></i></button>
			</div>
		</div>
		<div class="col-xl-5 col-lg-12 col-md-12 mt-3 ml-0 ml-xl-5">
			<div class="row">
				<div class="col-12" [style.color]="getBestPageBodyTextColor()">
					<quill-editor [class.ql-previewmode]="previewMode.value" class="quill-page-editor" [readOnly]="previewMode.value" [modules]="quillModules" (onContentChanged)="updateContent($event)" theme="bubble"
					 placeholder="Insert survey introduction" [(ngModel)]="introTextHTML"></quill-editor>
				</div>
			</div>
			<div class="form-group row mt-3">
				<div class="col-sm-6 col-11">
					<div class="form-control mr-3 ml-3">
						<quill-editor [class.ql-previewmode]="previewMode.value" class="quill-page-editor no-padding-quill" [readOnly]="previewMode.value" [modules]="quillMinimalModules" (onContentChanged)="updateAccessCodeContent($event)"
						 theme="bubble" placeholder="Enter access code" [(ngModel)]="accessCodeHTML"></quill-editor>
					</div>
				</div>
				<div class="col-sm-5 mt-3 mt-sm-0 xs-center">
					<div class="begin-survey-button btn btn-primary">
						<quill-editor [class.ql-previewmode]="previewMode.value" class="quill-page-editor no-padding-quill" [readOnly]="previewMode.value" [modules]="quillMinimalModules" (onContentChanged)="updateBeginSurveyContent($event)"
						 theme="bubble" placeholder="" [(ngModel)]="beginSurveyHTML"></quill-editor>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>