div.slider {
}

.slider-badge {
  font-size: 100%;
}

div.slider-value {
  text-align: left;
  font-size: 14px;
  margin: 10px;
  font-weight: bold;
}

.noUi-handle:before,
.noUi-handle:after {
  width: 0px;
}
