.nav-padding {
    margin-top:10px;
    margin-right:10px;
    display: flex;
    align-items: center;
}

.language-padding {
    margin-top:10px;
    margin-right:10px;
}

app-navbar.navbar
{
  align-items:flex-start;
  justify-content: normal !important;
}
