<div class="container">
  <main id="content" class="widget-login-container" role="main">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-md-6 col-10">
        <h5 class="widget-login-logo animated fadeInUp">
          <img class="login-logo" src="assets/img/logo_light.png">
        </h5>
        <section class="widget widget-login animated fadeInUp">
          <header>
            <h3>Login to TRAISI</h3>
          </header>
          <div class="widget-body">
            <!--<p class="widget-login-info">
              Don't have an account? Sign up now!
            </p>-->
            <form *ngIf="formResetToggle" class="form-horizontal login" name="loginForm" #f="ngForm" novalidate
                          (ngSubmit)="f.form.valid ? login() :
                          (!email.valid && showErrorAlert('Email is required', 'Please enter a valid email'));
                          (!password.valid && showErrorAlert('Password is required', 'Please enter a valid password'))">
                        <div class="form-group row" [ngClass]="{'was-validated': f.submitted}">
                            <label class="col-form-label text-md-right col-md-2" for="login-email">Email:</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="fas fa-user"></i>
                                        </span>
                                    </span>
                                    <input type="text" id="login-email" name="email" placeholder="Enter email or username" class="form-control feedback-icon"
                                            [(ngModel)]="userLogin.email" #email="ngModel" required />
                                    <div class="invalid-feedback">
                                        Email is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row" [ngClass]="{'was-validated': f.submitted}">
                            <label class="col-form-label text-md-right col-md-2" for="login-password">Password:</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </span>
                                    <input type="password" id="login-password" name="password" placeholder="Enter password" class="form-control" [(ngModel)]="userLogin.password" #password="ngModel" required />
                                    <div class="invalid-feedback" >
                                        Password is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="rememberMe" [(ngModel)]="userLogin.rememberMe"> Remember me</label>
                                </div>
                            </div>
                        </div>-->
                        <div class="clearfix">
                            <div class="btn-toolbar float-right m-t-1">
                                <button type="submit" class="btn btn-primary btn-sm" [disabled]="isLoading"><i *ngIf="isLoading" class='fa fa-circle-o-notch fa-spin'></i> {{isLoading ? 'Loggin in...' : 'Login'}}</button>
                            </div>
                        </div>
                    </form>

          </div>
        </section>
      </div>
    </div>
  </main>
  <footer>
    2018 &copy; University of Toronto Transportation Research Institute
  </footer>
</div>
