:host {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0px;
  z-index: 10;
  margin: 7px;
}

.popper-content {
  border: solid 1px #e2e2e2;
}

.popper-arrow {
  border-style: solid;
  background: transparent;
  position: absolute;
}

:host([x-placement^="bottom"]) .popper-arrow::after {
  border-width: 0 7px 7px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  border-bottom-color: #e2e2e2;
  top: -1px;
  z-index: -1;
  left: calc(50% - 7px);
  margin-top: 0;
  margin-bottom: 0;
  content: "";
  position: absolute;
  border-style: solid;
}

:host([x-placement^="bottom"]) .popper-arrow {
  top: -5px;
  border-width: 0 7px 7px;
  border-bottom-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
}

:host([x-placement^="top"]) .popper-arrow::after {
  border-width: 7px 7px 0px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-top-color: #e2e2e2;
  bottom: 2px;
  z-index: -1;
  left: calc(50% - 7px);
  margin-top: 0;
  margin-bottom: 0;
  content: "";
  position: absolute;
  border-style: solid;
}

:host([x-placement^="top"]) .popper-arrow {
  bottom: 2px;
  border-width: 7px 7px 0px;
  border-top-color: white;
  border-left-color: transparent;
  border-right-color: transparent;
}
