@import "src/shared/assets/scss/helpers";

#welcome-survey-access {
  margin-top: 5px;
  margin-bottom: 40px;
}

.logged-in-icon {
  margin-right: 10px;
  margin-left: 10px;
}

.intro-imagevideo {
  border-width: 18px;
  border-style: solid;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  background-color: black;
  position: relative;

  video,
  img {
    width: 100%;
    height: auto;
  }

  .embed-link {
    color: white;
    text-align: center;
    padding-top: 20%;
    vertical-align: middle;
  }
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.empty-container {
  // padding-top: 50%;
}

.begin-survey-button {
  border-radius: 10px;
  min-width: 50px;
  text-align: center;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.xs-center {
  @include media-breakpoint-down(xs) {
    text-align: center;
  }
}

.no-padding-quill {
  .ql-editor {
    padding: 0px !important;
    overflow: hidden;
  }
  .ql-tooltip {
    display: none !important;
  }
}

.blot-formatter__toolbar-button {
  display: none !important;
}

.imageVideoDropzone {
  height: auto !important;
  .dz-message {
    padding-top: 50%;
    overflow: hidden !important;
    border: none !important;
    background-color: transparent !important;
    color: white !important;
  }
}

.delete-imagevideo {
  position: absolute;
  right: 0px;
  top: 0px;
}

.page-background-color-picker {
  position: absolute;
  right: 15px;
  z-index: 50;
  transform: scale(0.7);
}

.input-mimic {
  border-left-width: 5px;
}
