<div id="welcome-survey-access" [style.background-color]="pageThemeInfo.pageBackgroundColour">
	<div class="row justify-content-center mt-4">
		<div class="col-xl-6 col-lg-11 col-md-11 col-11">
			<div class="intro-imagevideo text-center" [class.empty-container]="!videoSource && !imageSource"
				[style.border-color]="borderColour">
				<video *ngIf="videoSource && !videoEmbedded" controls>
					<source src="{{ videoSource }}" /></video>
				<div *ngIf="videoSource && videoEmbedded" class="videoWrapper">
					<iframe [src]="videoSource | safe: 'resourceUrl'" frameborder="0" allow="autoplay; encrypted-media"
						allowfullscreen></iframe>
				</div>
				<img *ngIf="imageSource" src="{{ imageSource }}" />
			</div>
		</div>
		<div class="col-xl-5 col-lg-12 col-md-12">
			<div class="row mt-3 mt-xl-0 ml-3 ml-xl-0">
				<div class="col-12" [style.color]="pageTextColour">
					<quill-editor class="quill-page-editor ql-previewmode" [readOnly]="true"
						[modules]="quillMinimalModules" theme="bubble" placeholder="" [(ngModel)]="introTextHTML">
					</quill-editor>
				</div>
			</div>
			<div class="form-group col-12" *ngIf="surveyViewerService.isLoggedIn | async" style="text-align: center">
				<div class="log-divider">
					<span class="bg-light"><i class="far fa-lock-open-alt logged-in-icon"></i> You are currently logged
						in. </span>
				</div>
			</div>
			<div class="form-group row mt-3 ml-3 ml-xl-0">
				<div class="col" *ngIf="!(surveyViewerService.isLoggedIn | async)">
					<input type="text" class="form-control mr-3 ml-3" placeholder="{{ stripHTML(accessCodeHTML) }}"
						[(ngModel)]="accessCode" />
					<div class="invalid-code text-warning" *ngIf="hasAccessError">
						<i class="fa fa-exclamation-circle fa-fw"></i>You have entered an invalid access code.</div>
				</div>
				<div class="col text-center">
					<button type="button" class="begin-survey-button btn btn-primary" [disabled]="accessCode === ''"
						(click)="startSurvey()"> {{ stripHTML(beginSurveyHTML) }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
