#privacy-confirmation-container {
	position: relative;
	margin-top: 10px;
	padding: 10px 20px 10px 10px;
}

.accept-privacy-button {
	border-radius: 10px;
	min-width: 120px;
	text-align: center;
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;

	.ql-editor.ql-blank::before {
		white-space: nowrap;
		text-align: center;
		color: lightgray;
	}
}

.terms-accept-color-picker {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 50;
	transform: scale(0.7);
}