// put your own variables to customize and override the theme variables


$app-header-dark-bg: #1c2b4e;
$traisi-dark-background: #1D202A;
$traisi-primary: #1b40bb;
$traisi-primary-light: #5373db;
$traisi-secondary: #097F8E;
$traisi-contrast: #A8A081;
$traisi-third: #0E6BA8;


$theme-colors: (
  "primary":$traisi-primary,
  "secondary": $traisi-secondary,
  "primary-light": $traisi-primary-light,
);
