@import 'src/shared/assets/scss/helpers';

.vertical-middle {
	top: 30%;
}

.code-drop  {
	height: 100px !important;
	.dz-message {
		overflow: hidden !important;
	}
}

.hidden {
	display:none;
}

.separator-hr {
	margin: 0px 0px 8px 0px;
	border-top: 1px dashed gray;
}

.last-separator-hr {
	margin: 12px 0px 12px 0px;
	border-top: 1px dashed gray;
}


.remove-padding {
	padding-top: 0px !important;
}
