@import 'src/shared/assets/scss/helpers';
@import '../../../assets/scss/application.scss';

.traisi-survey-viewer-container {
	position: absolute;
	margin-bottom: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	align-items: stretch;
	justify-content: flex-start;
	align-content: stretch;
}

.shortcode-container
{
	position: fixed;
	right: 10px;
	top: 10px;
	height: 40px;
	width: auto;
	z-index: 100;
	span {
		font-weight: bold;
	}
}

.survey-viewer-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.survey-body
{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
	top: 0;

	display: flex;
    flex-direction: column;
}

.survey-body-container
{
	position: relative;
}
