@import 'src/shared/assets/scss/helpers';
@import "../../../assets/scss/application.scss";



.traisi-survey-viewer-container{
	position: absolute;
    margin-bottom: auto;
    left: 0;
    right: 0;
    top: 0;
	bottom: 0;
	display: flex;
    flex-direction: column;
    max-height: 100%;
    align-items: stretch;
    justify-content: flex-start;
    align-content: stretch;
}
