<div class="row">
	<smooth-dnd-container [shouldAcceptDrop]="shouldAcceptDrop" id="page-question-container" class="col-md-12 page-questions" [class.page-questions-empty]="testTargets.length == 0" [groupName]="'builder-page'" [lockAxis]="'y'" [getChildPayload]="getQuestionPayload" (drop)="onDrop($event)" (dragStart)="onDragStart($event)" (dragEnd)="onDragEnd($event)" (dragEnter)="onDragEnter('main list')" (dragLeave)="onDragLeave('main list')">
		<smooth-dnd-draggable *ngFor="let item of testTargets; index as i">
			<ng-container *ngIf="item.typeName != 'Survey Part'; else surveyPart">
				<div class="page-question" data-toggle="collapse" [attr.data-target]= "'#collapseExample-' + i" aria-expanded="false" [attr.aria-controls]="'collapseExample-' + i">
						<div class="icon">
								<i class="fa" [ngClass]="item.icon"></i>
						</div>
					{{item.typeName}}
					<div class="config-icon">
							<i class="fa fa-cog"></i>
					</div>
				</div>
				<div class="collapse details" [attr.id]= "'collapseExample-' + i">
					<div class="question-options">Testing</div>
				</div>
			</ng-container>
			<ng-template #surveyPart>
				<div class="page-part" data-toggle="collapse" [attr.data-target]= "'#collapseExample-' + i" aria-expanded="false" [attr.aria-controls]="'collapseExample-' + i">
						<div class="icon">
								<i class="fa" [ngClass]="item.icon"></i>
						</div>
					{{item.typeName}}
					<div class="config-icon">
							<i class="fa fa-cog"></i>
					</div>
				</div>
				<div class="question-part-container collapse show" [class.drag-over]="dragOverContainer[item.partId]" [attr.id]= "'collapseExample-' + i" [class.page-questions-empty]="qPartQuestions.get(item.partId).length == 0">
					<smooth-dnd-container [shouldAcceptDrop]="shouldAcceptDropPart" [lockAxis]="'y'"  [groupName]="'builder-part-'+item.partId" [getChildPayload]="getQuestionInPartPayload(item.partId)" (dragStart)="onDragStart($event)" (drop)="onDropInPart(item.partId,$event)" (dragEnter)="onDragEnter(item.partId)" (dragLeave)="onDragLeave(item.partId)">
						<smooth-dnd-draggable *ngFor="let innerItem of qPartQuestions.get(item.partId); index as j">
							<div class="page-question" data-toggle="collapse" [attr.data-target]= "'#collapseExample-' + i + '-' + j" aria-expanded="false" [attr.aria-controls]="'collapseExample-' + i + '-' + j">
								<div class="icon">
										<i class="fa" [ngClass]="innerItem.icon"></i>
								</div>
							{{innerItem.typeName}}
							<div class="config-icon">
									<i class="fa fa-cog"></i>
							</div>
						</div>
						<div class="collapse details" [attr.id]= "'collapseExample-' + i + '-' + j">
							<div class="question-options">Testing Part</div>
						</div>
						</smooth-dnd-draggable>
					</smooth-dnd-container>
					<div class="question-part-container-placeholder" [hidden]="qPartQuestions.get(item.partId).length > 0">Drop Questions Here</div>
				</div>
			</ng-template>
		</smooth-dnd-draggable>
	</smooth-dnd-container>
</div>