<div class="form-group form-group-adjust row">
	<label for="{{ 'date-' + id }}" class="col-md-3 col-form-label text-md-right">{{ questionConfiguration.name}}</label>
	<div class="col-8">
		<div class="input-group">
			<span class="input-group-prepend">
				<span class="input-group-text">
					<i class="fas fa-clock-o"></i>
				</span>
			</span>
			<input *ngIf="timePickerValue" type="time" class="form-control mouse-only" atp-time-picker theme="dark" [(ngModel)]="timePickerValue" [value]="timePickerValue"/>
			<input *ngIf="timePickerValue" type="time" class="form-control touch-only"  [(ngModel)]="timePickerValue" [value]="timePickerValue"/>
		</div>
	</div>
</div>