<div>
	<h1 class="page-title">Manage Groups</h1>

	<div class="row mb-lg">
		<div class="col-lg-8 col-12 col-sm-12 ">
			<div class="clearfix">
				<ul class="nav nav-tabs float-left" id="myTab" role="tablist">
					<li *ngFor="let group of allGroups; let i = index" class="nav-item">
						<a class="nav-link fw-semi-bold" [class.active]="i==0" (click)="switchGroup(group.name)" id="{{ group.name + '-tab' }}" data-toggle="tab" href="#group"
						   role="tab" aria-controls="group.name" aria-expanded="true">
							{{ group.name }}
							<sup class="badge badge-pill badge-primary">
								G
							</sup>
						</a>
					</li>
				</ul>
			</div>
			<div class="tab-content mb-lg" id="myTabContent">
				<div role="tabpanel" class="tab-pane active in clearfix" id="group" aria-labelledby="group-tab" aria-expanded="true">
					<form (ngSubmit)="saveKeys()" #f="ngForm" novalidate class="form-horizontal">
						<fieldset>
							<legend>Map Service API Keys</legend>
							<div class="form-group row">
								<label for="surveyName" class="col-md-2 col-form-label text-md-right">Mapbox API Key</label>
								<div class="col-md-7">
									<input [(ngModel)]="apiModel.mapBoxApiKey" type="text" class="form-control" id="mapbox" aria-describedby="mapbox" placeholder="Mapbox API Key"
										   name="mapbox" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<hr class="edit-separator-hr" />
								</div>
							</div>
							<div class="form-group row">
								<label for="surveyName" class="col-md-2 col-form-label text-md-right">Google Maps API Key</label>
								<div class="col-md-7">
									<input [(ngModel)]="apiModel.googleMapsApiKey" type="text" class="form-control" id="google" aria-describedby="google" placeholder="Google Maps API Key"
										   name="google" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<hr class="edit-separator-hr" />
								</div>
							</div>
							<div class="form-group row">
								<label for="surveyName" class="col-md-2 col-form-label text-md-right">Mailgun API Key</label>
								<div class="col-md-7">
									<input [(ngModel)]="apiModel.mailgunApiKey" type="text" class="form-control" id="mailgun" aria-describedby="mailgun" placeholder="Mailgun API Key"
										   name="mailgun" required>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<hr class="edit-separator-hr" />
								</div>
							</div>
							<div class="form-group row">
								<div class="col-md-12">
									<div class="pull-right">
										<button type="submit" class="btn btn-primary" [disabled]="isSaving">
											<i *ngIf="!isSaving" class="fa fa-save"></i>
											<i *ngIf="isSaving" class="fa fa-circle-o-notch fa-spin"></i> {{isSaving ? ('groups.management.SavingKeys' | translate) : ('groups.management.SaveKeys' | translate)}}
										</button>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</fieldset>
					</form>
					<div>
						<fieldset>
							<legend>E-mail Templates</legend>
							<ngx-datatable class="bootstrap sm table table-striped table-hover table-responsive"
										   [rows]="emailRows"
										   [columns]="emailColumns"
										   [loadingIndicator]="loadingIndicator"
										   [scrollbarH]="true"
										   [rowHeight]="45"
										   [headerHeight]="35"
										   [footerHeight]="35"
										   [columnMode]="'flex'">
							</ngx-datatable>
							<div class="row justify-content-center">
								<div>
									<button class="btn btn-primary" (click)="newTemplate()">
										<i class="fas fa-plus-circle"></i> New Template
									</button>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" bsModal #editorModal="bs-modal" (onShown)="onEditorModalShow()" (onHidden)="onEditorModalHidden()" [config]="{backdrop: 'static'}" tabindex="-1">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title pull-left"><i class="far fa-user-circle"></i> {{ editingTemplate ? ('groups.management.EditTemplate' | translate:editingUserName) : ('groups.management.NewTemplate' | translate) }} - {{ selectedTemplate.name }}</h4>
						<button type="button" class="close pull-right" title="Close" (click)="editorModal.hide()">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label for="templateName" class="col-md-2 col-form-label text-md-right">Template Name</label>
							<div class="col-md-7">
								<input [(ngModel)]="selectedTemplate.name" type="text" class="form-control" id="templateName" aria-describedby="templateName" placeholder="Template Name"
									   name="templateName" required>
							</div>
						</div>
						<ngx-monaco-editor [options]="editorOptions" [(ngModel)]="selectedTemplate.html"></ngx-monaco-editor>
						<h3>Preview</h3>
						<iframe *ngIf="editingTemplate" class="previewHTML" frameborder="0" [srcdoc]="selectedTemplate.html | safe: 'html'"></iframe>
						<div class="form-group form-group-adjust row">
							<div class="col-md-3">
								<button *ngIf="!isNewTemplate" type="button" class="btn btn-danger pull-left" data-dismiss="modal" (click)="delete()" [disabled]="isSaving">
									<i class='fas fa-times'></i>Delete
								</button>
							</div>
							<div class="col-md-9">
								<div class="pull-right">
									<button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()" [disabled]="isSaving">
										<i class='fas fa-times'></i>Cancel
									</button>
									<button (click)="save()" class="btn btn-primary" [disabled]="isSaving">
										<i *ngIf="!isSaving" class="fa fa-save"></i>
										<i *ngIf="isSaving" class="fa fa-circle-o-notch fa-spin"></i> {{isSaving ? ('users.editor.Saving' | translate) : ('users.editor.Save' | translate)}}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<ng-template #indexTemplate let-value="value">
			<strong>{{value}}</strong>
		</ng-template>
		<ng-template #actionsTemplate let-row="row" let-value="value" let-i="index">
			<div>
				<a class="badge bg-gray-lighter text-gray" href="javascript:;" (click)="editTemplate(row)"><i class="fas fa-edit" aria-hidden="true"></i> {{'groups.management.EditTemplate' | translate}}</a>
			</div>
		</ng-template>
	</div>
</div>
