@import 'traisi-import';

:host.invalid {
	border-left: solid 3px #ffadad;
}

:host {
	width: 100%;

	flex-grow: 1;
}

.single-question :host {
	overflow: hidden;
}

.loading {
	position: relative;
	background-color: #fff;
	height: 100px;
	overflow: hidden;

	&.card-image {
		border-radius: 0;
	}

	&::after {
		display: block;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		transform: translateX(-100%);
		background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1), transparent);
		animation: loading 1.25s infinite;
	}
}

@keyframes loading {
	100% {
		transform: translateX(100%);
	}
}

.question-header {
	display: block;
	/*
  display:flex;
  align-content: center;
  align-items: center;
  flex-direction: row; */
}

.tile-number {
	width: auto !important;
	padding-left: 5px;
	padding-right: 5px;
}

.header-row {
	align-items: start;

	@media #{$sm-down} {
		align-items: start;
	}
}

.question-description-text {
	margin-bottom: 15px;
	font-family: Metropolis;
	font-size: 16px;
	color: #c3c3c3;
}

.question-widget {
	//position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	display: flex;
	flex-direction: column;

	// border: solid 1px #64689a;
}

.question-index {
	padding: 5px;
	margin-right: 10px;
}

.header-label div {
	display: inline-block !important;
}

.validation-icon.pristine {
	display: none;
}

.validation-icon.valid {
	color: $info;
}

.validation-icon.invalid {
	color: $info;
}

.validation-icon {
	font-size: 24px;
}

.widget-body {
	flex-grow: 1;
	position: relative;
}

section.question-widget {
	flex-grow: 1;
}

.view-compact {
	position: relative;
}

.view-full {
	position: absolute;
}

.multi-display .view-full {
	position: relative;
}

.header-label {
	flex-grow: 1;
}

section.display-full {
	position: absolute;
}

.single-question section.question-widget {
	overflow: hidden;
}

.question-header {
	position: relative;

	::ng-deep .piped-value {
		border: solid 1px #a4dbf1;
		font-weight: 500 !important;
		color: black;
		background: #daeff7;
		padding: 2px 4px;
		border-radius: 5px;
	}

	::ng-deep .piped-value:hover {
		background: #e2eef3;
	}

	.question-header .row {
		align-items: center;
	}

	.question-number-container {
		max-width: 90px;
		position: relative;
		flex-grow: 0;
		min-width: 45px;
		// top:-10px;
	}

	.question-number-container-section {
		max-width: 80px;
		position: relative;
	}

	.question-widget {
		flex-grow: 0;
	}

	.question-number {
		vertical-align: middle !important;
		text-align: center !important;
		font-weight: bold !important;
		font-size: 16px;
		padding: 8px;
		// max-height: 32px;
	}
	.question-complete {
		position: absolute;
		left: -10px;
		top: 4px;
		font-size: 16px;
		i {
			background-color: rgb(92, 206, 177);
			border-radius: 50%;
		}

		animation-iteration-count: 5;
	}

	.question-incomplete {
		position: absolute;
		left: -10px;
		top: 4px;
		font-size: 16px;
		i {
			background-color: rgb(236, 113, 41);
			border-radius: 50%;
		}

		animation-iteration-count: 5;
	}
}

.question-header-text {
	// max-width: calc(100% - 70px);
	flex-grow: 1;
	font-size: 18px;
	font-family: Metropolis;
	font-weight: bold;
	color: #848282;
}

.question-header-divider {
	height: 5px;
	border-top: 1px solid rgb(200, 200, 200);
}

@import 'question-container.component.sm.scss';