<div class="conditionals-wrapper">
	<!-- <h4 class="text-center">Question as Source</h4> -->
	<div
		class="row d-md-none d-none d-lg-flex conditional-header"
		*ngIf="sourceConditionals.length > 0"
	>
		<div class="col-lg-3">
			Source Question
		</div>
		<div class="col-lg-3">
			Condition
		</div>
		<div class="col-lg-4">
			Value(s)
		</div>
		<div class="col-md-2"></div>
	</div>
	<div
		class="row"
		*ngFor="
			let conditional of sourceConditionals;
			let i = index;
			last as isLast;
			odd as isOdd;
			even as isEven;
		"
	>
		<div class="col-md-12">
			<button
				type="button"
				class="conditional-delete-button pull-right btn btn-danger"
				(click)="deleteSourceConditional(conditional.index)"
			>
				<i class="fas fa-times"></i>
			</button>
			<div class="conditional-row">
				<div *ngIf="isEven">
					<app-conditional
						[sourceQuestionList]="sourceQuestionList"
						#sConditionals
						[optionList]="thisQuestion[0].children"
						[questionOptions]="questionOptions"
						[sourceGroup]="conditionals[getConditionalIndex(i)].lhs"
						[questionPartId]="questionBeingEdited.questionPart.id"
						[questionType]="questionType.typeName"
						[responseType]="questionType.responseType"
						(setBoundsSelected)="showLocationBoundsModal($event)"
					></app-conditional>
				</div>
				<div *ngIf="isOdd">
					<app-conditional
						[sourceQuestionList]="sourceQuestionList"
						#sConditionals
						[optionList]="thisQuestion[0].children"
						[questionOptions]="questionOptions"
						[sourceGroup]="conditionals[getConditionalIndex(i)].rhs"
						[questionPartId]="questionBeingEdited.questionPart.id"
						[questionType]="questionType.typeName"
						[responseType]="questionType.responseType"
						(setBoundsSelected)="showLocationBoundsModal($event)"
					></app-conditional>
				</div>
				<div class="row">
					<div class="col-md-12">
						<hr class="edit-separator-hr" />
					</div>
				</div>
			</div>
			<div class="conditional-operator" *ngIf="!isLast">
				<ng-select
					[items]="operators"
					#operators
					[(ngModel)]="conditionals[i].operatorType"
				></ng-select>
			</div>
		</div>
	</div>
	<br />
	<div class="row justify-content-center">
		<div>
			<button
				type="button"
				class="btn btn-primary"
				(click)="addSourceConditional()"
			>
				<i class="fas fa-plus-circle"></i> Add Conditional
			</button>
		</div>
	</div>
</div>

<div
	class="modal fade"
	bsModal
	#locationModal="bs-modal"
	(onShown)="locationBoundsShown()"
	[config]="{ backdrop: 'static' }"
	tabindex="-1"
>
	<div
		class="modal-dialog modal-lg"
		*ngIf="questionType.responseType == questionTypes.Location"
	>
		<div class="modal-content">
			<div class="modal-body">
				<div class="map-container">
					<mgl-map
						#mapbox
						[style]="'mapbox://styles/mapbox/streets-v9'"
					>
					</mgl-map>
				</div>
				<div>
					<button
						type="button"
						class="btn btn-danger"
						data-dismiss="modal"
						(click)="saveBounds()"
					>
						<i class="fas fa-eye"></i>Set Bounds
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
