.cal-event {
	border-right: solid 1px #ddd !important;
	border-top: solid 1px #ddd !important;
	border-bottom: solid 1px #ddd !important;
	border-left-width: 4px !important;
	background: white !important;
	background-color: rgb(209, 232, 255);
	padding: 20px;
	display: flex;

	-webkit-box-shadow: 10px 10px 24px -21px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 24px -21px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 24px -21px rgba(0, 0, 0, 0.75);
	border-radius: 5px;
}

.cal-event-title {
	font-size: 18px;
}
mwl-calendar-event-title {
	display: flex;
}

.cal-week-view .cal-time-events .cal-event {
	width: 94%;
	position: relative;
	left: 10px;
}

.cal-time-label-column .cal-hour-segment {
	border: none;
}

.cal-event-container {
    width: calc(100% - 40px);
}

.customt-event-title {
	i {
		color: #de4c4c;
	}
	margin: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	.event-purpose {
		text-transform: uppercase;
		// flex-grow: 1;
		color: #333;
		font-size: 16px;
		font-weight: bold;
	}
	.event-name {
		//flex-grow: 1;
		font-size: 30px;
		font-weight: bold;
		color: #333;
	}
	.event-address {
		// flex-grow: 1;
		color: #333;
		font-size: 24px;
	}
}
