<div bsModal #newEntryModal="bs-modal" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left" *ngIf="dialogMode === dialogModeNew">New Event</h4>
				<h4 class="modal-title pull-left" *ngIf="dialogMode === dialogModeEdit">Edit Event</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form #eventForm="ngForm" validate>
					<div class="form-group row">
						<div class="col-12">
							<label for="name" class="col-form-label">Name</label>
							<input
								class="form-control"
								type="text"
								[(ngModel)]="model.name"
								name="name"
								minlength="4"
								id="name"
								placeholder="Enter a name"
								required
							/>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12">
							<label for="purpose" class="col-form-label">Purpose</label>
							<ng-select
								appearance="outline"
								#purposeSelect
								[(ngModel)]="model.purpose"
								[items]="purposes"
								name="purpose"
								[selectOnTab]="true"
								labelForId="purpose"
								bindLabel="label"
								bindValue="id"
								placeholder="Select Purpose"
								required
							>
								<!---->
								<!---->
							</ng-select>
						</div>
					</div>
					<div class="form-group row" *ngIf="!isFirstEventInDay">
						<div class="col-12">
							<label for="mode" class="col-form-label">Travel Mode</label>
							<ng-select
								appearance="outline"
								#purposeSelect
								[(ngModel)]="model.mode"
								(change)="model.mode = $event.id"
								[items]="modes"
								name="mode"
								[selectOnTab]="true"
								labelForId="mode"
								bindLabel="label"
								bindValue="id"
								placeholder="Select Travel Mode"
								required
							>
							</ng-select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12">
							<label for="members" class="col-form-label">Members</label>
							<ng-select
								appearance="outline"
								#memberSelect
								[items]="users | async"
								name="members"
								(change)="onMembersChanged($event)"
								[(ngModel)]="model.users"
								[multiple]="true"
								bindLabel="name"
								[selectOnTab]="true"
								labelForId="members"
								placeholder="Select Household Members"
								required
							>
							</ng-select>
						</div>
					</div>

					<div class="form-group row" *ngIf="!isFirstEventInDay">
						<div class="col-12">
							<label for="timeA" class="col-form-label">Departure Time</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="inputGroupPrepend2"
										><i class="far fa-clock"></i
									></span>
								</div>
								<input
									id="timeA"
									type="text"
									class="form-control"
									name="timeA"
									mwlFlatpickr
									(ngModelChange)="onDepartureTimeChange($event)"
									[(ngModel)]="model.timeA"
									[noCalendar]="true"
									[enableTime]="true"
									dateFormat="H:i"
									aria-describedby="inputGroupPrepend2"
									[convertModelValue]="true"
									required
								/>
							</div>
						</div>
					</div>
					<div
						class="form-group row return-confirm"
						*ngIf="isInsertedDepartureTime && dialogMode !== dialogModeEdit"
					>
						<div class="col-12">
							<div class="confirm-label col-form-label" *ngIf="!isInsertedDepartureTime">
								Did you return to the previous event ?
							</div>
							<div class="confirm-label col-form-label" *ngIf="isInsertedDepartureTime">
								Did you return to the previous event [{{ insertedIntoEvent?.meta.model.name }}] ?
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input
									type="radio"
									id="insertRadioYes"
									name="insertRadio"
									[value]="true"
									(change)="onInsertionConfirm($event)"
									[(ngModel)]="model.isInserted"
									class="custom-control-input"
									required
								/>
								<label class="custom-control-label" for="insertRadioYes">Yes</label>
							</div>
							<div class="custom-control custom-radio custom-control-inline">
								<input
									type="radio"
									id="insertRadioNo"
									name="insertRadio"
									[value]="false"
									(change)="onInsertionConfirm($event)"
									[(ngModel)]="model.isInserted"
									class="custom-control-input"
									required
								/>
								<label class="custom-control-label" for="insertRadioNo">No</label>
							</div>
						</div>
					</div>
					<div class="form-group row" *ngIf="model.isInserted">
						<div class="col-12">
							<label for="timeA" class="col-form-label">Return Time</label>
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="insertedEndTime"
										><i class="far fa-clock"></i
									></span>
								</div>
								<input
									id="insertedEndTime"
									type="text"
									class="form-control"
									name="insertedEndTime"
									mwlFlatpickr
									(change)="onReturnTimeChange($event)"
									[(ngModel)]="model.insertedEndTime"
									[noCalendar]="true"
									[enableTime]="true"
									dateFormat="H:i"
									aria-describedby="insertedEndTime"
									[convertModelValue]="true"
									required
								/>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12">
							<label for="location" class="col-form-label">Location</label>

							<ng-select
								name="location"
								[items]="addresses | async"
								[hideSelected]="true"
								bindLabel="place_name"
								[minTermLength]="4"
								typeToSearchText="Search for location"
								[typeahead]="addressInput"
								(focus)="searchFocus()"
								minlength="10"
								placeholder="Search for location"
								aria-describedby="inputGroupPrepend3"
								[ngModel]="model.address"
								(change)="locationChanged($event)"
								required
							>
								<ng-template ng-label-tmp let-item="item">
									{{ item.streetNumber }} {{ item.streetAddress }},  {{ item.city }}
								</ng-template>
							</ng-select>
							<div [hidden]="!searchInFocus">
								<ng-template #mapTemplate>
									<ng-container #container></ng-container>
								</ng-template>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<span class="delete-container">
					<button
						*ngIf="dialogMode === dialogModeEdit"
						type="button"
						class="btn btn-danger"
						(click)="delete()"
					>
						Delete
					</button>
				</span>
				<button type="button" class="btn btn-default" (click)="hide()">
					Cancel
				</button>
				<button
					type="button"
					[class.disabled]="!eventForm.valid"
					class="btn btn-primary"
					[disabled]="!eventForm.valid"
					(click)="dialogSave()"
				>
					Save
				</button>
			</div>
		</div>
	</div>
</div>
