<div bsModal #newEntryModal="bs-modal" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left" *ngIf="dialogMode === dialogModeNew">New Event</h4>
				<h4 class="modal-title pull-left" *ngIf="dialogMode === dialogModeEdit">Edit Event</h4>
				<button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form #eventForm="ngForm" validate>
					<div class="form-group row">
						<div class="col-12">
							<label for="name" class="col-form-label">Name</label>
							<input
								class="form-control"
								type="text"
								[(ngModel)]="model.name"
								name="name"
								minlength="4"
								id="name"
								placeholder="Enter a name"
								required
							/>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12">
							<label for="purpose" class="col-form-label">Purpose</label>
							<ng-select
								appearance="outline"
								#purposeSelect
								[(ngModel)]="model.purpose"
								[items]="purposes"
								name="purpose"
								[selectOnTab]="true"
								labelForId="purpose"
								bindLabel="label"
								bindValue="id"
								placeholder="Select Purpose"
								required
							>
								<!---->
								<!---->
							</ng-select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12">
							<label for="mode" class="col-form-label">Mode</label>
							<ng-select
								appearance="outline"
								#purposeSelect
								[(ngModel)]="model.mode"
								(change)="model.mode = $event.id"
								[items]="modes"
								name="mode"
								[selectOnTab]="true"
								labelForId="mode"
								bindLabel="label"
								bindValue="id"
								placeholder="Select Travel Mode"
								required
							>
							</ng-select>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12">
							<label for="members" class="col-form-label">Members</label>
							<ng-select
								appearance="outline"
								#memberSelect
								[items]="users | async"
								name="members"
								[(ngModel)]="model.users"
								[multiple]="true"
								bindLabel="name"
								[selectOnTab]="true"
								labelForId="members"
								placeholder="Select Household Members"
								required
							>
							</ng-select>
						</div>
					</div>
					<div class="form-group row return-confirm">
						<div class="col-12">
							<div class="confirm-label col-form-label">Did you return to the previous event?</div>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-12">
							<label for="timeA" class="col-form-label">Departure Time</label>
							<input
								id="timeA"
								type="text"
								class="form-control"
								name="timeA"
								mwlFlatpickr
								[(ngModel)]="model.timeA"
								[noCalendar]="true"
								[enableTime]="true"
								dateFormat="H:i"
								[convertModelValue]="true"
								required
							/>
						</div>
					</div>

					<div class="custom-control custom-radio custom-control-inline">
						<input
							type="radio"
							id="customRadioInline1"
							name="customRadioInline1"
							class="custom-control-input"
						/>
						<label class="custom-control-label" for="customRadioInline1">Toggle this custom radio</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input
							type="radio"
							id="customRadioInline2"
							name="customRadioInline1"
							class="custom-control-input"
						/>
						<label class="custom-control-label" for="customRadioInline2"
							>Or toggle this other custom radio</label
						>
					</div>

					<div class="form-group row">
						<div class="col-12">
							<label for="location" class="col-form-label">Location</label>
							<ng-select
								name="location"
								[items]="addresses | async"
								[hideSelected]="true"
								bindLabel="place_name"
								[minTermLength]="4"
								typeToSearchText="Search for location"
								[typeahead]="addressInput"
								(focus)="searchFocus()"
								minlength="10"
								placeholder="Search for location"
								(change)="locationChanged($event)"
								required
							>
							</ng-select>
							<div [hidden]="!searchInFocus">
								<ng-template #mapTemplate>
									<ng-container #container></ng-container>
								</ng-template>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<span class="delete-container">
					<button
						*ngIf="dialogMode === dialogModeEdit"
						type="button"
						class="btn btn-danger"
						(click)="delete()"
					>
						Delete
					</button>
				</span>
				<button type="button" class="btn btn-default" (click)="hide()">
					Cancel
				</button>
				<button
					type="button"
					[class.disabled]="!eventForm.valid"
					class="btn btn-primary"
					[disabled]="!eventForm.valid"
					(click)="dialogSave()"
				>
					Save
				</button>
			</div>
		</div>
	</div>
</div>
