@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~flatpickr/dist/flatpickr.css';

form :not(.ng-pristine).ng-invalid {
	border: solid 1px red;
}

btn.disabled {
	cursor: default;
}

.delete-container {
	flex-grow: 1;
}

form .ng-invalid {
	border: solid 1px red;
}

.invalid-feedback {
	margin-top: 10px;
    height: 30px;
}

.ng-invalid + .invalid-feedback {
	display: block;
}
.ng-valid + .invalid-feedback {
	display: none;
}

.info-feedback {
	
}