@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~flatpickr/dist/flatpickr.css';
:host {
}

form :not(.ng-pristine).ng-invalid {
	border: solid 1px red;
}

btn.disabled {
	cursor: default;
}

.delete-container {
	flex-grow: 1;
}

form .ng-invalid {
	border: solid 1px red;
}
