
.event-display-container {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 1) 30%,
		rgba(0, 212, 255, 0) 100%
	);
}

.event-message-group, .no-mode-message {
	font-size: 14px;
	margin-bottom: 15px;
	color: #b5b5b5;
	font-weight: 600;
	line-height: 20px;
	white-space: break-spaces;
	color: #676767;
}


:host.event-home-all-day {
	background-image: linear-gradient(
		135deg,
		#ffffff 32.76%,
		#f2f8fc 32.76%,
		#f2f8fc 50%,
		#ffffff 50%,
		#ffffff 82.76%,
		#f2f8fc 82.76%,
		#f2f8fc 100%
	);
	background-size: 82.02px 82.02px; 
}

.invalid-icon {
	font-size: 14px;
}

.event-address {
	font-size: 14px;
}