#conditionals {
	min-height: 500px;
}

#questionText {
	.ql-tooltip {
		z-index: 1 !important;
	}
	.ql-container {
		height: auto;
	}

	.ql-ngx-tree {
		.dropdown {
			width: unset;
			height: 17px;
		}
	}
	.pipe-button {
		float:unset
	}

	height: auto !important;
	padding: 0px !important;
}
