.admin-toolbar {
	display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}


traisi-admin-toolbar {
	position: fixed;
    right: 10px;
	bottom: 0;
	height: 35px;
}